<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색 목록</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="icon" href="/image/logo/favicon.png">
    <link rel="stylesheet" href="/css/board/proposal/modify-list.css">
    <style>
        @media (min-width: 1024px){
            .content-li {
                width: 33.333333%;
            }
        }    
    </style>
</head>

<body>
<div>
    <th:block th:replace="~{main/header :: header}"></th:block>

    <div class="list-wrap">
        <div class="list-container">
            <div style="position: relative;">
                <div class="list-title-box">
                    <div class="list-title-layout">
                        <h2 class="list-title">단체 챌린지 게시판 목록</h2>
                        <div class="list-sub-title">하고싶은 챌린지를 선택해보세요.</div>
                    </div>
                </div>
                <div class="list-content-box">
                    <section class="list-content-wrap">
                        <div class="popularity-button-box">
                            <button class="btn recent active" th:href="@{/board/challenge/group/list}">더보기</button>
                        </div>
                        <div>
                            <div style="height:auto; overflow:auto" th:each="groupChallengeDTO : ${groupChallengeDTOS}">
                                <div style="overflow:hidden">
                                    <ul class="content-ul">
                                        <!-- 여기서 부터 -->
                                        <li class="content-li">
                                            <div class="content-flex">
                                                <a th:href="@{/board/challenge/group/detail/{groupChallengeId}(groupChallengeId=${groupChallengeDTO.id})}">
                                                    <div class="content-box">
                                                        <div class="content-image-box">
                                                                <span class="content-image-layout">
                                                                    <picture class="groupChallenge_img">
<!--                                                                        <img-->
<!--                                                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">-->
                                                                    </picture>
                                                                </span>
                                                        </div>
                                                        <div class="content-title" th:text="${groupChallengeDTO.boardTitle}">
                                                            임종욱
                                                        </div>
                                                        <div class="content2" th:text="${groupChallengeDTO.boardContent}">
                                                            상시 이벤트
                                                        </div>
                                                        <div class="liked-box">
                                                            <div class="flex">
                                                                <div class="liked-layout">
                                                                    <div class="icon-box">
                                                                        <img src="/image/board/human-icon.png"class="human-icon">
                                                                    </div>
                                                                    <p class="like-count" th:text="${groupChallengeDTO.attendCount}">5771</p>
                                                                </div>
                                                                <div class="liked-layout">
                                                                    <div class="icon-box">
                                                                        <img src="/image/board/reply-icon.png" class="reply-icon">
                                                                    </div>
                                                                    <p class="reply-count" th:text="${groupChallengeDTO.replyCount}">97</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <!--  -->
                                        <!--  -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--아무것도 없을때 나오는 곳-->
                    <div class="not-search" name="groupChallengeNotSearch">
                        <span class="not-search-span">
                            검색 결과가 없습니다.
                        </span>
                    </div>
                </div>
                <div class="list-title-box">
                    <div class="list-title-layout">
                        <h2 class="list-title">제안 게시판 목록</h2>
                        <div class="list-sub-title">하고싶은 챌린지를 제안해보세요.</div>
                    </div>
                </div>
                <div class="list-content-box">
                    <section class="list-content-wrap">
                        <div class="popularity-button-box">
                            <button class="btn recent active" th:href="@{/board/suggest/list}">더보기</button>
                        </div>
                        <div th:each="suggestDTO : ${suggestDTOS}">
                            <div style="height:auto; overflow:auto">
                                <div style="overflow:hidden">
                                    <ul class="content-ul">
                                        <!-- 여기서 부터 -->
                                        <li class="content-li">
                                            <div class="content-flex">
                                                <a th:href="@{/board/suggest/detail/{suggestId}(suggestId=${suggestDTO.id})}">
                                                    <div class="content-box">
                                                        <div class="content-image-box">
                                                                <span class="content-image-layout">
                                                                    <picture class="suggest_img">
<!--                                                                        <img-->
<!--                                                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">-->
                                                                    </picture>
                                                                </span>
                                                        </div>
                                                        <div class="content-title" th:text="${suggestDTO.boardTitle}">
                                                            임종욱
                                                        </div>
                                                        <div class="content2" th:text="${suggestDTO.boardContent}">
                                                            상시 이벤트
                                                        </div>
                                                        <div class="liked-box">
                                                            <div class="flex">
                                                                <div class="liked-layout">
                                                                    <div class="icon-box">
                                                                        <img src="/image/board/human-icon.png"class="human-icon">
                                                                    </div>
                                                                    <p class="like-count" th:text="${suggestDTO.likeCount}">5771</p>
                                                                </div>
                                                                <div class="liked-layout">
                                                                    <div class="icon-box">
                                                                        <img src="/image/board/reply-icon.png" class="reply-icon">
                                                                    </div>
                                                                    <p class="reply-count" th:text="${suggestDTO.replyCount}">97</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        </li>
                                        <!--  -->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!--아무것도 없을때 나오는 곳-->
                    <div class="not-search" name="suggestNotSearch">
                        <span class="not-search-span">
                            검색 결과가 없습니다.
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <th:block th:replace="~{main/footer :: footer}"></th:block>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    $(".btn").each((i, e) => {

        $(e).click(() => {
            if(!$(e).hasClass("active")){
                $(".btn").removeClass("active");
                $(e).addClass("active");
            }else {
                $(e).removeClass("active");
            }
        });
    });

    const groupChallengeDTO = [[${groupChallengeDTO}]];
    const suggestDTO = [[${suggestDTO}]];

    let fileDTOSGroup = groupChallengeDTO.fileDTOS;
    let fileDTOSSuggest = suggestDTO.fileDTOS;

    fileDTOSGroup.forEach((fileDTO, i) => {
        let text = `
        <li class="img_div">
            <img src="/file/display?fileName=${fileDTO.filePath}/${fileDTO.fileUuid}_${fileDTO.fileOriginalName}" class="inserted_img">
        </li>
   `;

        $(".groupChallenge_img").append(text);
    });
    fileDTOSSuggest.forEach((fileDTO, i) => {
        let text = `
        <li class="img_div">
            <img src="/file/display?fileName=${fileDTO.filePath}/${fileDTO.fileUuid}_${fileDTO.fileOriginalName}" class="inserted_img">
        </li>
   `;

        $(".suggest_img").append(text);
    });

    if (groupChallengeDTO == null) {
        const notSearchElement = document.querySelector('[name="groupChallengeNotSearch"]');
        if (notSearchElement) {
            notSearchElement.style.display = 'block';
        }
    }

    if (suggestDTO == null) {
        const notSearchElement = document.querySelector('[name="suggestNotSearch"]');
        if (notSearchElement) {
            notSearchElement.style.display = 'block';
        }
    }
</script>
</html>