<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지- 다이어리 게시물 좋아요</title>
    <link rel="stylesheet" href="/css/mypage/side-menu.css">
    <link rel="stylesheet" href="/css/mypage/user-header.css">
    <link rel="stylesheet" href="/css/mypage/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="icon" href="/image/logo/favicon.png">
    <link rel="stylesheet" href="/css/mypage/like-list.css">
</head>
<body>
    <div>
        <!-- main/header.html -->
        <div id="header" style="position: sticky; top: 0; z-index: 100;" th:insert="~{main/header :: header}"></div>

        <div>
            <div class="mypage-all-wrap">
                <!-- user-header.html -->
                <div id="mypage-header" th:replace="~{mypage/user-header :: user-header}"></div>

                <div class="mypage-content-wrap">

                    <!-- side-menu.html -->
                    <div id="side-menu" th:replace="~{mypage/side-menu ::sidebar}"></div>
                    
                    <div class="mypage-content-container">
                        <div class="mypage-content-box">
                            <section>
                                <div class="content-title-box">
                                    <div class="flex-center">
                                        <h1 class="content-list-title">내가 좋아요한 다이어리 게시물</h1>
                                    </div>
                                </div>
                                <!-- <div class="no-content-box">
                                    <div class="no-content-layout">
                                        <p>좋아요한 게시물이 없습니다.</p>
                                    </div>
                                </div> -->
                                <div class="list-margin">
                                    <div class="list-box">
                                        <ul class="list-box-ul">
<!--                                            &lt;!&ndash; 여기부터 &ndash;&gt;-->
<!--                                            <li class="content-li">-->
<!--                                                <a href="javascript:void(0)">-->
<!--                                                    <div class="content-image">-->
<!--                                                        <span class="content-image-span">-->
<!--                                                            <picture class="picture-postion">-->
<!--                                                                <img src="https://cdn.class101.net/images/6af8c670-27e7-4a45-88b0-d133791b5242/375xauto.webp">-->
<!--                                                            </picture>-->
<!--                                                            <div class="heart-box">-->
<!--                                                                <button class="heart-layout">-->
<!--                                                                    <span class="auto-flex  heart-active no-heart" style="display: none;">-->
<!--                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M20.5 9c0-2-1.5-3.9-3.7-3.9-2.3 0-3.8 1.63-4.8 3.33-1-1.7-2.5-3.33-4.8-3.33C5 5.1 3.5 6.867 3.5 9c0 4.62 4.949 7.667 8.5 9.623 3.551-1.956 8.5-5.003 8.5-9.623zm-19-.176C1.5 5.607 3.962 3 7 3c2.7 0 4 1 5 2.2C13 4 14.3 3 17 3c3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#FFF"></path></svg>-->
<!--                                                                    </span>-->
<!--                                                                    <span class="auto-flex heart-up">-->
<!--                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#fd3049"></path></svg>-->
<!--                                                                    </span>-->
<!--                                                                </button>-->
<!--                                                            </div>-->
<!--                                                        </span>-->
<!--                                                    </div>-->
<!--&lt;!&ndash;                                                    <div class="content-title">&ndash;&gt;-->
<!--&lt;!&ndash;                                                        게임업계에 관심 있다면?&ndash;&gt;-->
<!--&lt;!&ndash;                                                    </div>&ndash;&gt;-->
<!--                                                    <div class="content2">-->
<!--                                                        상시 이벤트-->
<!--                                                    </div>-->
<!--                                                    <div class="liked-box">-->
<!--                                                        <div class="flex">-->
<!--                                                            <div class="liked-layout">-->
<!--                                                                <div class="icon-box">-->
<!--                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z" fill="#d7d7d7"></path></svg>-->
<!--                                                                </div>-->
<!--                                                                <p class="like-count">5771</p> -->
<!--                                                            </div>-->
<!--                                                            <div class="liked-layout">-->
<!--                                                                <div class="icon-box">-->
<!--                                                                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z" fill="#d7d7d7"></path></svg>-->
<!--                                                                </div>-->
<!--                                                                <p class="reply-count">97</p>-->
<!--                                                            </div>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                </a>-->
<!--                                            </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </section>
                            <div class="paging-box">
                                <div class="paging-layout">
<!--                                    <a href="javascript:void(0)">-->
<!--                                        <img src="/image/mypage/arrow.png" class="prev">-->
<!--                                    </a>-->
<!--                                    <div class="paging-border-none paging-active">-->
<!--                                        <a href="javascript:void(0)">-->
<!--                                            <span class="page">1</span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="paging-border-none">-->
<!--                                        <a href="javascript:void(0)">-->
<!--                                            <span class="page">2</span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <div class="paging-border-none">-->
<!--                                        <a href="javascript:void(0)">-->
<!--                                            <span class="page">3</span>-->
<!--                                        </a>-->
<!--                                    </div>-->
<!--                                    <a href="javascript:void(0)">-->
<!--                                        <img src="/image/mypage/arrow.png" class="next">-->
<!--                                    </a>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main/footer.html -->
        <div id="footer" th:insert="~{main/footer :: footer}"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let badgeType = [[${session.member.badgeType}]];
    let member = [[${session.member}]];
</script>
<script src="/js/mypage/diary-like-list.js"></script>
<script src="/js/board/suggest/like-service.js"></script>
<script>
    // 좋아요 버튼
    $ul.on("click","button.heart-layout",function(e){
        let boardId = e.currentTarget.id.replaceAll("heart","");
        let ul = $(e.currentTarget).parent().parent().parent().parent().parent().parent();
        console.log(ul);
        let li = $(e.currentTarget).parent().parent().parent().parent().parent();
        console.log(li);
        let i = ul.find("li").index(li);

        let likeDTO = new Object();
        likeDTO.memberId = memberId;
        likeDTO.boardId = boardId;

        likeService.heartCheck(likeDTO, function(result){
            if(result){
                // 좋아요 ++
                likeService.heartUp(likeDTO, function(){
                    $($(".no-heart")[i]).addClass("heart-active");
                    $($(".heart-up")[i]).show();
                    $($(".no-heart")[i]).hide();
                    likeService.count({boardId: boardId}, function (result) {
                        $($(".like-count")[i]).text(result);
                    });
                });
            } else {
                // 좋아요 --
                likeService.heartDown(likeDTO, function(){
                    $($(".heart-up")[i]).hide();
                    $($(".no-heart")[i]).show();
                    $($(".no-heart")[i]).removeClass("heart-active");
                    likeService.count({boardId: boardId}, function (result) {
                        $($(".like-count")[i]).text(result);
                    })
                });
            }
        });

    });
</script>
</html>