<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그룹 챌린지 목록</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="icon" href="/static/image/logo/logo.png">
    <link rel="stylesheet" href="/static/css/mypage/challeng-list.css">
</head>
<body>
    <div>
        <!-- main/header.html -->
        <div id="header" style="position: sticky; top: 0; z-index: 100;"></div>

        <div>
            <div class="mypage-all-wrap">
                <!-- user-header.html -->
                <div id="mypage-header"></div>

                <div class="mypage-content-wrap">
                    <!-- side-menu.html -->
                    <div id="side-menu"></div>

                    <div class="mypage-content-container">
                        <div class="mypage-content-box">
                            <section>
                                <div class="content-title-box">
                                    <div class="flex-center">
                                        <h1 class="content-list-title">내 그룹 챌린지</h1>
                                    </div>
                                    <div class="organize-button-box">
                                        <div class="organize-button-layout">
                                            <button class="btn proceed-challenge" type="button">진행 중인 챌린지</button>
                                            <button class="btn end-challenge" type="button">종료된 챌린지</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="no-content-box">
                                    <div class="no-content-layout">
                                        <p>현재 도전 중인 챌린지가 없습니다.</p>
                                    </div>
                                </div> -->
                                <div>
                                    <div style="height:auto; overflow:auto">
                                        <div style="overflow:hidden">
                                            <ul class="content-ul">
                                                <!-- 여기서 부터 -->
                                                <li class="content-li">
                                                    <div class="content-flex">
                                                        <a href="javascript:void(0)">
                                                            <div class="content-box">
                                                                <div class="content-image-box">
                                                                    <span class="content-image-layout">
                                                                        <picture>
                                                                            <img
                                                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
                                                                        </picture>
                                                                    </span>
                                                                </div>
                                                                <div class="content-title">
                                                                    게임업계에 관심 있다면?
                                                                </div>
                                                                <div class="content2">
                                                                    상시 이벤트
                                                                </div>
                                                                <div class="liked-box">
                                                                    <div class="between">
                                                                        <div class="flex">
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="like-count">5771</p>
                                                                            </div>
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="reply-count">97</p>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <p class="proceed-status no-proceed-status">진행 중</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <!-- 여기서 부터 -->
                                                <li class="content-li">
                                                    <div class="content-flex">
                                                        <a href="javascript:void(0)">
                                                            <div class="content-box">
                                                                <div class="content-image-box">
                                                                    <span class="content-image-layout">
                                                                        <picture>
                                                                            <img
                                                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
                                                                        </picture>
                                                                    </span>
                                                                </div>
                                                                <div class="content-title">
                                                                    게임업계에 관심 있다면?
                                                                </div>
                                                                <div class="content2">
                                                                    상시 이벤트
                                                                </div>
                                                                <div class="liked-box">
                                                                    <div class="between">
                                                                        <div class="flex">
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="like-count">5771</p>
                                                                            </div>
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="reply-count">97</p>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <p class="proceed-status no-proceed-status">진행 중</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <!-- 여기서 부터 -->
                                                <li class="content-li">
                                                    <div class="content-flex">
                                                        <a href="javascript:void(0)">
                                                            <div class="content-box">
                                                                <div class="content-image-box">
                                                                    <span class="content-image-layout">
                                                                        <picture>
                                                                            <img
                                                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
                                                                        </picture>
                                                                    </span>
                                                                </div>
                                                                <div class="content-title">
                                                                    게임업계에 관심 있다면?
                                                                </div>
                                                                <div class="content2">
                                                                    상시 이벤트
                                                                </div>
                                                                <div class="liked-box">
                                                                    <div class="between">
                                                                        <div class="flex">
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="like-count">5771</p>
                                                                            </div>
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="reply-count">97</p>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <p class="proceed-status no-proceed-status">진행 중</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <!-- 여기서 부터 -->
                                                <li class="content-li">
                                                    <div class="content-flex">
                                                        <a href="javascript:void(0)">
                                                            <div class="content-box">
                                                                <div class="content-image-box">
                                                                    <span class="content-image-layout">
                                                                        <picture>
                                                                            <img
                                                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
                                                                        </picture>
                                                                    </span>
                                                                </div>
                                                                <div class="content-title">
                                                                    게임업계에 관심 있다면?
                                                                </div>
                                                                <div class="content2">
                                                                    상시 이벤트
                                                                </div>
                                                                <div class="liked-box">
                                                                    <div class="between">
                                                                        <div class="flex">
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="like-count">5771</p>
                                                                            </div>
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="reply-count">97</p>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <p class="proceed-status no-proceed-status">진행 중</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <!-- 여기서 부터 -->
                                                <li class="content-li">
                                                    <div class="content-flex">
                                                        <a href="javascript:void(0)">
                                                            <div class="content-box">
                                                                <div class="content-image-box">
                                                                    <span class="content-image-layout">
                                                                        <picture>
                                                                            <img
                                                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
                                                                        </picture>
                                                                    </span>
                                                                </div>
                                                                <div class="content-title">
                                                                    게임업계에 관심 있다면?
                                                                </div>
                                                                <div class="content2">
                                                                    상시 이벤트
                                                                </div>
                                                                <div class="liked-box">
                                                                    <div class="between">
                                                                        <div class="flex">
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="like-count">5771</p>
                                                                            </div>
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="reply-count">97</p>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <p class="proceed-status no-proceed-status">진행 중</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <!-- 여기서 부터 -->
                                                <li class="content-li">
                                                    <div class="content-flex">
                                                        <a href="javascript:void(0)">
                                                            <div class="content-box">
                                                                <div class="content-image-box">
                                                                    <span class="content-image-layout">
                                                                        <picture>
                                                                            <img
                                                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
                                                                        </picture>
                                                                    </span>
                                                                </div>
                                                                <div class="content-title">
                                                                    게임업계에 관심 있다면?
                                                                </div>
                                                                <div class="content2">
                                                                    상시 이벤트
                                                                </div>
                                                                <div class="liked-box">
                                                                    <div class="between">
                                                                        <div class="flex">
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="like-count">5771</p>
                                                                            </div>
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="reply-count">97</p>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <p class="proceed-status no-proceed-status">진행 중</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <!-- 여기서 부터 -->
                                                <li class="content-li">
                                                    <div class="content-flex">
                                                        <a href="javascript:void(0)">
                                                            <div class="content-box">
                                                                <div class="content-image-box">
                                                                    <span class="content-image-layout">
                                                                        <picture>
                                                                            <img
                                                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
                                                                        </picture>
                                                                    </span>
                                                                </div>
                                                                <div class="content-title">
                                                                    게임업계에 관심 있다면?
                                                                </div>
                                                                <div class="content2">
                                                                    상시 이벤트
                                                                </div>
                                                                <div class="liked-box">
                                                                    <div class="between">
                                                                        <div class="flex">
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="like-count">5771</p>
                                                                            </div>
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="reply-count">97</p>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <p class="proceed-status no-proceed-status">진행 중</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <!-- 여기서 부터 -->
                                                <li class="content-li">
                                                    <div class="content-flex">
                                                        <a href="javascript:void(0)">
                                                            <div class="content-box">
                                                                <div class="content-image-box">
                                                                    <span class="content-image-layout">
                                                                        <picture>
                                                                            <img
                                                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
                                                                        </picture>
                                                                    </span>
                                                                </div>
                                                                <div class="content-title">
                                                                    게임업계에 관심 있다면?
                                                                </div>
                                                                <div class="content2">
                                                                    상시 이벤트
                                                                </div>
                                                                <div class="liked-box">
                                                                    <div class="between">
                                                                        <div class="flex">
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="like-count">5771</p>
                                                                            </div>
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="reply-count">97</p>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <p class="proceed-status yes-proceed-status">완료</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                                <!-- 여기서 부터 -->
                                                <li class="content-li">
                                                    <div class="content-flex">
                                                        <a href="javascript:void(0)">
                                                            <div class="content-box">
                                                                <div class="content-image-box">
                                                                    <span class="content-image-layout">
                                                                        <picture>
                                                                            <img
                                                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
                                                                        </picture>
                                                                    </span>
                                                                </div>
                                                                <div class="content-title">
                                                                    게임업계에 관심 있다면?
                                                                </div>
                                                                <div class="content2">
                                                                    상시 이벤트
                                                                </div>
                                                                <div class="liked-box">
                                                                    <div class="between">
                                                                        <div class="flex">
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="like-count">5771</p>
                                                                            </div>
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="reply-count">97</p>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <p class="proceed-status yes-proceed-status">완료</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>                
                            </section>
                            <section class="pasing-wrapper">
                                <div>
                                    <button icon-position="2" disabled="" class="pasing-button-1 pasing-button-2 pasing-button-3 pasing-button-4 prev" color="default">
                                        <span class="pasing-button-span">
                                            <svg width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M15.5 5.5l-6 6.5 6 6.5L14 20l-7.5-8L14 4l1.5 1.5z" fill="#efefef"></path></svg>
                                        </span>
                                    </button>
                                    <button icon-position="0" class="pasing-button-1 pasing-select pasing-button-3" color="orange" fill="false">
                                        <span class="pasing-button-span">1</span>
                                    </button>
                                    <button icon-position="0" color="white" fill="false" class="pasing-button-1 pasing-button-3 pasing-no-select">
                                        <span class="pasing-button-span">2</span>
                                    </button>
                                    <button icon-position="0" color="white" fill="false" class="pasing-button-1 pasing-button-3 pasing-no-select">
                                        <span class="pasing-button-span">3</span>
                                    </button>
                                    <button icon-position="0" color="white" fill="false" class="pasing-button-1 pasing-button-3 pasing-no-select">
                                        <span class="pasing-button-span">4</span>
                                    </button>
                                    <button icon-position="0" color="white" fill="false" class="pasing-button-1 pasing-button-3 pasing-no-select">
                                        <span class="pasing-button-span">5</span>
                                    </button>
                                    <button icon-position="2" disabled="" class="pasing-button-1 pasing-button-2 pasing-button-3 pasing-button-4 prev" color="default">
                                        <span class="pasing-button-span">
                                            <svg width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z" fill="#1a1a1a"></path></svg>
                                        </span>
                                    </button>
                                </div>
                            </section>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
    $(document).ready(() => {
        $("#header").load("../main/header.html");
        $("#footer").load("../main/footer.html");
        $("#mypage-header").load("user-header.html");
        $("#side-menu").load("side-menu.html");
    });
</script>

</html>