<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인 챌린지 목록</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="icon" href="/image/logo/favicon.png">
    <link rel="stylesheet" href="/css/mypage/challeng-list.css">
    <link rel="stylesheet" href="/css/mypage/side-menu.css">
    <link rel="stylesheet" href="/css/mypage/user-header.css">
    <link rel="stylesheet" href="/css/mypage/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
</head>

<body>
    <div>
        <!-- main/header.html -->
        <div id="header" style="position: sticky; top: 0; z-index: 100;" th:insert="~{mypage/header :: header}"></div>

        <div>
            <div class="mypage-all-wrap">
                <!-- user-header.html -->
                <div id="mypage-header" th:replace="~{mypage/user-header :: user-header}"></div>

                <div class="mypage-content-wrap">
                    <!-- side-menu.html -->
                    <div id="side-menu" th:replace="~{mypage/side-menu :: sidebar}"></div>

                    <div class="mypage-content-container">
                        <div class="mypage-content-box">
                            <section>
                                <div class="content-title-box">
                                    <div class="flex-center">
                                        <h1 class="content-list-title">내 개인 챌린지</h1>
                                    </div>
                                    <div class="organize-button-box">
                                        <div class="organize-button-layout">
                                            <button class="btn proceed-challenge" type="button">진행 중인 챌린지</button>
                                            <button class="btn end-challenge" type="button">완료한 챌린지</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="no-content-box">
                                    <div class="no-content-layout">
                                        <p>현재 도전 중인 챌린지가 없습니다.</p>
                                    </div>
                                </div> -->
                                <div>
                                    <div style="height:auto; overflow:auto">
                                        <div style="overflow:hidden">
                                            <ul class="content-ul">
                                                <!-- 여기서 부터 -->
                                                <li class="content-li">
                                                    <div class="content-flex">
                                                        <a href="javascript:void(0)">
                                                            <div class="content-box">
                                                                <div class="content-image-box">
                                                                    <span class="content-image-layout">
                                                                        <picture>
                                                                            <img
                                                                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
                                                                        </picture>
                                                                    </span>
                                                                </div>
                                                                <div class="content-title">
                                                                    게임업계에 관심 있다면?
                                                                </div>
                                                                <div class="content2">
                                                                    상시 이벤트
                                                                </div>
                                                                <div class="liked-box">
                                                                    <div class="between">
                                                                        <div class="flex">
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <img src="/image/board/human-icon.png"class="human-icon">
                                                                                </div>
                                                                                <p class="like-count">5771</p>
                                                                            </div>
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12"
                                                                                        fill="none" viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="reply-count">97</p>
                                                                            </div>
                                                                        </div>
                                                                        <div>
                                                                            <p class="proceed-status no-proceed-status">
                                                                                진행 중</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="paging-box">
                                <div class="paging-layout">
                                    <a href="javascript:void(0)">
                                        <img src="/image/mypage/arrow.png" class="prev">
                                    </a>
                                    <div class="paging-border-none paging-active">
                                        <a href="javascript:void(0)">
                                            <span class="page">1</span>
                                        </a>
                                    </div>
                                    <div class="paging-border-none">
                                        <a href="javascript:void(0)">
                                            <span class="page">2</span>
                                        </a>
                                    </div>
                                    <div class="paging-border-none">
                                        <a href="javascript:void(0)">
                                            <span class="page">3</span>
                                        </a>
                                    </div>
                                    <a href="javascript:void(0)">
                                        <img src="/image/mypage/arrow.png" class="next">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" th:insert="~{main/footer :: footer}"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
</script>
<script>
    const $page = $(".paging-border-none");

    $page.each((i, e) => {
        $(e).click(() => {
            $page.removeClass("paging-active");
            $(e).addClass("paging-active");
        });
    });
</script>

</html>