<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지-사이드</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/mypage/user-header.css">
</head>
<body>
    <div class="mypage-wrap">
        <header class="mypage-header">
            <div class="mypage-header-layout">
                <div class="mypage-header-profile-box">
                    <a href="javascript:void(0)">
                        <h2 class="profile-name">
                            NickNAME
                        </h2>
                        <div class="memberEmail-box normal-font">
                            <span>hds1234@naver.com</span>      
                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z" fill="#a2a2a2"></path></svg>
                        </div>
                    </a>
                </div>
                <div class="header-banner-box">
                    <a href="javascript:void(0)">
                        <div class="header-image-box">
                            <div class="header-flex-box">
                                <div class="mobile-version-image-box">
                                    <picture class="mobile-version-image">
                                        <img src="https://cdn.class101.net/images/65c02bbd-5fc1-466f-93e3-629d6f396dbe">
                                    </picture>
                                </div>
                                <div class="mypage-banner-image-box">
                                    <picture class="mypage-banner-image">
                                        <img src="https://cdn.class101.net/images/425328af-1c64-4e25-8608-436f3f268470/640xauto.webp">
                                    </picture>
                                </div>
                                <div class="mypage-banner-text-box">
                                    <div class="mypage-banner-main-text">
                                        <h3>배우고 싶은 모든 것,</h3>
                                        <h3>무제한 구독 시작하기</h3>
                                    </div>
                                    <div class="mypage-banner-sub-text">
                                        <span>자유롭게 원하는 클래스를 들어보세요</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </header>
    </div>
</body>
</html>