@charset "utf-8";

.list-wrap {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

.list-container {
    position: relative;
    background-color: rgb(255, 255, 255);
    padding-bottom: 10px;
    margin-left: 24px;
    margin-right: 24px;
}

.list-title-box {
    position: relative;
    background-size: cover;
    background-position: center center;
    min-height: 120px;
}

.list-title-layout {
    padding-right: 24px;
    padding-top: 32px;
}

.list-title {
    font-size: 32px;
    font-weight: bold;
    color: rgb(26, 26, 26);
    line-height: 44px;
    letter-spacing: -0.6px;
    margin: 0px;
}

.list-sub-title {
    font-size: 16px;
    font-weight: normal;
    color: rgb(58, 58, 58);
    line-height: 24px;
    letter-spacing: -0.3px;
    margin: 0px;
    margin-top: 8px
}

.list-content-box {
    position: relative;
    margin-top: 24px;
}

.list-content-wrap {
    margin-bottom: 48px;
}

.popularity-button-box {
    margin-bottom: 16px;
    display: flex;
    justify-content: end;
}

.recent {
    margin-right: 10px;
}

.active {
    font-weight: bold;
}

.content-ul {
    overflow: hidden;
    list-style: none;
    margin: 0px -12px -32px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    place-content: stretch flex-start;
}

.content-li {
    position: relative;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    margin-bottom: 32px;
    box-sizing: border-box;
    width: 50%;
}

.content-flex {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.content-box {
    position: relative;
    width: 100%;
}

.content-image-box {
    overflow: hidden;
    border-radius: 3px;
    margin-bottom: 8px;
}

.content-image-layout {
    display: block;
    position: relative;
    overflow: hidden;
    font-size: 0px;
    padding-top: 75%;
    background: rgb(238, 238, 238);
    border-radius: 3px;
}


picture {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
}

.content-image-layout img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 1;
}

.heart-box {
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

.heart-layout {
    display: inline-flex;
    flex: 0 0 auto;
    vertical-align: middle;
    padding: 0px;
    color: rgb(26, 26, 26);
    background-color: transparent;
    width: 32px;
    height: 32px;
    transition: background-color 0.1s ease 0s;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 100%;
    z-index: 50;
    cursor: pointer;
}

.auto-flex {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-title {
    font-size: 14px;
    font-weight: 700;
    color: rgb(26, 26, 26);
    line-height: 20px;
    letter-spacing: -0.15px;
    margin: 0px;
}

.content2 {
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: rgb(26, 26, 26);
    height: 40px;
    overflow: hidden;
    display: -webkit-box;
    margin: 4px 0px 8px;
}

.liked-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
}

.flex {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
}

.liked-layout {
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: normal;
    margin: 0px 8px 0px 0px;
    display: flex;
    align-items: center;
    color: rgb(162, 162, 162);
}

.icon-box {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    height: 12px;
    margin-right: 2px;
}

.reply-icon{
    margin-right: 3px;
    height: 11px;
    filter: invert(96%) sepia(0%) saturate(16%) hue-rotate(152deg) brightness(95%) contrast(83%);
}

.human-icon{
    height: 10px;
    margin-right: 2px;
    filter: invert(96%) sepia(0%) saturate(16%) hue-rotate(152deg) brightness(95%) contrast(83%);
}


@media (min-width: 1240px) {
    .list-container {
        max-width: 1176px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1024px) {
    .list-title-box {
        min-height: 150px;
    }

    .list-title-layout {
        padding-top: 72px;
    }

    .list-content-box {
        margin-top: 0;
    }

    .content-li {
        width: 25%;
    }
}