<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>챌린지</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/board/challengeWrite.css">
</head>
</head>
<body>
    <div id="next">
        <main>
            <div class="wrap">
                <div class="header-wrap">
                    <div class="header-warp-box">
                        <div class="header-tag">
                            <div class="header-tag-box">
                                <button class="haeder-tag-box-button">
                                    <span class="haeder-tag-box-button-span">
                                        /       
                                    </span>
                                </button>
                            </div>
                            <header class="header-wrap">
                                <div class="header-wrap-box">
                                    <div class="header-box">
                                        <a href="" class="header-box-a" target="_self">
                                            <div class="header-box-logo">
                                                <span class="header-box-logo-span">
                                                    /
                                                </span>
                                            </div>
                                            <div class="header-box-2">
                                                <span class="header-box-2-span">
                                                    /
                                                </span>
                                            </div>
                                        </a>
                                        <div class="header-box-line"></div>
                                        <div class="header-profile">
                                            <div class="header-profile-box">
                                                <div class="profile-wrap">
                                                    <div class="profile-box">
                                                        <picture class="profile-picture">
                                                            <source>
                                                            <img src="/static/image/board/3840xauto.png" alt="profile" class="profile-img" srcset="https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/640xauto 640w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/750xauto 750w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/828xauto 828w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/1080xauto 1080w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/1200xauto 1200w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/1920xauto 1920w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/2048xauto 2048w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/3840xauto 3840w">
                                                        </picture>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </header>
                        </div>
                        <div class="header-line"></div>
                    </div>
                </div>
                <div class="body-wrap">
                    <div class="body-wrap-box">
                        <div class="body-main">
                            <div class="body-main-box">
                                <div class="body-mian-box-in">
                                    <div class="body-mian-box-in-box">
                                        <div class="body-mian-box-in-box-in">
                                            <div class="real-wrap">
                                                <div class="real-wrap-box">
                                                    <div class="real-wrap-box-box">
                                                        <div class="box-header">
                                                            <h3>챌린지 게시물 작성</h3>
                                                        </div>
                                                        <div class="box-main">
                                                            <div class="box-main-wrap">
                                                                <form action="">
                                                                    <div class="box-main-wrpa-list">
                                                                        <p>챌린지 게시물에 대한 내용을 작성해주세요.</p> 
                                                                        <div class="box-line"></div>
                                                                        <div class="box-main-body">
                                                                            <span></span>
                                                                            <div class="editor-wrap">
                                                                                <div class="etitor-wrap-box">
                                                                                    <div class="etitor-toolbar">
                                                                                        <div class="editor-toolbar-1">
                                                                                            <div class="editor-toolbar-1-tab"></div>
                                                                                        </div>
                                                                                        <div class="editor-toolbar-2">
                                                                                            <div class="editor-toolbar-2-group">
                                                                                                <button class="editor-toolbar-2-icons heading" aria-label="Short Heading list"></button>
                                                                                                <button class="editor-toolbar-2-icons bold" aria-label="Bold"></button>
                                                                                                <button class="editor-toolbar-2-icons hrline" aria-label="Line"></button>
                                                                                                <button class="editor-toolbar-2-icons quote" aria-label="Blockquote"></button>
                                                                                                <div class="editor-toolbar-divider"></div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="editor-toolbar-3"></div>
                                                                                    </div>
                                                                                    <div></div>
                                                                                    <div></div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="box-line"></div>
                                                                        <div></div>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="body-main-box-in-box-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="body-line"></div>
                        <footer></footer>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>