<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>챌린지</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/board/challengeWrite.css">
</head>
</head>
<body>
    <div id="next">
        <main>
            <div class="wrap">
                <div class="wrap-contianer">
                    <div class="header-wrap">
                        <div class="header-warp-box">
                            <div class="header-tag">
                                <div class="header-tag-box">
                                    <button class="haeder-tag-box-button">
                                        <span class="haeder-tag-box-button-span">
                                            /       
                                        </span>
                                    </button>
                                </div>
                                <header class="header-wrap">
                                    <div class="header-wrap-box">
                                        <div class="header-box">
                                            <a href="" class="header-box-a" target="_self">
                                                <div class="header-box-logo">
                                                    <span class="header-box-logo-span">
                                                        /
                                                    </span>
                                                </div>
                                                <div class="header-box-2">
                                                    <span class="header-box-2-span">
                                                        /
                                                    </span>
                                                </div>
                                            </a>
                                            <div class="header-box-line"></div>
                                            <div class="header-profile">
                                                <div class="header-profile-box">
                                                    <div class="profile-wrap">
                                                        <div class="profile-box">
                                                            <picture class="profile-picture">
                                                                <source>
                                                                <img src="/static/image/board/3840xauto.png" alt="profile" class="profile-img" srcset="https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/640xauto 640w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/750xauto 750w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/828xauto 828w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/1080xauto 1080w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/1200xauto 1200w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/1920xauto 1920w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/2048xauto 2048w,https://cdn.class101.net/images/cba86b3c-f6a4-42b3-9bbd-bf6c09e49d27/3840xauto 3840w">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                            </div>
                            <div class="header-line"></div>
                        </div>
                    </div>
                    <div class="body-wrap">
                        <div class="body-wrap-box">
                            <div class="board-name">
                                <div class="board-name-line"></div>
                                <div class="board_name-box">
                                    <h2>챌린지 게시판</h2>
                                    <a href="" target="_blank"></a>
                                </div>
                            </div>
                            <div class="body-main">
                                <div class="body-main-box">
                                    <div class="body-mian-box-in">
                                        <div class="body-mian-box-in-box">
                                            <div class="body-mian-box-in-box-in">
                                                <div class="real-wrap">
                                                    <div class="real-wrap-box">
                                                        <div class="real-wrap-box-box">
                                                            <div class="box-header">
                                                                <h3>챌린지 게시물 작성</h3>
                                                            </div>
                                                            <div class="box-main">
                                                                <div class="box-main-wrap">
                                                                    <form action="">
                                                                        <div class="box-main-wrpa-list">
                                                                            <p>챌린지 게시물에 대한 내용을 작성해주세요.</p> 
                                                                            <div class="box-line"></div>
                                                                            <div class="box-main-body">
                                                                                <span class="box-main-body-span"></span>
                                                                                <div class="editor-wrap">
                                                                                    <div class="etitor-wrap-box">
                                                                                        <div class="etitor-toolbar">
                                                                                            <div class="editor-toolbar-1">
                                                                                                <div class="editor-toolbar-1-tab"></div>
                                                                                            </div>
                                                                                            <div class="editor-toolbar-2">
                                                                                                <div class="editor-toolbar-2-group">
                                                                                                    <button class="editor-toolbar-2-icons heading" aria-label="Short Heading list"></button>
                                                                                                    <button class="editor-toolbar-2-icons bold" aria-label="Bold"></button>
                                                                                                    <button class="editor-toolbar-2-icons hrline" aria-label="Line"></button>
                                                                                                    <button class="editor-toolbar-2-icons quote" aria-label="Blockquote"></button>
                                                                                                    <div class="editor-toolbar-divider"></div>
                                                                                                </div>
                                                                                                <div class="editor-toolbar-2-group">
                                                                                                    <button class="editor-toolbar-2-icons bullet-list" aria-label="Unordered list"></button>
                                                                                                    <button class="editor-toolbar-2-icons orderd-list" aria-label="Ordered list"></button>
                                                                                                    <div class="editor-toolbar-divider"></div>
                                                                                                </div>
                                                                                                <div class="editor-toolbar-2-group">
                                                                                                    <button class="editor-toolbar-2-icons image" aria-label="이미지 삽입"></button>
                                                                                                    <button class="editor-toolbar-2-icons link" aria-label="Insert link"></button>
                                                                                                    <div class="editor-toolbar-divider none"></div>
                                                                                                </div>
                                                                                                <div class="editor-toolbar-2-group">
                                                                                                    <button class="editor-toolbar-2-icons none more" ></button>
                                                                                                    <button class="editor-toolbar-2-icons none " ></button>
                                                                                                    <div class="editor-toolbar-divider none"></div>
                                                                                                </div>
                                                                                                <div class="editor-tooltip">
                                                                                                    <div class="arrow"></div>
                                                                                                    <span class="text">Unordered list</span>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="editor-toolbar-3 popup" aria-role="dialog">
                                                                                                <div class="editor-toolbar-3-popup">
                                                                                                    <div>
                                                                                                        <div class="editor-toolbar-3-popup-contianer" aria-label="이미지 삽입">
                                                                                                            <div class="popup-container-1">
                                                                                                                <div class="popup-container-1-file active-1" aria-role="tab" aria-label="파일" tabindex="0" aria-selected="true">파일</div>
                                                                                                                <div class="popup-container-1-adress" aria-role="tab" aria-label="주소" tabindex="-1" aria-selected="false">주소</div>
                                                                                                            </div>                                                          
                                                                                                            <div class="popup-container-2">
                                                                                                                <label for="ImageUrlInput">이미지 주소</label>
                                                                                                                <input type="text" id="ImageUrlInput">
                                                                                                            </div>                                                          
                                                                                                            <div class="popup-container-3 active-3">
                                                                                                                <label for="ImageFileInput">이미지 파일을 선택하세요.</label>
                                                                                                                <span>선택된 파일 없음</span>
                                                                                                                <input type="file" accept="image/*">
                                                                                                                <button class="popup-container-3-button">파일 선택</button>
                                                                                                            </div>      
                                                                                                            <label for="AltTextInput" class="popup-container-label">설명</label>                                                    
                                                                                                            <input type="text" id="AltTextInput">
                                                                                                            <div class="popup-container-buttons">
                                                                                                                <button class="popup-container-button-cancel">취소</button>
                                                                                                                <button class="popup-container-button-confirm">확인</button>
                                                                                                            </div>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="editor-toolbar-4 link-4" aria-role="dialog">
                                                                                                <div class="editor-toolbar-4-link">
                                                                                                    <div aria-label="Insert link">
                                                                                                        <label for="LinkUrlInput">URL</label>
                                                                                                        <input type="text" name="" id="LinkUrlInput">
                                                                                                        <label for="LinkTextInput">Link Text</label>
                                                                                                        <input type="text">
                                                                                                        <div class="link-container-buttons">
                                                                                                            <button class="link-container-button-cancel">Cancel</button>
                                                                                                            <button class="link-container-button-confirm">Ok</button>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <div class="editor-toolbar-5 heading-5" aria-role="dialog">
                                                                                                <div class="editor-toolbar-5-heading">
                                                                                                    <div>
                                                                                                        <ul aria-role="menu" aria-label="Headins">
                                                                                                            <li aria-role="menuitem" data-type="Heading" data-level="2">
                                                                                                                <h2>제목 2</h2>
                                                                                                            </li>
                                                                                                            <li aria-role="menuitem" data-type="Heading" data-level="3">
                                                                                                                <h3>제목 3</h3>
                                                                                                            </li>
                                                                                                            <li aria-role="menuitem" data-type="Paragraph">
                                                                                                                <div>본문</div>
                                                                                                            </li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="editor-main">
                                                                                            <div class="editor-main-container">
                                                                                                <div class="editor-main-container-1">
                                                                                                    <div class="editor-main-container-1-mode editor-active editor-mode ">
                                                                                                        <textarea name="" id="" cols="30" rows="10" class="editor-textarea"></textarea>
                                                                                                        <div class="ProseMirror" contenteditable="true" translate="no">
                                                                                                            <div>
                                                                                                                <br>
                                                                                                            </div>    
                                                                                                        </div>
                                                                                                    </div>
                                                                                                    <div class="editor-mode-splitte"></div>
                                                                                                    <div class="editor-mode-preview">
                                                                                                        <div class="editor-preview-box"></div>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="editor-main-container-2">
                                                                                                    <div class="editor-main-container-2-box">
                                                                                                        <div class="editor-main-container-2-contents ProseMirror" contenteditable="true" translate="no">
                                                                                                            <p>
                                                                                                                <br>
                                                                                                            </p>
                                                                                                        </div>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="editor-context-menu"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="box-line"></div>
                                                                            <div class="editor-button-line">
                                                                                <button type="button" class="cancel-button">
                                                                                    <div class="cancel-bitton-box">
                                                                                        <span class="cancel-button-span">취소하기</span>
                                                                                    </div>
                                                                                </button>
                                                                                <div class="button-line"></div>
                                                                                <button type="submit" class="save-button">
                                                                                    <div class="save-button-box">
                                                                                        <div class="save-button-box-div"></div>
                                                                                        <span class="save-button-span">저장하기</span>
                                                                                        <div class="save-button-box-div"></div>
                                                                                    </div>
                                                                                </button>
                                                                            </div>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="body-main-box-in-box-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="body-line"></div>
                            <footer></footer>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>