@charset "utf-8";

.login{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.header{
    border-radius: 0px;
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
    z-index: 1002;
    top: 0px;
    left: 0px;
    position: sticky;
}
.header_div{
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.real_header{
    border-radius: 0px;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
    z-index: 101;
    top: 0px;
    left: 0px;
    position: sticky;
}
.align{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.div_logo{
    height: 78px;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}
.logo_span{
    height: 24px;
    display: block;
    width: auto;
}
.logo_svg{
    display: block;
    width: auto;
    height: 100%;
    fill: #0c0c0c;
}
.div_img{
    width: 34px;
    height: 34px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    cursor: pointer;
}
.img{
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}
.img_picture{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.img_picture_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.stretch{
    display: flex;
    margin-left: auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}
.login_row{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}
.notice_wrap{
    display: flex;
    width: 100%;
    padding-left: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.notice_wrap_div{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.notice_box{
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.notice_text{
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
}
.notice_text_h4{
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.625rem;
}
.important{
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 2px 6px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
}
.important_div{
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}
.important_h6{
    border-width: 0px;
    color: rgb(255, 93, 0);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
}
.new_101{
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.125rem;
}
.new_102{
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 0.75rem;
    font-weight: 700;
    /* line-height: 1.125rem; */
}
.container-line{
    padding-top: 7px;
}
.year_month_day{
    border-width: 0px;
    color: rgb(148, 148, 148);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.content{
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 2px 6px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
}
.content_p{
    font-size: 1.125rem;
    line-height: 1.875rem;
    font-weight: 400;
    color: rgb(12, 12, 12);
    padding-top: 8px;
}
.content_ul{
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    list-style: none;
}
.content_li{
    margin: 0px 0px 4px;
    padding-left: 24px;
    position: relative;
    color: rgb(12, 12, 12);
}
.content_li::before{
    position: absolute;
    left: 0px;
    top: 0px;
    color: inherit;
    font-weight: inherit;
    content: "";
    width: 4px;
    height: 4px;
    margin-top: 11px;
    margin-left: 10px;
    border-radius: 3px;
    background-color: rgb(12, 12, 12);
}
.desk_101{
    margin-bottom: 0px;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
}
.go_list{
    display: flex;
    padding-top: 14px;
    padding-bottom: 14px;
    flex: 1 1 0%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.return{
    color: rgb(12, 12, 12);
    --system-on-color: #0c0c0c;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 12px;
    padding-right: 12px;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.05);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
}
.return_svg{
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--system-on-color);
}
.return_path{
    fill: var(--system-on-color);
}
.to_list{
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
}