@charset "utf-8";


.header_middle{
    flex: none;
    background-color: #E5E5E5;
    width: 100%;
    height: 1px;
}
.main{
    width: 100%;
    height: 100%;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
}
.login{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.header{
    border-radius: 0px;
    width: 100%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
    z-index: 1002;
    top: 0px;
    left: 0px;
    position: sticky;
}
.header_div{
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.real_header{
    border-radius: 0px;
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
    z-index: 101;
    top: 0px;
    left: 0px;
    position: sticky;
}
.align{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.div_logo{
    height: 78px;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    position: relative;
}
.logo_span{
    height: 24px;
    display: block;
    width: auto;
}
.logo_svg{
    display: block;
    width: auto;
    height: 100%;
    fill: #0c0c0c;
}
.stretch{
    display: flex;
    margin-left: auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}
.stretch_div{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    cursor: pointer;
}
.div_img{
    width: 34px;
    height: 34px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
    cursor: pointer;
}
.img{
    background-color: rgb(248, 248, 248);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}
.img_picture{
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}
.img_picture_img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: top;
}
.row{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}
.div_notice{
    display: flex;
    width: 100%;
    padding-left: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.notice_box{
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 960px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.notice_h4{
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.625rem;
}
.notice_inbox{
    border-radius: 0px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 1px, rgba(0, 0, 0, 0.05) 0px 2px 6px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
}
.login_margin{
    display: flex;
    margin: 17px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.notice_list{
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}
.notice_list_p{
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    cursor: pointer;
}
.important{
    border-width: 0px;
    color: rgb(255, 86, 0);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    cursor: pointer;
}
.important-answer{
    border-width: 0px;
    color: #36f;
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    cursor: pointer;
}
.important_div{
    flex: 0 0 auto;
    background-color: rgb(248, 248, 248);
    width: 100%;
    height: 1px;
}
.center_row{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.left_arrow{
    color: rgb(148, 148, 148);
    --system-on-color: #949494;
    border-radius: 19px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    display: flex;
}
.left_arrow_span{
    display: block;
    width: 18px;
    height: 18px;
}
.left_arrow_svg{
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--system-on-color);
}
.first_button{
    color: rgb(255, 255, 255);
    --system-on-color: #ffffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
    background-color: rgb(255, 93, 0);
    border-radius: 19px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    display: flex;
}
.button_number{
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 0.8125rem;
    font-weight: 700;
    line-height: 1.125rem;
}
.second_button{
    color: rgb(12, 12, 12);
    --system-on-color: #0c0c0c;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 0;
    border-radius: 19px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    display: flex;
}
.right_arrow{
    color: rgb(12, 12, 12);
    --system-on-color: #0c0c0c;
    cursor: pointer;
    transition: opacity 0.2s ease 0s;
    border-radius: 19px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    display: flex;
}
.wid_hei{
    display: block;
    width: 18px;
    height: 18px;
}
.right_arrow_svg{
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--system-on-color);
}
.login_margin_a{
    text-decoration: none;
    color: inherit;
}

.inquire-icon{
    width: 20px;
}