<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta htt4p-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자르-비밀번호 재설정</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/login/change-password.css">
    <link rel="stylesheet" href="/css/login/sign-in.css">
    <link rel="stylesheet" href="/css/mypage/alert.css">
    <link rel="icon" href="/image/logo/favicon.png">
</head>
<body>
    <div>
        <div>
            <header class="header">
                <div class="header_div">
                    <div class="class101_outside">
                        <a onclick="location.href='/main'">
                            <div class="class101_inside">
                                <img style="width: 90px;" src="/image/logo/logo.png">
                            </div>
                        </a>
                    </div>
                </div>
            </header>
        </div>
        <div class="middle_wrap">
            <div class="middle_wrap_div">
                <div class="center">
                    <div class="center_box">
                        <div class="login">
                            <div class="password_div">
                                <h3 class="password_div_h3">비밀번호 재설정</h3>
                            </div>
                            <form style="width: auto; height: auto;" >
                                <div class="form_div">
                                    <label style="display: inline-block;">
                                        <div class="login">
                                            <p class="email_p">비밀번호</p>
                                            <div class="hei_10"></div>
                                            <div class="login">
                                                <div class="password_div">
                                                    <input class="password_input" type="password" name="memberPassword" placeholder="새 비밀번호 입력">
                                                    <div class="password_eye">
                                                        <span class="password_eye_span hide password_span">
                                                            <img id="eye_close" class="eye" src="/image/login/eyes-close.png">
                                                            <img id="eye_open" style="display: none;" class="eye" src="/image/login/eyes_open.png">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="login">
                                                    <p class="password_message">영문 대·소문자/숫자/특수문자 중 2가지 이상 조합, 8자~32자</p>
                                                </div>
                                                <div class="login">
                                                    <p id="red_password" class="waring_email">비밀번호를 입력해주세요.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <div class="hei_16"></div>
                                    <label style="display: inline-block;">
                                        <div class="login">
                                            <p class="email_p">비밀번호 확인</p>
                                            <div class="hei_10"></div>
                                            <div class="login">
                                                <div class="password_confirm_relative">
                                                    <input class="password_input" type="password" name="confirmPassword" placeholder="새 비밀번호 확인">
                                                    <div class="password_eye">
                                                        <span class="password_eye_span hide confirm_span">
                                                            <img id="eye_close_confirm" class="eye" src="/image/login/eyes-close.png">
                                                            <img id="eye_open_confirm" style="display: none;" class="eye" src="/image/login/eyes_open.png">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="hei_4"></div>
                                                <div class="login">
                                                    <p id="red_confirm_password" class="waring_email">비밀번호가 일치하지 않습니다.</p>
                                                </div> 
                                            </div>
                                        </div>
                                    </label>
                                    <div style="height: 16px;"></div>
                                    <button type="button" class="link_btn">
                                        <div class="link_btn_div">
                                            <div class="wid_hei_four"></div>
                                            <span class="link_btn_div_span">완료</span>
                                            <div class="wid_hei_four"></div>
                                        </div>
                                    </button>
                                </div>
                            </form>
                            <!-- 모달 시작 -->
                            <div class="modal-wrap">
                                <div class="modal-container">
                                    <div class="modal" style="height: 126px; width: 100px;">
                                        <div class="modal-content">
                                            비밀번호 변경이 완료되었습니다.
                                        </div>
                                        <div class="modal-ok-div">
                                            <button type="button" class="modal-ok" onclick="closeModal()">확인</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 모달 끝 -->

<!--                            <div class="modal alert-modal-display">-->
<!--                                <div class="diary-modal">-->
<!--                                    <div class="alert-modal-box" style="width: 500px;">-->
<!--                                        <div style="text-align: center;">-->
<!--                                           <span class="alert">-->
<!--                                                비밀번호 변경 완료-->
<!--                                                <br>-->
<!--                                                비밀번호 변경이 완료되었습니다-->
<!--                                            </span>-->
<!--                                            <button class="close" onclick="closeModal()">-->
<!--                                            </button>-->
<!--                                            <div class="btn-agree-box">-->
<!--                                            <button class="confirm" onclick="closeModal()">확인</button>-->
<!--                                        </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->

                            <!-- 잠깐 나왓다 사라지는 알람창 -->
<!--                            <div class="alert-modal-display">-->
<!--                                <div class="diary-modal">-->
<!--                                    <div class="alert-modal-box" style="width: 500px;">-->
<!--                                        <div style="text-align: center;">-->
<!--                                            <div style="margin-top: 12px;">-->
<!--                                                <span class="alert">-->
<!--                                                    비밀번호 변경 완료-->
<!--                                                    <br>-->
<!--                                                    비밀번호 변경이 완료되었습니다-->
<!--                                                    <br>-->
<!--                                                    변경된 비밀번호로 다시 로그인해주세요.-->
<!--                                                </span>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="media"></div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/member/change-password.js">
</script>
<script th:inline="javascript">
    var memberEmail = [[${memberEmail}]];

    const $password = $('.input-write').eq(1);

    // 입력 비밀번호 글자 수 검사 및 비어있지 않은지 검사
    $('.link_btn').on('click', () => {
        console.log("들어옴")
        $('.modal-wrap').show();
    });


    // 모달에 확인 버튼 누르면 모달 끄기
    $('.modal-ok').on('click', () => {
        $('.modal-wrap').hide();
    });
</script>
</html>