<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자르-비밀번호 재설정</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/login/password.css">
    <link rel="stylesheet" href="/css/login/sign-in.css">
    <link rel="icon" href="/image/logo/favicon.png">
</head>
<body>
    <div>
        <div>
            <header class="header">
                <div class="header_div">
                    <div class="class101_outside">
                        <div class="class101_inside">
                            <img style="width: 90px;" src="/image/logo/logo.png" alt="">
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="middle_wrap">
            <div class="middle_wrap_div">
                <div class="center">
                    <div class="center_box">
                        <div class="login">
                            <div class="password_div">
                                <h3 class="password_div_h3">비밀번호 재설정</h3>
                            </div>
                            <form style="width: auto; height: auto;">
                                <div class="form_div">
                                    <label style="display: inline-block;">
                                        <div class="login">
                                            <p class="email_p">비밀번호</p>
                                            <div class="hei_10"></div>
                                            <div class="login">
                                                <div class="password_div">
                                                    <input class="password_input" type="password" name="password" placeholder="새 비밀번호 입력">
                                                    <div class="password_eye">
                                                        <span class="password_eye_span hide password_span">
                                                            <img id="eye_close" class="eye" src="/image/login/eyes-close.png">
                                                            <img id="eye_open" style="display: none;" class="eye" src="/image/login/eyes_open.png">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="login">
                                                    <p class="password_message">영문대문자/영문소문자/숫자/기호 중 2가지 이상 조합하여 8~32자로 입력할 수 있습니다.</p>
                                                </div>
                                                <div class="login">
                                                    <p id="red_password" class="waring_email">비밀번호를 입력해주세요.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </label>
                                    <div class="hei_16"></div>
                                    <label style="display: inline-block;">
                                        <div class="login">
                                            <p class="email_p">비밀번호 확인</p>
                                            <div class="hei_10"></div>
                                            <div class="login">
                                                <div class="password_confirm_relative">
                                                    <input class="password_input" type="password" name="confirmPassword" placeholder="새 비밀번호 확인">
                                                    <div class="password_eye">
                                                        <span class="password_eye_span hide confirm_span">
                                                            <img id="eye_close_confirm" class="eye" src="/image/login/eyes-close.png">
                                                            <img id="eye_open_confirm" style="display: none;" class="eye" src="/image/login/eyes_open.png">
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="hei_4"></div>
                                                <div class="login">
                                                    <p id="red_confirm_password" class="waring_email">비밀번호가 일치하지 않습니다.</p>
                                                </div> 
                                            </div>
                                        </div>
                                    </label>
                                    <div style="height: 16px;"></div>
                                    <button type="submit" class="link_btn">
                                        <div class="link_btn_div">
                                            <div class="wid_hei_four"></div>
                                            <span class="link_btn_div_span">확인</span>
                                            <div class="wid_hei_four"></div>
                                        </div>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media"></div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    let userPassword = $("input[name=password]");
    let userConfirmPassword = $("input[name=confirmPassword]");

    // 비밀번호 눈표시 JS
    $(".password_span").click(function(){
    if(userPassword.attr("type") == "password"){
        $("#eye_close").css('display', 'none');
        $("#eye_open").css('display', 'block');
        userPassword.attr("type","text");
    }else if(userPassword.attr("type") == "text"){
        $("#eye_close").css('display', 'block');
        $("#eye_open").css('display', 'none');
        userPassword.attr("type","password");
    }
});


$(".confirm_span").click(function(){
    if(userConfirmPassword.attr("type") == "password"){
        $("#eye_close_confirm").css('display', 'none');
        $("#eye_open_confirm").css('display', 'block');
        userConfirmPassword.attr("type","text");
    }else if(userConfirmPassword.attr("type") == "text"){
        $("#eye_close_confirm").css('display', 'block');
        $("#eye_open_confirm").css('display', 'none');
        userConfirmPassword.attr("type","password");
    }
});


let passwordInput = $("input[name=password]");
let passwordErrorMsg = $("#red_password");
let confirmPasswordInput = $("input[name=confirmPassword]");
let confirmPasswordErrorMsg = $("#red_confirm_password");

passwordInput.on("input", function() {
  let password = passwordInput.val().trim();
  let passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]).{8,32}$/;
  let passwordContinuity = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]).{8,32}(?!.*([0-9a-zA-Z])\1\1)/;

  if (password === "") {
    passwordErrorMsg.text("비밀번호를 입력해주세요.").show();
    passwordInput.addClass("error-input");
  } else if (!passwordRegex.test(password)) {
    passwordErrorMsg.text("비밀번호는 영문 대소문자, 숫자, 특수문자 중 2가지 이상 조합된 8자 ~ 32자만 가능합니다.").show();
    $("input[name='password']").css('border-color', 'rgb(255, 62, 85)');
    passwordInput.addClass("error-input");
  } else if (!passwordContinuity.test(password)) {
    passwordErrorMsg.text("3회 이상 연속되거나 동일한 숫자, 문자 등 타인이 쉽게 알아낼 수 있는 비밀번호를 사용할 수 없습니다.").show();
    $("input[name='password']").css('border-color', 'rgb(255, 62, 85)');
    passwordInput.addClass("error-input");
  } else {
    passwordErrorMsg.hide();
    passwordInput.removeClass("error-input");
    $("#red_password").css('display', 'none');
    $("input[name='password']").css('border-color', 'rgba(0, 0, 0, 0.15)');
  }
});

confirmPasswordInput.on("input", function() {
  let password = passwordInput.val().trim();
  let confirmPassword = confirmPasswordInput.val().trim();

  if (password === confirmPassword) {
    confirmPasswordErrorMsg.hide();
    confirmPasswordInput.removeClass("error-input");
    $("input[name='confirmPassword']").css('border-color', 'rgba(0, 0, 0, 0.15)');
  } else {
    $("input[name='confirmPassword']").css('border-color', 'rgb(255, 62, 85)');
    confirmPasswordErrorMsg.text("비밀번호가 일치하지 않습니다.").show();
    confirmPasswordInput.addClass("error-input");
  }
});

const input = document.querySelector('input[name="password"]');
const button = document.querySelector('button[type="submit"]');
// input 값이 변경될 때마다 이벤트 리스너 추가
input.addEventListener('input', function() {
  // input 값이 존재하는 경우, 버튼에 클래스 추가
  if (input.value) {
    button.classList.add('button_change');
  } 
  // input 값이 없는 경우, 버튼에 클래스 제거
  else {
    button.classList.remove('button_change');
  }
});


</script>
</html>