<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자르-회원가입</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/login/phone-certification.css">
    <link rel="stylesheet" href="/css/login/sign-in.css">
    <link rel="icon" href="/image/logo/favicon.png">
</head>
<body>
    <div class="all_wrap_div">
        <header class="header">
            <div class="header_div">
                <div class="class101_outside">
                    <div class="class101_inside">
                        <img style="width: 90px;" src="/image/logo/logo.png">
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="middle_wrap">
        <div class="middle_wrap_div">
            <div class="middle_box">
                <div class="middle_box_div">
                    <div class="sign_in">
                        <h3 class="sign_in_h3">회원가입</h3>
                    </div>
                    <div class="flex_hei"></div>
                    <div class="login">
                        <form style="width: auto; height: auto;">
                            <div class="login">
                                <label style="display: inline-block;">
                                    <div class="login">
                                        <p class="email_p">이름</p>
                                        <div class="hei_10"></div>
                                        <div class="login">
                                            <input class="email_input" type="text" name="name" placeholder="홍길동">
                                        </div>
                                        <div class="hei_4"></div>
                                        <div class="login">
                                            <p id="red_name" class="waring_email">이름을 입력해주세요.</p>
                                        </div> 
                                    </div>
                                </label>
                                <div class="hei_16"></div>
                                <label style="display: inline-block;">
                                    <div class="login">
                                        <p class="email_p">닉네임</p>
                                        <div class="hei_10"></div>
                                        <div class="login">
                                            <input class="email_input" type="text" name="nickname" placeholder="사용하실 닉네임을 적어주세요.">
                                        </div>
                                        <div class="hei_4"></div>
                                        <div class="login">
                                            <p id="red_nickname" class="waring_email">닉네임을 입력해 주세요.</p>
                                        </div> 
                                    </div>
                                </label>
                                <div class="hei_16"></div>
                                <label style="display: inline-block;">
                                    <div class="login">
                                        <p class="email_p">이메일</p>
                                        <div class="hei_10"></div>
                                        <div class="login">
                                            <input class="email_input" type="email" name="email" placeholder="example@google.com">
                                            <div style="height: 4px;"></div>
                                            <div class="login">
                                                <p id="red_email" class="waring_email">이메일을 입력해주세요.</p>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                                <div class="hei_16"></div>
                                <label style="display: inline-block;">
                                    <div class="login">
                                        <p class="email_p">비밀번호</p>
                                        <div class="hei_10"></div>
                                        <div class="login">
                                            <div class="password_div">
                                                <input class="password_input" type="password" name="password" placeholder="********">
                                                <div class="password_eye">
                                                    <span class="password_eye_span hide password_span">
                                                        <img id="eye_close" class="eye" src="/image/login/eyes-close.png">
                                                        <img id="eye_open" style="display: none;" class="eye" src="/image/login/eyes_open.png">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="hei_4"></div>
                                            <div class="login">
                                                <p class="password_message">영문 대·소문자/숫자/특수문자 중 2가지 이상 조합, 8자~32자</p>
                                            </div>
                                            <div class="login">
                                                <p id="red_password" class="waring_email">비밀번호를 입력해주세요.</p>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                                <div class="hei_16"></div>
                                <label style="display: inline-block;">
                                    <div class="login">
                                        <p class="email_p">비밀번호 확인</p>
                                        <div class="hei_10"></div>
                                        <div class="login">
                                            <div class="password_confirm_relative">
                                                <input class="password_input" type="password" name="confirmPassword" placeholder="********">
                                                <div class="password_eye">
                                                    <span class="password_eye_span hide confirm_span">
                                                        <img id="eye_close_confirm" class="eye" src="/image/login/eyes-close.png">
                                                        <img id="eye_open_confirm" style="display: none;" class="eye" src="/image/login/eyes_open.png">
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="hei_4"></div>
                                            <div class="login">
                                                <p id="red_confirm_password" class="waring_email">비밀번호가 일치하지 않습니다.</p>
                                            </div> 
                                        </div>
                                    </div>
                                </label>
                                <div class="phone" style="margin-top: 10px;">
                                    <div class="phone_div">
                                        <h3 class="phone_h3">휴대폰 인증</h3>
                                    </div>
                                </div>
                                <p class="all_p">
                                    가입을 위해 본인의
                                    <br>
                                    휴대폰 번호를 인증해 주세요.
                                </p>
                                <div class="hei_16"></div>
                                <form style="width: auto; height: auto;">
                                    <div class="login">
                                        <div class="login_div">
                                            <div class="phone_number">
                                                <label>
                                                    <div class="login">
                                                        <div class="login">
                                                            <input type="tel" name="phone_number" placeholder="-를 제외한 휴대폰 번호" maxlength="15">
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div style="height: 24px; display: flex;"></div>
                                        <button type="button" class="confirm_number">
                                            <div class="flex_visi">
                                                <div class="hei_4"></div>
                                                <span class="confirm_number_span">
                                            <p class="confirm_number_span_p">인증번호 받기</p>
                                        </span>
                                                <div class="hei_4"></div>
                                            </div>
                                        </button>
                                    </div>
                                </form>
                                <div style="height: 48px; display: flex;"></div>
                                <!-- 이 아래가 인증번호 누를시 나오는 곳 -->
                                <div class="semi_modal" style="margin-bottom: 30px;">
                                    <p class="message_p">문자로 전송된 인증번호를 입력해 주세요.</p>
                                    <div style="height: 20px; display: flex;"></div>
                                    <form style="width: auto; height: auto;">
                                        <label>
                                            <div class="login">
                                                <div class="login">
                                                    <div class="confirm_box">
                                                        <input type="tel" name="phone_number_confirm" placeholder="인증번호 6자리">
                                                        <!--  <div> 인증번호 옆에 타이머 부분
                                                                <div>
                                                                    <div>
                                                                        <p></p>
                                                                    </div>
                                                                </div>
                                                            </div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </label>
                                        <div style="height: 16px; display: flex;"></div>
                                        <button class="down_confirm">
                                            <div class="flex_visi">
                                                <div style="width: 4px; display: flex;"></div>
                                                <span class="confirm_number_span">
                                            <p class="certification">인증번호 확인</p>
                                        </span>
                                                <div style="width: 4px; display: flex;"></div>
                                            </div>
                                        </button>
                                    </form>
                                </div>
                                <button type="button" class="next_btn">
                                    <div class="next_box">
                                        <div class="hei_4flex"></div>
                                        <span class="next_span">다음</span>
                                        <div class="hei_4flex"></div>
                                    </div>
                                </button>
                            </div>
                        </form>
                        <div class="hei_16"></div>
                        <div class="next_kakao_gap"></div>
                        <div class="hei_16"></div>
                        <div class="kakao_box">
                            <div class="login" style="width: 100%;">
                                <div class="login">
                                    <div class="login">
                                        <button class="kakao_btn">
                                            <div class="next_box">
                                                <div class="hei_2"></div>
                                                <span style="width: 20px; height: 20px;">
                                                    <svg viewBox="0 0 24 24" class="kakao_svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9997 2.5C6.24348 2.5 1 6.32322 1 11.0393c0 2.9316 1.90428 5.5179 4.80469 7.0555l-1.22042 4.4795c-.10756.3967.34284.7126.68935.4828l5.34918-3.5482c.4516.044.9106.0691 1.3769.0691C18.0755 19.578 23 15.7548 23 11.0393 23 6.32322 18.0755 2.5 11.9997 2.5Z" class="kakao_svg_path"></path>
                                                    </svg>
                                                </span>
                                                <div class="hei_2"></div>
                                                <div class="hei_2"></div>
                                                <div class="hei_4flex"></div>
                                                <span class="kakao_start">
                                                    <p class="kakao_start_p">카카오로 3초 만에 시작하기</p>
                                                </span>
                                                <div class="hei_4flex"></div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 16px;"></div>
                            <a class="kakao_right">
                                <div class="next_box">
                                    <div class="hei_2"></div>
                                    <span style="width: 20px; height: 20px; display: block;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="kakao_right_svg">
                                            <path d="M4.5 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4ZM12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4ZM19.5 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"></path>
                                        </svg>
                                    </span>
                                    <div class="hei_2"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="flex_hei"></div>
                    <div class="account">
                        <a class="account_a">
                            <div class="account_a_div">
                                <h6 class="have_account">이미 계정이 있으신가요?</h6>
                                <div style="width: 8px;"></div>
                                <h6 class="have_account_login">로그인</h6>
                            </div>
                            <div></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    let userPassword = $("input[name=password]");
    let userConfirmPassword = $("input[name=confirmPassword]");

    // 비밀번호 눈표시 JS
    $(".password_span").click(function(){
    if(userPassword.attr("type") == "password"){
        $("#eye_close").css('display', 'none');
        $("#eye_open").css('display', 'block');
        userPassword.attr("type","text");
    }else if(userPassword.attr("type") == "text"){
        $("#eye_close").css('display', 'block');
        $("#eye_open").css('display', 'none');
        userPassword.attr("type","password");
    }
});

    $(".confirm_span").click(function(){
    if(userConfirmPassword.attr("type") == "password"){
        $("#eye_close_confirm").css('display', 'none');
        $("#eye_open_confirm").css('display', 'block');
        userConfirmPassword.attr("type","text");
    }else if(userConfirmPassword.attr("type") == "text"){
        $("#eye_close_confirm").css('display', 'block');
        $("#eye_open_confirm").css('display', 'none');
        userConfirmPassword.attr("type","password");
    }
});


// 로그인 실패시 나오는 빨간줄
$(".next_btn").click(function() {
        $("#red_name").css('display', 'block');
        $("input[name='name']").css('border-color', 'rgb(243, 33, 59)');

        $("#red_nickname").css('display', 'block');
        $("input[name='nickname']").css('border-color', 'rgb(243, 33, 59)');

        $("#red_email").css('display', 'block');
        $("input[name='email']").css('border-color', 'rgb(243, 33, 59)');

        $("#red_password").css('display', 'block');
        $("input[name='password']").css('border-color', 'rgb(243, 33, 59)');

        $("#red_confirm_password").css('display', 'block');
        $("input[name='confirm_password']").css('border-color', 'rgb(243, 33, 59)');
        
    });
// 이메일 정규식
    let emailInput = $("input[name=email]");
    let emailErrorMsg = $("#red_email");

    emailInput.on("input", function() {
    let email = emailInput.val().trim();
    let emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

    if (email === "") {
        emailErrorMsg.text("이메일을 입력해주세요.").show();
        emailInput.addClass("error-input");
    } else if (!emailRegex.test(email)) {
        emailErrorMsg.text("올바르지 않은 이메일입니다. 이메일 형식에 맞게 입력해주세요.").show();
        emailInput.addClass("error-input");
    } else {
        emailErrorMsg.hide();
        emailInput.removeClass("error-input");
        $("#red_email").css('display', 'none');
        $("input[name='email']").css('border-color', 'rgba(0, 0, 0, 0.15)');
    }
    });
// 비밀번호 정규식
let passwordInput = $("input[name=password]");
let passwordErrorMsg = $("#red_password");
let confirmPasswordInput = $("input[name=confirmPassword]");
let confirmPasswordErrorMsg = $("#red_confirm_password");

passwordInput.on("input", function() {
  let password = passwordInput.val().trim();
  let passwordRegex = /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]).{8,32}$/;
  let passwordContinuity = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]).{8,32}(?!.*([0-9a-zA-Z])\1\1)/;

  if (password === "") {
    passwordErrorMsg.text("비밀번호를 입력해주세요.").show();
    passwordInput.addClass("error-input");
  } else if (!passwordRegex.test(password)) {
    passwordErrorMsg.text("비밀번호는 영문 대소문자, 숫자, 특수문자 중 2가지 이상 조합된 8자 ~ 32자만 가능합니다.").show();
    passwordInput.addClass("error-input");
  } else if (!passwordContinuity.test(password)) {
    passwordErrorMsg.text("3회 이상 연속되거나 동일한 숫자, 문자 등 타인이 쉽게 알아낼 수 있는 비밀번호를 사용할 수 없습니다.").show();
    passwordInput.addClass("error-input");
  } else {
    passwordErrorMsg.hide();
    passwordInput.removeClass("error-input");
    $("#red_password").css('display', 'none');
    $("input[name='password']").css('border-color', 'rgba(0, 0, 0, 0.15)');
  }
});

confirmPasswordInput.on("input", function() {
  let password = passwordInput.val().trim();
  let confirmPassword = confirmPasswordInput.val().trim();

  if (password === confirmPassword) {
    confirmPasswordErrorMsg.hide();
    confirmPasswordInput.removeClass("error-input");
  } else {
    confirmPasswordErrorMsg.text("비밀번호가 일치하지 않습니다.").show();
    confirmPasswordInput.addClass("error-input");
  }
});


    $("input[name='name']").keyup(function() {
        $("#red_name").css('display', 'none');
        $("input[name='name']").css('border-color', 'rgba(0, 0, 0, 0.15)');
    });
    $("input[name='nickname']").keyup(function() {
        $("#red_nickname").css('display', 'none');
        $("input[name='nickname']").css('border-color', 'rgba(0, 0, 0, 0.15)');
    });


/*휴대폰 번호 버튼 색상 변경*/
    $(".confirm_number").click(function(){
        $(".semi_modal").css('display', 'block');
        $(".confirm_number_span_p").text("인증번호 다시 받기");
    });

    const inputDown = document.querySelector('input[name="phone_number_confirm"]');
    const buttonDown = document.querySelector('.down_confirm');

    inputDown.addEventListener('input', function() {
        if (inputDown.value) {
            buttonDown.style.backgroundColor = "rgb(255, 93, 0)";
        }
        else {
            buttonDown.style.backgroundColor = "rgba(0, 0, 0, 0.1)";
        }
    });

    const inputUp = document.querySelector('input[name="phone_number"]');
    const buttonUp = document.querySelector('.confirm_number');

    inputUp.addEventListener('input', function() {
        if (inputUp.value) {
            buttonUp.style.backgroundColor = "rgb(255, 93, 0)";
        }
        else {
            buttonUp.style.backgroundColor = "rgba(0, 0, 0, 0.1)";
        }
    });
</script>
</html>