<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="modal alert-modal-display">
    <div class="diary-modal">
        <div class="alert-modal-box" style="width: 500px;">
            <div style="text-align: center;">
               <span class="alert">
                    비밀번호 변경 완료
                    <br>
                    비밀번호 변경이 완료되었습니다
                    <br>
                    변경된 비밀번호로 다시 로그인해주세요.
                </span>
                <button class="close" onclick="closeModal()">
                </button>
            </div>
            <div class="btn-agree-box">
                <button class="confirm" onclick="closeModal()">확인</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>