.all_wrap{
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
    z-index: 1;
    position: absolute;
}
.all_wrap_div{
    display: block;
    width: 100%;
    max-width: 1232px;
    margin: 0px auto;
    -webkit-box-align: stretch;
}
.header{
    display: flex;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(229, 229, 229);
}
.header_div{
    justify-content: center;
    display: flex;
    height: 78px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}
.class101_outside{
    display: flex;
    width: 100%;
    max-width: 1216px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.class101_inside{
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.header_a{
    text-decoration: none;
    color: inherit;
}
.header_a_span{
    display: block;
    width: auto;
    height: 20px;
}
.header_a_span_svg{
    overflow: hidden;
    display: block;
    width: auto;
    height: 100%;
    fill: rgb(0, 0, 0);
}
.header_a_span_svg_path{
    fill: rgb(0, 0, 0);
}
.middle_wrap{
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.middle_wrap_div{
    margin-top: unset;
    margin-bottom: unset;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.login_box{
    max-width: 480px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
}
.login_box_div{
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 392px;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.login{
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.login_h3{
    border-width: 0px;
    color: rgb(12, 12, 12);
    margin: 0px;
    padding: 0px;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2.25rem;
}
.gap{
    flex: 1 1 20px;
    display: flex;
}
.kakao_other{
    display: flex;
    align-items: stretch;
    flex-direction: column;
}
.kakao{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.kakao_btn{
    color: rgb(12, 12, 12);
    --system-on-color: #0c0c0c;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.05);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
    width: 416px;
}
.kakao_btn_div{
    display: flex;
    visibility: inherit;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.kakao_span{
    width: 20px;
    height: 20px;
}
.kakao_svg{
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--system-on-color);
}
.kakao_path{
    fill: rgb(254, 229, 0);
}
.wid_flex{
    width: 2px;
    display: flex;
}
.wid_flex_four{
    width: 4px;
    display: flex;
}
.two_span{
    line-height: 1.25rem;
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-weight: 700;
}
.kakao_p{
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}
.other_login{
    color: rgb(12, 12, 12);
    --system-on-color: #0c0c0c;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.05);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
    text-decoration: none;
    width: 416px;
}
.other_login_div{
    display: flex;
    visibility: inherit;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.sign_in{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.sign_in_a{
    text-decoration: none;
    color: inherit;
}
.sign_in_a_div{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.sign_in_left{
    border-width: 0px;
    color: rgb(148, 148, 148);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.sign_in_right{
    border-width: 0px;
    color: rgb(12, 12, 12);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}