@charset "utf-8";

.login{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.form_div{
    display: flex;
    margin-bottom: 8px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.form_div_label{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    display: inline-block;
}
.email_pw{
    border-width: 0px;
    color: rgb(58, 58, 58);
    margin: 0px;
    padding: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.email_pw_gap{
    width: 0px;
    height: 10px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
input[name="email"]{
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    outline-style: none;
    color: var(--system-on-color);
    width: 100%;
    height: 100%;
    padding: 13px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    margin: 0;
    overflow: visible;
}
.hei_gap{
    width: 0px;
    height: 12px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.password_box{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
input[name="password"]{
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    outline-style: none;
    color: var(--system-on-color);
    width: 100%;
    height: 100%;
    padding: 13px 42px 13px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    margin: 0;
    overflow: visible;
}
.eye_wrap{
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    right: 0px;
    padding-right: 16px;
    z-index: 1;
    position: absolute;
}
.eye_svg{
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    fill: rgb(162, 162, 162);
}
.eye_path{
    fill: rgb(162, 162, 162);
}
.forget_pw_wrap{
    display: flex;
    margin-bottom: 12px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row-reverse;
}
.forget_pw_text{
    border-width: 0px;
    color: rgb(148, 148, 148);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    cursor: pointer;
}
.login_btn{
    color: rgb(255, 255, 255);
    --system-on-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    background-color: rgb(255, 93, 0);
    border-width: 0px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
}
.login_btn_div{
    display: flex;
    visibility: inherit;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.login_gap{
    flex: 0 0 auto;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.kakao_btn{
    color: rgb(12, 12, 12);
    --system-on-color: #0c0c0c;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    background-color: #0000000d;
    border-width: 0;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
}
.kakao_btn_svg{
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--system-on-color);
}
.kakao_btn_svg_path{
    fill: #FEE500;
}
.wid_hei_second{
    width: 2px;
    display: flex;
}
.wid_hei_four{
    width: 4px;
    display: flex;
}
.kakao_text{
    line-height: 1.25rem;
    font-size: 1rem;
    border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.kakao_text_p{
    border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}
.naver_path{
    fill: rgb(0, 199, 60);
}
.media_sign{
    margin-top: 76px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
@media screen and (min-width: 1024px){
.media_sign {
    display: flex;
}}
.sign_in_a_div_login{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}
.sign_in_login{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}




/* alert css */

.alert-modal-display {
    display: none;
    z-index: 100000;
}

.alert-modal-box {
    height: 40px;
    position: fixed;
    z-index: 5001;
    background: #043A44;
    color : #fff;
}

.diary-modal {
    position: absolute;
    inset: 0px;
    z-index: 10000;
}

@media (min-width: 960px) {
    .alert-modal-box { 
        top: 50%;
        left: 50%;
        width: 400px;
        transform: translate(-50%, -50%);
        animation: 0.25s ease 0s 1 normal none running openModal;
    }
}

.span_div{
    width: 18px;
    height: 18px;
    display: block;
}
.eye{
    position: absolute;
    width: 40px;
    top: 3px;
    right: -1px;
}
.eyes_open {
    background-image: url('/static/image/login/eyes_open.png');
}
.eyes_close {
    background-image: url('/static/image/login/eyes-close.png');
}
.waring_email{
    border-width: 0px;
    color: rgb(243, 33, 59);
    margin: 0px;
    padding: 0px;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    display: none;
}