@charset "utf-8";

.header{
    display: flex;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(229, 229, 229);
}
.header_div{
    justify-content: center;
    display: flex;
    height: 78px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}
.class101_outside{
    display: flex;
    width: 100%;
    max-width: 1216px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.class101_inside{
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.header_a{
    text-decoration: none;
    color: inherit;
}
.header_a_span{
    display: block;
    width: auto;
    height: 20px;
}
.header_a_span_svg{
    overflow: hidden;
    display: block;
    width: auto;
    height: 100%;
    fill: rgb(0, 0, 0);
}
.header_a_span_svg_path{
    fill: rgb(0, 0, 0);
}
.middle_wrap{
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex: 1;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.middle_wrap_div{
    margin-top: unset;
    margin-bottom: unset;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.center{
    max-width: 480px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-color: #E5E5E5;
}
.center_box{
    margin-top: 36px;
    margin-bottom: 36px;
    max-width: 416px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.login{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.password_div{
    display: flex;
    padding-bottom: 20px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.password_div_h3{
    border-width: 0;
    color: #0c0c0c;
    margin: 0;
    padding: 0;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2.25rem;
}
.pw_gap{
    width: 0px;
    height: 20px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.pw_to_email{
    border-width: 0px;
    color: rgb(91, 91, 91);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.form_div{
    display: flex;
    padding-top: 20px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
input[name="email"]{
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    outline-style: none;
    color: var(--system-on-color);
    width: 100%;
    height: 100%;
    padding: 13px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
    margin: 0;
    overflow: visible;
}
.link_btn{
    color: rgb(148, 148, 148);
    --system-on-color: #949494;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.1);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
}
.link_btn_div{
    display: flex;
    visibility: inherit;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.wid_hei_four{
    width: 4px;
    display: flex;
}
.link_btn_div_span{
    line-height: 1.25rem;
    font-size: 1rem;
    border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.media{
    display: none;
    margin-top: 76px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
@media screen and (min-width: 640px){
.css-d6xk8g {
    display: none;
}}
@media screen and (min-width: 1024px){
.css-d6xk8g {
    display: flex;
}}