@charset "utf-8";

.all_wrap_div{
    display: block;
    width: 100%;
    max-width: 1232px;
    margin: 0px auto;
    -webkit-box-align: stretch;
}
.header{
    display: flex;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(229, 229, 229);
}
.header_div{
    justify-content: center;
    display: flex;
    height: 78px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}
.class101_outside{
    display: flex;
    width: 100%;
    max-width: 1216px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.class101_inside{
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.header_a{
    text-decoration: none;
    color: inherit;
}
.header_a_span{
    display: block;
    width: auto;
    height: 20px;
}
.header_a_span_svg{
    overflow: hidden;
    display: block;
    width: auto;
    height: 100%;
    fill: rgb(0, 0, 0);
}
.header_a_span_svg_path{
    fill: rgb(0, 0, 0);
}
.hei_gap{
    width: 0px;
    height: 12px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.login_btn_div{
    display: flex;
    visibility: inherit;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.kakao_btn{
    color: rgb(12, 12, 12);
    --system-on-color: #0c0c0c;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    background-color: #0000000d;
    border-width: 0;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
}
.kakao_btn_svg{
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--system-on-color);
}
.kakao_btn_svg_path{
    fill: #FEE500;
}
.wid_hei_second{
    width: 2px;
    display: flex;
}
.wid_hei_four{
    width: 4px;
    display: flex;
}
.kakao_text{
    line-height: 1.25rem;
    font-size: 1rem;
    border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.kakao_text_p{
    border-width: 0;
    color: var(--system-on-color);
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}
.naver_path{
    fill: rgb(0, 199, 60);
}
.login{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.middle_wrap{
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.middle_wrap_div{
    margin-top: unset;
    margin-bottom: unset;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.middle_box{
    max-width: 100%;
    margin: 0px auto;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
}
@media screen and (min-width: 640px){
.middle_box {
    max-width: 446px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 0px;
}}
@media screen and (min-width: 1024px){
.middle_box{
    max-width: 480px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
}}
.middle_box_div{
    display: flex;
    min-height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
@media screen and (min-width: 640px){
.middle_box_div {
    min-height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}}
@media screen and (min-width: 1024px){
.middle_box_div {
    min-height: 392px;
    padding-top: 36px;
    padding-bottom: 36px;
}}
.sign_in{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
@media screen and (min-width: 640px){
.sign_in {
    padding-top: 20px;
    padding-bottom: 20px;
}}
@media screen and (min-width: 1024px){
.sign_in {
    padding-top: 0px;
    padding-bottom: 0px;
}}
.sign_in_h3{
    border-width: 0px;
    color: rgb(12, 12, 12);
    margin: 0px;
    padding: 0px;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2.25rem;
}
.flex_hei{
    flex: 0 1 20px;
    display: flex;
}
.height_16{
    width: 0px;
    height: 16px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.height_1{
    flex: 0 0 auto;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 1px;
}
.email_start{
    color: rgb(255, 255, 255);
    --system-on-color: #ffffff;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    background-color: rgb(255, 93, 0);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    display: inline-flex;
    padding: 15px 14px;
    position: relative;
}
.account{
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
@media screen and (min-width: 640px){
.account {
    display: none;
}}
@media screen and (min-width: 1024px){
.account {
    display: flex;
}}
.first_account{
    display: none;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
@media screen and (min-width: 1024px){
.first_account {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}}
@media screen and (min-width: 640px){
.first_account {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}}
.first_account_h6{
    border-width: 0px;
    color: rgb(148, 148, 148);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.account_login{
    border-width: 0px;
    color: rgb(12, 12, 12);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.second_account{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
@media screen and (min-width: 1024px){
.second_account {
    display: none;
}}
@media screen and (max-width: 1023px){
.second_account {
    display: flex;
}}
.second_account_p{
    border-width: 0px;
    color: rgb(148, 148, 148);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.hei_8{
    width: 8px;
    height: 0px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.second_account_login{
    border-width: 0px;
    color: rgb(12, 12, 12);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.guidance{
    border-width: 0px;
    color: rgb(91, 91, 91);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}