@charset "utf-8";

.all_wrap_div{
    display: block;
    width: 100%;
    max-width: 1232px;
    margin: 0px auto;
    -webkit-box-align: stretch;
}
.header{
    display: flex;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgb(229, 229, 229);
}
.header_div{
    justify-content: center;
    display: flex;
    height: 78px;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}
.class101_outside{
    display: flex;
    width: 100%;
    max-width: 1216px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.class101_inside{
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.header_a{
    text-decoration: none;
    color: inherit;
}
.header_a_span{
    display: block;
    width: auto;
    height: 20px;
}
.header_a_span_svg{
    overflow: hidden;
    display: block;
    width: auto;
    height: 100%;
    fill: rgb(0, 0, 0);
}
.header_a_span_svg_path{
    fill: rgb(0, 0, 0);
}
.middle_wrap{
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    flex: 1 1 0%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.middle_wrap_div{
    margin-top: unset;
    margin-bottom: unset;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.middle_box{
    max-width: 480px;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 20px;
    overflow: hidden;
    z-index: 0;
    margin: 0px auto;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-color: rgb(229, 229, 229);
}
.middle_box_div{
    min-height: 392px;
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.sign_in{
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.sign_in_h3{
    border-width: 0px;
    color: rgb(12, 12, 12);
    margin: 0px;
    padding: 0px;
    font-size: 1.625rem;
    font-weight: 700;
    line-height: 2.25rem;
}
.flex_hei{
    flex: 1 1 20px;
    display: flex;
}
.login{
    display: flex;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: column;
}
.email_p{
    border-width: 0px;
    color: rgb(58, 58, 58);
    margin: 0px;
    padding: 0px;
    font-size: 0.8125rem;
    font-weight: 400;
    line-height: 1.125rem;
}
.hei_4{
    width: 0px;
    height: 4px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.hei_4flex{
    width: 4px;
    display: flex;
}
.hei_10{
    width: 0px;
    height: 10px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.hei_16{
    width: 0px;
    height: 16px;
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
}
.email_input{
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    outline-style: none;
    color: var(--system-on-color);
    width: 100%;
    height: 100%;
    padding: 13px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
}
.password_div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.password_input{
    background-color: rgb(255, 255, 255);
    border-radius: 2px;
    outline-style: none;
    color: var(--system-on-color);
    width: 100%;
    height: 100%;
    padding: 13px 42px 13px 16px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.15);
}
.password_eye{
    display: flex;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    right: 0px;
    padding-right: 16px;
    z-index: 1;
    position: absolute;
}
.password_eye_span{
    display: block;
    width: 18px;
    height: 18px;
}
.password_eye_span_svg{
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    fill: rgb(162, 162, 162);
}
.password_eye_span_svg_path{
    fill: rgb(162, 162, 162);
}
.password_message{
    border-width: 0px;
    color: rgb(162, 162, 162);
    margin: 0px;
    padding: 0px;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
}
.password_confirm_relative{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}
.next_btn{
    color: rgb(255, 255, 255);
    --system-on-color: #ffffff;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    background-color: rgb(255, 93, 0);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
}
.next_box{
    display: flex;
    visibility: inherit;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.next_span{
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1.125rem;
}
.next_kakao_gap{
    flex: 0 0 auto;
    background-color: rgba(0, 0, 0, 0.15);
    width: 100%;
    height: 1px;
}
.kakao_box{
    display: flex;
    width: 100%;
    -webkit-box-align: stretch;
    align-items: stretch;
    flex-direction: row;
}
.kakao_btn{
    color: rgb(12, 12, 12);
    --system-on-color: #0c0c0c;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 14px;
    padding-right: 14px;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.05);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    position: relative;
}
.hei_2{
    width: 2px;
    display: flex;
}
.kakao_svg{
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--system-on-color);
}
.kakao_svg_path{
    fill: rgb(254, 229, 0);
}
.kakao_start{
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}
.kakao_start_p{
    border-width: 0px;
    color: var(--system-on-color);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.25rem;
}
.kakao_right{
    color: rgb(12, 12, 12);
    --system-on-color: #0c0c0c;
    cursor: pointer;
    overflow: hidden;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.05);
    border-width: 0px;
    border-radius: 2px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: inline-flex;
    padding: 15px 14px;
    position: relative;
}
.kakao_right_svg{
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    fill: var(--system-on-color);
}
.account{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.account_a{
    text-decoration: none;
    color: inherit;
}
.account_a_div{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}
.have_account{
    border-width: 0px;
    color: rgb(148, 148, 148);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
.have_account_login{
    border-width: 0px;
    color: rgb(12, 12, 12);
    margin: 0px;
    padding: 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    cursor: pointer;
}
.eye{
    position: absolute;
    width: 40px;
    top: 3px;
    right: -1px;
}
.waring_email{
    border-width: 0px;
    color: rgb(243, 33, 59);
    margin: 0px;
    padding: 0px;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1rem;
    display: none;
}