tbody>tr>*.table_id,
tbody>tr>*.table_type,
tbody>tr>*.table_name {
    width: 7vw;
    min-width: 30px;
}

tbody>tr>*.table_phone,
tbody>tr>*.table_email,
tbody>tr>*.table_register {
    width: 12vw;
}