/* sidebar */
div#sidebar_wrapper {
    z-index: 20;
}

nav#sidebar {
    display: inline-block;
    max-width: 15vw;
    min-width: 250px;
    height: 100vh;
    background-color: dimgray;
    color: beige;
}

nav#sidebar>* {
    padding-left: 20px;
}

section.content_form {
    display: inline-block;
}

header#logo {
    border-bottom: 1px dotted;
}

header#logo>div>h2 {
    padding: 10% 0;
    padding-left: 20px;
}

div.list_whole_wrapper {
    padding-left: 10px;
}

ul.list_wrapper {
    padding-top: 20px;
}

ul.list_wrapper li.list_content {
    padding: 20px 0;
}

footer.footer_whole_wrapper {
    bottom: 0;
    border-top: 1px dotted;
    width: 100%;
}

div.footer_wrapper {
    height: 8vh;
    padding-top: 3vh;
}

/* header */
div.header_whole_wrapper {
    z-index: 10;
    width: 100vw;
    max-height: 50px;
}

div.header_wrapper>* {
    display: inline-block;

}

header#header {
    min-height: 30px;
}

div.gap_left {
    width: 250px;
    height: 100%;
}

h2.title_content {
    padding: 20% 0;
}