header.content_inner_header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* position: relative; */
}

header.content_inner_header>* {
    display: inline-block;
    /* position: absolute; */
}

div.searchbar {
    width: 300px;
    padding: 12px 0;
    position: relative;
}

div.searchbar>* {
    display: inline-block;
    position: absolute;
}

label.searchBox_input_label {
    left: 0;
}
label.searchBox_img_label {
    right: 24px;
}


div.searchImg_wrapper>img {
    height: 32px;
}

div.searchbar input {
    height: 32px;
    background-color: aliceblue;
    margin-left: 16px;
    padding: 8px;
    border-radius: 8px;
}

div.searchbar>label.searchBox_img_label, div.delete_button>label {
    cursor: pointer;
}

div.delete_box {
    width: 60px;
    height: 32px;
    padding: 9px 10px;
    background-color: brown;
    color: white;
    border-radius: 16px;
    margin-top: 8px;
    margin-right: 32px;
    text-align: center;
}

div.content_wrapper {
    width: 100%;
    padding: 20px;
}

article.content_main {
    margin-top: 32px;
}

div.searchbar input{
    border: 1px solid rgb(226, 226, 226);
}

table.content_list_wrapper {
    border-bottom: 1px solid rgb(226, 226, 226);
}

table.content_list_wrapper {
    width: 100%;
}

table.content_list_wrapper>tbody {
    width: 80vw;
}

/* tbody>tr.table_content_wrapper {
} */

tbody>tr>* {
    padding: 12px 0;
    padding-right: 20px;
    text-align: center;
}

tbody>tr>*.table_checkbox {
    width: 3vw;
    margin-left: 8px;
}

tr.table_head>th {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 1px solid rgb(226, 226, 226);
    border-bottom: 1px solid rgb(226, 226, 226);
}

div.content_wrapper {
    border-radius: 10px;
}

footer.paging_footer {
    min-width: 64px;
    min-height: 32px;
    margin-top: 16px;
}

div.paging_wrapper {
    display: flex;
    justify-content: center;
}

li.paging {
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
}