.is-hidden {
    display: none !important;
}

.is-block {
    display: block !important;
}

.is-inline-block {
    display: inline-block !important;
}

.is-flex {
    display: flex !important;
}

.is-absolute {
    position: absolute !important;
}

.is-relative {
    position: relative !important;
}

.is-align-center {
    text-align: center;
}

.is-fixed {
    position: fixed;
}