section.content_form {
    padding-left: 250px;
    padding-top: 64px;
    width: 100vw;
    height: 92vh;
    border-bottom: 1px dotted;
    background-color: rgb(226, 226, 226);
}

section.content_form>* {
    margin-left: 50px;
    margin-top: 30px;
    border-top: 1px beige;
    margin-right: 50px;
}

header.content_header {
    width: 100%;
}

header.content_header>* {
    padding: 3vh 0;
}

div.content_wrapper {
    background-color: rgb(255, 255, 255);
}

