<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 회원 정보 상세보기</title>
    <link rel="stylesheet" href="/static/css/admin/admin_common.css">
    <link rel="stylesheet" href="/static/css/admin/sidemenu.css">
    <link rel="stylesheet" href="/static/css/admin/admin_member_detail.css">
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img src="/static/image/logo/logo.png">
                </div>
                <div class="logo-title">
                    <span>Jar</span>
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>회원정보 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
            <div id="side-bar">
                <div class="side-menu">
                    <div>
                        <div class="menu-title-layout">
                            <div class="menu-title">
                                <div class="menu-name">
                                    MENU
                                </div>
                            </div>
                        </div>
                        <ul class="menu-bar">
                            <li class="menu">
                                <div class="menu-flex">
                                    <div>
                                        <img src="/static/image/admin/board_icon.png" class="icon">
                                    </div>
                                    <a href="">
                                        <span>게시판 관리</span>
                                    </a>
                                    <div class="triangle-button">
                                        <img src="/static/image/admin/arrow_icon.png"
                                            class="icon triangle-icon triangle">
                                    </div>
                                </div>
                                <ul class="menus1 menus" style="display: none;">
                                    <!-- <li class="select-menu">
                                        <a href="adminPage-boardList.jsp"> 
                                            <span>전체 게시판</span>
                                        </a>
                                    </li> -->
                                    <li class="select-menu">
                                        <a href="">
                                            <span>자유 게시판</span>
                                        </a>
                                    </li>
                                    <li class="select-menu">
                                        <a href="">
                                            <span>저축 게시판</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <li class="menu">
                                <div class="menu-flex">
                                    <div>
                                        <img src="/static/image/admin/notice_icon.png" class="icon">
                                    </div>
                                    <a>
                                        <span>공지사항 관리</span>
                                    </a>
                                    <div class="triangle-button">
                                        <img src="/static/image/admin/arrow_icon.png"
                                            class="icon triangle-icon triangle">
                                    </div>
                                </div>
                                <ul class="menus2 menus" style="display:none;">
                                    <li class="select-menu">
                                        <a href="">
                                            <span>공지사항 목록</span>
                                        </a>
                                    </li>
                                    <li class="select-menu">
                                        <a href="">
                                            <span>공지사항 작성</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu">
                                <div class="menu-flex">
                                    <div>
                                        <img src="/static/image/admin/user_icon.png" class="icon">
                                    </div>
                                    <a href="adminPage-memberList.jsp">
                                        <span>회원정보 관리</span>
                                    </a>
                                </div>
                            </li>

                            <li class="menu">
                                <div class="menu-flex">
                                    <div>
                                        <img src="/static/image/admin/banner_icon.png" class="icon">
                                    </div>
                                    <a href="">
                                        <span>배너 관리</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- 사이드 바 끝-->

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="prev-button-layout">
                        <div>
                            <a>
                                <img src="/static/image/admin/prev_icon.png"
                                    class="prev-icon">
                                <span class="prev-title">리스트로 돌아가기</span>
                            </a>
                        </div>
                    </div>
                    <div class="info-flex">
                        <!-- 내용 섹션 -->
                        <section class="board-info-box-layout">
                            <div class="board-info-box board-info-box-flex">
                                <div class="board-info-title-box">
                                    <span>회원 정보</span>
                                </div>
                                <div class="modify-button-box">
                                    <a href="adminPage-modifyMember.jsp">
                                        <img src="/static/image/admin/gear_icon.png"
                                            class="gear-icon">
                                        <span>수정</span>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="board-info-box">
                                <div class="member-img-box">
                                    <div class="member-img">
                                        <img src="" alt="">
                                    </div>
                                    <div class="member-nickname-box">
                                        <span>닉네임123</span>
                                    </div>
                                </div>
                                <div class="member-info-box">
                                    <div class="member-info-tag-box">
                                        <span class="info-tag">이름</span>
                                        <!-- 이름 -->
                                        <div class="info">
                                            <span>이준상</span>
                                        </div>
                                    </div>
                                    <div class="member-info-tag-box">
                                        <span class="info-tag">이메일</span>
                                        <!-- 이메일 -->
                                        <div class="info">
                                            <span>ljs1234@gmail.com</span>
                                        </div>
                                    </div>
                                    <div class="member-info-tag-box">
                                        <span class="info-tag">생년월일</span>
                                        <!-- 생년월일 -->
                                        <div class="info">
                                            <span>2000.01.01</span>
                                        </div>
                                    </div>
                                    <div class="member-info-tag-box">
                                        <span class="info-tag">핸드폰 번호</span>
                                        <!-- 핸드폰 번호 -->
                                        <div class="info">
                                            <span>010-1234-1234</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section class="board-info-box-layout board-info-box-layout2">
                            <div class="board-info-box">
                                <div class="board-info-title-box">
                                    <span>활동 정보</span>
                                </div>
                            </div>
                            <hr>
                            <div class="member-info">
                                <div class="info-margin">
                                    <span class="info-tag">가입일</span>
                                    <!-- 유저 가입날짜  -->
                                    <h4>2023.01.01</h4>
                                </div>
                                <div class="info-margin margin">
                                    <span class="info-tag">작성</span>
                                    <!-- 유저 작성한 것들  -->
                                    <div class="write-count-box">
                                        <div>
                                            <span>게시물</span>
                                        </div>
                                        <div class="count">
                                            <!-- 작성한 게시물 갯수 뽑아주기 -->
                                            <span>0개</span>
                                        </div>
                                    </div>
                                    <div class="info-margin">
                                        <div class="write-count-box">
                                            <div>
                                                <span>댓글</span>
                                            </div>
                                            <div class="count">
                                                <!-- 작성한 댓글 갯수 뽑아주기 -->
                                                <span>0개</span>
                                            </div>
                                        </div>
                                    </div>
                                    <hr style="margin: 8px 0;">
                                    <span class="info-tag">챌린지</span>
                                    <div class="info-margin">
                                        <div class="write-count-box">
                                            <div>
                                                <span>참여한 그룹 챌린지</span>
                                            </div>
                                            <div class="count">
                                                <span>0회</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-margin">
                                        <div class="write-count-box">
                                            <div>
                                                <span>참여한 개인 챌린지</span>
                                            </div>
                                            <div class="count">
                                                <span>0회</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="info-margin is-hidden">
                                        <div class="write-count-box">
                                            <div>
                                                <span>참여한 챌린지</span>
                                            </div>
                                            <div class="count">
                                                <span>0회</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
</html>