<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 회원 정보 목록</title>
    <link rel="stylesheet" href="/css/admin/admin_common.css">
    <link rel="stylesheet" href="/css/admin/sidemenu.css">
    <link rel="stylesheet" href="/css/admin/admin_member_list.css">
    <link rel="icon" href="/image/logo/favicon.png">
</head>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img src="/image/logo/logo.png">
                </div>
                <!-- <div class="logo-title">
                    <span>Jar</span>
                </div> -->
            </div>
            <div>
                <div class="select-name">
                    <span>회원정보 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
            <div th:replace="~{admin/side_bar :: sidebar}"></div>

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="delete-box-layout">
                        <div class="delete-box">
                            <button class="delete-button">선택 게시물 삭제</button>
                        </div>
                    </div>

                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">

                        <div class="board-info-box">
                            <div class="board-info-title-box">
                                <span>회원정보 목록</span>
                            </div>

                            <div class="info-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="checkbox-line">
                                                <input type="checkbox" id="allSelect">
                                            </th>
                                            <th>No</th>
                                            <th>회원상태</th>
                                            <th>이메일</th>
                                            <th>닉네임</th>
                                            <th>핸드폰 번호</th>
                                            <th>가입 날짜</th>
                                        </tr>
                                    </thead>
                                    <tr>
                                        <td class="checkbox-line">
                                            <input type="checkbox" name="check">
                                        </td>
                                        <td>
                                            1
                                        </td>
                                        <td class="member_type is_active">
                                            일반회원
                                            <hr>
                                        </td>
                                        <td>
                                            <a href="">
                                                ljs1234@gmail.com
                                            </a> <!-- 디테일 컨트롤러 제작하고 연결  -->
                                        </td>
                                        <td>ljs1234</td>
                                        <td>01012341234</td>
                                        <td>2023.01.01</td>
                                    </tr>
                                    <tr>
                                        <td class="checkbox-line">
                                            <input type="checkbox" name="check">
                                        </td>
                                        <td>
                                            2
                                        </td>
                                        <td class="member_type is_warning">
                                            탈퇴회원
                                            <hr>
                                        </td>
                                        <td>
                                            <a href="">
                                                ljs1234@gmail.com
                                            </a> <!-- 디테일 컨트롤러 제작하고 연결  -->
                                        </td>
                                        <td>ljs1234</td>
                                        <td>01012341234</td>
                                        <td>2023.01.01</td>
                                    </tr>
                                    <tr>
                                        <td class="checkbox-line">
                                            <input type="checkbox" name="check">
                                        </td>
                                        <td>
                                            3
                                        </td>
                                        <td class="member_type is_inactive">
                                            휴면회원
                                            <hr>
                                        </td>
                                        <td>
                                            <a href="">
                                                ljs1234@gmail.com
                                            </a> <!-- 디테일 컨트롤러 제작하고 연결  -->
                                        </td>
                                        <td>ljs1234</td>
                                        <td>01012341234</td>
                                        <td>2023.01.01</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section><!-- 폼태그 -->

                    <!-- 페이지 버튼 -->
                    <div class="page-button-box-layout">
                        <div class="page-button-box">
                            <!-- 페이지 번호 -->
                            <div class="">
                                <div class="page-button-margin">
                                    <div>
                                        <img src="/image/admin/left_icon.png" class="left-button">
                                    </div>
                                </div>
                            </div>
                            <div class="page-button-active page-button">
                                <div class="page-button-margin">
                                    <div>
                                        <span>1</span>
                                    </div>
                                </div>
                            </div>
                            <div class="page-button">
                                <div class="page-button-margin">
                                    <div>
                                        <span>2</span>
                                    </div>
                                </div>
                            </div>
                            <div class="page-button">
                                <div class="page-button-margin">
                                    <div>
                                        <span>3</span>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="page-button-margin">
                                    <div>
                                        <img src="/image/admin/right_icon.png" class="right-button">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 페이지 버튼 끝 -->
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/checkbox.js"></script>
<script src="/js/admin/page.js"></script>
<script src="/js/admin/sidemenu.js"></script>

</html>