<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JAR_FAQ</title>
    <link rel="icon" href="/image/logo/favicon.png"> <!-- 파비콘 -->
    <link rel="stylesheet" href="/css/common.css">
</head>
<body style="background-color: black;">
    <div>
        <!-- 헤더 -->
        <div id="header" style="position: sticky; top: 0; z-index: 100;"></div>
            <div style="text-align: center; margin: 96px 0px;">
                <img src="/image/faq/FAQre.png" style="width: 70%; margin: 0 auto;">
            </div>
        <div id="footer"></div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
    $(document).ready(()=>{
        $("#header").load("/templates/main/header.html");
        $("#footer").load("/templates/main/footer.html");
    });
</script>
</html>