@charset "utf-8";


@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-jp.css");

* {
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

body {
    font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    background: #f8f8f9;
    position: relative;
    text-align: left;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

*, *:before, *:after {
    box-sizing: border-box;
}

input, textarea, select, button, a {
    font-family: "Pretendard JP Variable", "Pretendard JP", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Hiragino Sans", "Apple SD Gothic Neo", Meiryo, "Noto Sans JP", "Noto Sans KR", "Malgun Gothic", Osaka, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    font-size: 100%;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

button {
    outline: none;
    background: none;
    border: none;
}

input {
    outline: none;
    background: none;
    border: none;
}

ul, li, ol {
    text-decoration: none;
    list-style: none;
}