<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자르-로그인</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/login/login_OAuth.css">
    <link rel="stylesheet" href="/static/css/login/login.css">
    <link rel="icon" href="/static/image/logo/logo.png">
</head>
<body>
    <div>
        <!-- 백그라운드 이미지 넣는곳 -->
        <!-- <div>
            <div>
                <picture>
                    <img style="color: black; background-color: black;">
                </picture>
            </div>
        </div> -->
        <div class="alert-modal-display">
            <div class="diary-modal">
                <div class="alert-modal-box" style="width: 500px;">
                    <div style="text-align: center;">
                        <div style="margin-top: 12px;">
                            <span class="alert"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="all_wrap">
            <div class="all_wrap_div">
                <header class="header">
                    <div class="header_div">
                        <div class="class101_outside">
                            <div class="class101_inside">
                                <img style="width: 50px;" src="/static/image/logo/logo.png">
                            </div>
                        </div>
                    </div>
                </header>
            </div>
            <div class="middle_wrap">
                <div class="middle_wrap_div">
                    <div class="login_box">
                        <div class="login_box_div">
                            <div class="login">
                                <h3 class="login_h3">로그인</h3>
                            </div>
                            <div class="gap"></div>
                            <div class="kakao_other">
                                <div class="login">
                                    <div class="login">
                                        <form style="width: auto; height: auto;">
                                            <div class="form_div">
                                                <label class="form_div_label">
                                                    <div class="login">
                                                        <p class="email_pw">이메일</p>
                                                        <div class="email_pw_gap"></div>
                                                        <div class="login">
                                                            <input name="email" type="email" placeholder="example@naver.com">
                                                        </div>
                                                    </div>
                                                </label>
                                                <div class="hei_gap"></div>
                                                <label class="form_div_label">
                                                    <div class="login">
                                                        <p class="email_pw">비밀번호</p>
                                                        <div class="email_pw_gap"></div>
                                                        <div class="login">
                                                            <div class="password_box">
                                                                <input placeholder="********" name="password" type="password">
                                                                <div class="eye_wrap">
                                                                    <span style="display: block; width: 18px; height: 18px;">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="eye_svg">
                                                                            <path d="m21.963 3.5-1.4-1.4c-.1-.1-.25-.1-.35 0l-2.15 2.15c-1.75-1.1-3.8-1.7-6-1.7-6 0-10.85 4.55-11 10.25 0 .15.1.25.25.25h2c.15 0 .25-.1.25-.25.15-4.3 3.9-7.75 8.5-7.75 1.5 0 2.95.4 4.2 1.05l-2.65 2.65c-.35-.1-.75-.15-1.15-.2h-.6c-.2 0-.4 0-.6.05-.4.05-.8.15-1.2.3-.55.2-1.1.45-1.55.8-.45.35-.9.75-1.25 1.2-.15.2-.3.45-.45.7-.2.3-.35.65-.45 1-.1.25-.15.55-.2.8 0 .05-.05.15-.05.2-.1.55-.1 1.15 0 1.75.05.3.1.5.2.7l-4.15 4.15c-.1.1-.1.25 0 .35l1.4 1.4c.1.1.25.1.35 0l18.1-18.1c0-.1 0-.25-.05-.35ZM15.163 16c-.4.85-1.15 1.55-2.05 1.8-.65.2-1.25.25-1.8.1l-1.95 1.95c.85.4 1.85.65 2.9.6 3.1-.15 5.6-2.7 5.7-5.8.05-1-.2-2-.6-2.85l-1.95 1.95c.15.75.1 1.5-.25 2.25ZM20.513 12.75c0 .15.1.25.25.25h2c.15 0 .25-.1.25-.25-.05-1.8-.6-3.5-1.5-5l-1.85 1.85c.5.95.8 2 .85 3.15Z" class="eye_path"></path>
                                                                        </svg>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                            <div class="forget_pw_wrap">
                                                <a class="sign_in_a">
                                                    <p class="forget_pw_text">비밀번호를 잊으셨나요?</p>
                                                </a>
                                            </div>
                                            <button type="button" class="login_btn">
                                                <div class="login_btn_div">
                                                    <div class="wid_flex_four"></div>
                                                    <span class="two_span">로그인</span>
                                                    <div class="wid_flex_four"></div>
                                                </div>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="login_gap"></div>
                                    <div class="login"></div>
                                    <div class="login">
                                        <button class="kakao_btn">
                                            <div class="login_btn_div">
                                                <div class="wid_hei_second"></div>
                                                <span style="width: 20px; height: 20px; display: block;">
                                                    <svg viewBox="0 0 24 24" class="kakao_btn_svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9997 2.5C6.24348 2.5 1 6.32322 1 11.0393c0 2.9316 1.90428 5.5179 4.80469 7.0555l-1.22042 4.4795c-.10756.3967.34284.7126.68935.4828l5.34918-3.5482c.4516.044.9106.0691 1.3769.0691C18.0755 19.578 23 15.7548 23 11.0393 23 6.32322 18.0755 2.5 11.9997 2.5Z" class="kakao_btn_svg_path"></path>
                                                    </svg>
                                                </span>
                                                <div class="wid_hei_second"></div>
                                                <div class="wid_hei_second"></div>
                                                <div class="wid_hei_four"></div>
                                                <span class="kakao_text">
                                                    <p class="kakao_text_p">카카오로 3초 만에 시작하기</p>
                                                </span>
                                                <div class="wid_hei_four"></div>
                                            </div>
                                        </button>
                                        <div class="hei_gap"></div>
                                        <button class="kakao_btn">
                                            <div class="login_btn_div">
                                                <div class="wid_hei_second"></div>
                                                <span style="width: 20px; height: 20px; display: block;">
                                                    <svg viewBox="0 0 24 24" class="kakao_btn_svg">
                                                        <path d="M15.3858 12.67L8.34138 2.57471H2.5V21.4259H8.61423V11.3306L15.6586 21.4259H21.5V2.57471H15.3858V12.67Z" class="naver_path"></path>
                                                    </svg>
                                                </span>
                                                <div class="wid_hei_second"></div>
                                                <div class="wid_hei_second"></div>
                                                <div class="wid_hei_four"></div>
                                                <span class="kakao_text">
                                                    <p class="kakao_text_p">네이버로 시작하기</p>
                                                </span>
                                                <div class="wid_hei_four"></div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="gap"></div>
                            <div class="sign_in_login">
                                <a class="sign_in_a">
                                    <div class="sign_in_a_div_login">
                                        <h6 class="sign_in_left">아직 클래스101 회원이 아니신가요?</h6>
                                        <div style="width: 8px;"></div>
                                        <h6 class="sign_in_right">회원가입</h6>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media_sign"></div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
const $alertModal = $(".alert-modal-display");
let login_btn = document.getElementsByClassName('login_btn')[0];
let errorMsg = "아이디 또는 비밀번호를 다시 확인하세요.";
let emailInput = document.querySelector('input[name=email]');


login_btn.addEventListener("click", function () {
    alertModal(errorMsg);
});

function alertModal(errorMsg) {
    $(".alert").text(errorMsg);
    $alertModal.show();
    setTimeout(function () {
        $alertModal.hide();
    }, 2000);
}

</script>


</html>