<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자르-공지사항 상세보기</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/login/notice-detail.css">
    <link rel="icon" href="/static/image/logo/logo.png">
</head>
<body>
    <div>
        <main>
            <div>
                <div>
                    <div class="header">
                        <div class="login">
                            <div class="header_div">
                                <header class="real_header">
                                    <div class="align">
                                        <div class="div_logo">
                                            <!-- 로고 넣을 자리 -->
                                            <img style="width: 90px;" src="/static/image/logo/logo.png">
                                            <div style="width: 36px; display: flex;"></div>
                                            <div class="stretch">
                                                <div class="stretch_div">
                                                    <div class="div_img">
                                                        <div class="img">
                                                            <picture class="img_picture">
                                                                <source type="image/webp" srcset="https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/640xauto.webp 640w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/750xauto.webp 750w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/828xauto.webp 828w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/1080xauto.webp 1080w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/1200xauto.webp 1200w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/1920xauto.webp 1920w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/2048xauto.webp 2048w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/3840xauto.webp 3840w">
                                                                <img class="img_picture_img" alt="profile" srcset="https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/640xauto 640w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/750xauto 750w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/828xauto 828w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/1080xauto 1080w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/1200xauto 1200w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/1920xauto 1920w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/2048xauto 2048w,https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0/3840xauto 3840w" src="https://cdn.class101.net/images/795850d2-81b6-4f17-aea2-6c92664456f0" loading="eager">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </header>
                            </div>
                            <div class="header_middle"></div>
                        </div>
                    </div>
                    <div class="login_row">
                        <div class="notice_wrap">
                            <div class="notice_wrap_div">
                                <div class="notice_box">
                                    <div class="login">
                                        <div class="notice_text">
                                            <h4 class="notice_text_h4">공지사항</h4>
                                        </div>
                                        <div style="height: 6px;"></div>
                                        <div class="important">
                                            <div class="important_div">
                                                <div class="login_row">
                                                    <h6 class="important_h6">[중요]</h6>
                                                    <div style="width: 6px;"></div>
                                                    <h6 class="new_101">매월 새로운 준비물, 지금 바로 101 서랍에 참여하세요!</h6>
                                                </div>
                                                <p class="year_month_day">2023. 4. 3.</p>
                                            </div>
                                        </div>
                                        <div style="height: 6px;"></div>
                                        <div class="content">
                                            <div>
                                                <p class="content_p" style="padding-top: 0px;">안녕하세요 크리에이터님, 클래스101입니다!</p>
                                                <p class="content_p">크리에이터님과 클래스메이트님의 새로운 도전과 배움을 응원하며 시작된 101 서랍 서비스를 소개 드립니다.</p>
                                                <p class="content_p">
                                                    <br>
                                                </p>
                                                <ul class="content_ul">
                                                    <li class="content_li">
                                                        <!-- before -->
                                                        <p class="content_p" style="padding-top: 0px;">
                                                            <strong style="font-weight: 600;">101 서랍이란?</strong>
                                                        </p>
                                                        <p class="content_p">101 서랍은 매달 CLASS101 구독자분들에게 전자책, PDF 도안 등 배움을 시작하는 데 도움이 되는 디지털 파일 형태의 준비물을 선정하여 발송해 드리는 베타 서비스입니다.</p>
                                                        <p class="content_p">
                                                            <br>
                                                        </p>
                                                        <p class="content_p">✍️ 크리에이터</p>
                                                        <p class="content_p">
                                                            : CLASS101 구독자분들에게 클래스와 준비물이 함께 노출되어 
                                                            <strong style="font-weight: 600;">클래스 홍보 및 수강 유도 효과 기대</strong>
                                                        </p>
                                                        <p class="content_p">
                                                            <br>
                                                        </p>
                                                        <p class="content_p">💌 클래스메이트</p>
                                                        <p class="content_p">
                                                            : 시즌과 트렌드에 맞는 클래스를 추천 받아 다양한 배움을 탐색하고 즐길 수 있게 되는 효과 기대 (서비스 지역을 한국으로 설정한 구독자분들을 대상으로 합니다.)
                                                        </p>
                                                        <p class="content_p">
                                                            <br>
                                                        </p>
                                                        <p class="content_p">🎁 클래스101</p>
                                                        <p class="content_p">: CLASS101 구독자분들에게 매달 선정한 클래스를 소개하고 지속적인 배움의 시작을 유도하는 효과 기대</p>
                                                        <p class="content_p">
                                                            <br>
                                                        </p>
                                                    </li>
                                                    <li class="content_li">
                                                        <!-- before -->
                                                        <p class="content_p" style="padding-top: 0px;">
                                                            <strong style="font-weight: 600;">101 서랍 참여 신청서</strong>
                                                        </p>
                                                        <p class="content_p">
                                                            101 서랍 서비스에 디지털 파일을 제공하고 싶은 의향이 있으신 경우 하단의 구글 폼을 통해 신청서를 작성해 주시면 101 서랍팀에서 검토 후 크리에이터님께 연락드리겠습니다.
                                                        </p>
                                                        <p class="content_p">
                                                            <strong style="font-weight: 600;">참여 신청서 :</strong>
                                                            <a href="https://101.gg/drawer-form" style="color: rgb(0, 78, 195);">https://101.gg/drawer-form</a>
                                                        </p>
                                                    </li>
                                                </ul>
                                                <p class="content_p">
                                                    <br>
                                                </p>
                                                <ul class="desk_101">
                                                    <li class="content_li">
                                                        <!-- before -->
                                                        <p class="content_p" style="padding-top: 0px;">
                                                            101 서랍 페이지(예시) 보러가기 > 
                                                            <a href="https://101.gg/drawer-sample">https://101.gg/drawer-sample</a>
                                                        </p>
                                                    </li>
                                                    <li class="content_li">
                                                        <!-- before -->
                                                        <p class="content_p" style="padding-top: 0px;">
                                                            101 서랍 상세 내용 보러가기> 
                                                            <a href="https://101.gg/c-sight-drawer">https://101.gg/c-sight-drawer</a>
                                                        </p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div style="height: 6px;"></div>
                                        <div class="go_list">
                                            <a class="return">
                                                <div class="login_row">
                                                    <div style="width: 2px; display: flex;"></div>
                                                    <span style="width: 18px; height: 18px;">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="return_svg">
                                                            <path d="M14.405 4.24H6.509v-2c0-.2-.2-.3-.4-.2L1.112 5.29c-.15.1-.15.3 0 .4L6.11 8.943c.15.1.4 0 .4-.2V6.742h7.946c3.048 0 5.746 2.251 5.996 5.303.35 3.502-2.399 6.454-5.847 6.454H5.26c-.15 0-.25.1-.25.25v2c0 .15.1.251.25.251h9.345c4.547 0 8.295-3.702 8.395-8.255.05-4.702-3.948-8.504-8.595-8.504Z" class="return_path"></path>
                                                        </svg>
                                                    </span>
                                                    <div style="width: 2px; display: flex;"></div>
                                                    <div style="width: 0px; height: 0px;"></div>
                                                    <div style="width: 4px; display: flex;"></div>
                                                    <span class="to_list">목록으로</span>
                                                    <div style="width: 4px; display: flex;"></div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 72px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>