<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자르-비밀번호 찾기</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/login/password.css">
    <link rel="icon" href="/static/image/logo/favicon.png">
</head>
<body>
    <div>
        <div>
            <header class="header">
                <div class="header_div">
                    <div class="class101_outside">
                        <div class="class101_inside">
                            <img style="width: 90px;" src="/static/image/logo/logo.png" alt="">
                        </div>
                    </div>
                </div>
            </header>
        </div>
        <div class="middle_wrap">
            <div class="middle_wrap_div">
                <div class="center">
                    <div class="center_box">
                        <div class="login">
                            <div class="password_div">
                                <h3 class="password_div_h3">비밀번호를 잊으셨나요?</h3>
                                <div class="pw_gap"></div>
                                <p class="pw_to_email">계정에 연결된 이메일 주소를 입력하면 암호를 재설정할 수 있는 링크를 이메일로 보내드릴게요.</p>
                            </div>
                            <form style="width: auto; height: auto;">
                                <div class="form_div">
                                    <label>
                                        <div class="login">
                                            <div class="login">
                                                <input placeholder="이메일" name="email" type="email">
                                            </div>
                                        </div>
                                    </label>
                                    <div style="height: 16px;"></div>
                                    <button type="submit" class="link_btn">
                                        <div class="link_btn_div">
                                            <div class="wid_hei_four"></div>
                                            <span class="link_btn_div_span">재설정 링크 전송하기</span>
                                            <div class="wid_hei_four"></div>
                                        </div>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="media"></div>
        </div>
    </div>
</body>
<script>
const input = document.querySelector('input[name="email"]');
const button = document.querySelector('button[type="submit"]');
// input 값이 변경될 때마다 이벤트 리스너 추가
input.addEventListener('input', function() {
  // input 값이 존재하는 경우, 버튼에 클래스 추가
  if (input.value) {
    button.classList.add('button_change');
  } 
  // input 값이 없는 경우, 버튼에 클래스 제거
  else {
    button.classList.remove('button_change');
  }
});

</script>
</html>