<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자르-회원가입</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/login/sign-in.css">
    <link rel="icon" href="/static/image/logo/logo.png">
</head>
<body>
    <div class="all_wrap_div">
        <header class="header">
            <div class="header_div">
                <div class="class101_outside">
                    <div class="class101_inside">
                        <img style="width: 50px;" src="/static/image/logo/logo.png">
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div class="middle_wrap">
        <div class="middle_wrap_div">
            <div class="middle_box">
                <div class="middle_box_div">
                    <div class="sign_in">
                        <h3 class="sign_in_h3">회원가입</h3>
                    </div>
                    <div class="flex_hei"></div>
                    <div class="login">
                        <form style="width: auto; height: auto;">
                            <div class="login">
                                <label style="display: inline-block;">
                                    <div class="login">
                                        <p class="email_p">이메일</p>
                                        <div class="hei_10"></div>
                                        <div class="login">
                                            <input class="email_input" type="email" name="email" placeholder="example@google.com">
                                        </div>
                                    </div>
                                </label>
                                <div class="hei_16"></div>
                                <label style="display: inline-block;">
                                    <div class="login">
                                        <p class="email_p">비밀번호</p>
                                        <div class="hei_10"></div>
                                        <div class="login">
                                            <div class="password_div">
                                                <input class="password_input" type="password" name="password" placeholder="********">
                                                <div class="password_eye">
                                                    <span class="password_eye_span">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="password_eye_span_svg">
                                                            <path d="m21.963 3.5-1.4-1.4c-.1-.1-.25-.1-.35 0l-2.15 2.15c-1.75-1.1-3.8-1.7-6-1.7-6 0-10.85 4.55-11 10.25 0 .15.1.25.25.25h2c.15 0 .25-.1.25-.25.15-4.3 3.9-7.75 8.5-7.75 1.5 0 2.95.4 4.2 1.05l-2.65 2.65c-.35-.1-.75-.15-1.15-.2h-.6c-.2 0-.4 0-.6.05-.4.05-.8.15-1.2.3-.55.2-1.1.45-1.55.8-.45.35-.9.75-1.25 1.2-.15.2-.3.45-.45.7-.2.3-.35.65-.45 1-.1.25-.15.55-.2.8 0 .05-.05.15-.05.2-.1.55-.1 1.15 0 1.75.05.3.1.5.2.7l-4.15 4.15c-.1.1-.1.25 0 .35l1.4 1.4c.1.1.25.1.35 0l18.1-18.1c0-.1 0-.25-.05-.35ZM15.163 16c-.4.85-1.15 1.55-2.05 1.8-.65.2-1.25.25-1.8.1l-1.95 1.95c.85.4 1.85.65 2.9.6 3.1-.15 5.6-2.7 5.7-5.8.05-1-.2-2-.6-2.85l-1.95 1.95c.15.75.1 1.5-.25 2.25ZM20.513 12.75c0 .15.1.25.25.25h2c.15 0 .25-.1.25-.25-.05-1.8-.6-3.5-1.5-5l-1.85 1.85c.5.95.8 2 .85 3.15Z" class="password_eye_span_svg_path"></path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                            <div class="hei_4"></div>
                                            <div class="login">
                                                <p class="password_message">영문 대·소문자/숫자/특수문자 중 2가지 이상 조합, 8자~32자</p>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                                <div class="hei_16"></div>
                                <label style="display: inline-block;">
                                    <div class="login">
                                        <p class="email_p">비밀번호 확인</p>
                                        <div class="hei_10"></div>
                                        <div class="login">
                                            <div class="password_confirm_relative">
                                                <input class="password_input" type="password" name="confirmPassword" placeholder="********">
                                                <div class="password_eye">
                                                    <span class="password_eye_span">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="password_eye_span_svg">
                                                            <path d="m21.963 3.5-1.4-1.4c-.1-.1-.25-.1-.35 0l-2.15 2.15c-1.75-1.1-3.8-1.7-6-1.7-6 0-10.85 4.55-11 10.25 0 .15.1.25.25.25h2c.15 0 .25-.1.25-.25.15-4.3 3.9-7.75 8.5-7.75 1.5 0 2.95.4 4.2 1.05l-2.65 2.65c-.35-.1-.75-.15-1.15-.2h-.6c-.2 0-.4 0-.6.05-.4.05-.8.15-1.2.3-.55.2-1.1.45-1.55.8-.45.35-.9.75-1.25 1.2-.15.2-.3.45-.45.7-.2.3-.35.65-.45 1-.1.25-.15.55-.2.8 0 .05-.05.15-.05.2-.1.55-.1 1.15 0 1.75.05.3.1.5.2.7l-4.15 4.15c-.1.1-.1.25 0 .35l1.4 1.4c.1.1.25.1.35 0l18.1-18.1c0-.1 0-.25-.05-.35ZM15.163 16c-.4.85-1.15 1.55-2.05 1.8-.65.2-1.25.25-1.8.1l-1.95 1.95c.85.4 1.85.65 2.9.6 3.1-.15 5.6-2.7 5.7-5.8.05-1-.2-2-.6-2.85l-1.95 1.95c.15.75.1 1.5-.25 2.25ZM20.513 12.75c0 .15.1.25.25.25h2c.15 0 .25-.1.25-.25-.05-1.8-.6-3.5-1.5-5l-1.85 1.85c.5.95.8 2 .85 3.15Z" class="password_eye_span_svg_path"></path>
                                                        </svg>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </label>
                                <div class="hei_16"></div>
                                <button type="submit" class="next_btn">
                                    <div class="next_box">
                                        <div class="hei_4flex"></div>
                                        <span class="next_span">다음</span>
                                        <div class="hei_4flex"></div>
                                    </div>
                                </button>
                            </div>
                        </form>
                        <div class="hei_16"></div>
                        <div class="next_kakao_gap"></div>
                        <div class="hei_16"></div>
                        <div class="kakao_box">
                            <div class="login" style="width: 100%;">
                                <div class="login">
                                    <div class="login">
                                        <button class="kakao_btn">
                                            <div class="next_box">
                                                <div class="hei_2"></div>
                                                <span style="width: 20px; height: 20px;">
                                                    <svg viewBox="0 0 24 24" class="kakao_svg">
                                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9997 2.5C6.24348 2.5 1 6.32322 1 11.0393c0 2.9316 1.90428 5.5179 4.80469 7.0555l-1.22042 4.4795c-.10756.3967.34284.7126.68935.4828l5.34918-3.5482c.4516.044.9106.0691 1.3769.0691C18.0755 19.578 23 15.7548 23 11.0393 23 6.32322 18.0755 2.5 11.9997 2.5Z" class="kakao_svg_path"></path>
                                                    </svg>
                                                </span>
                                                <div class="hei_2"></div>
                                                <div class="hei_2"></div>
                                                <div class="hei_4flex"></div>
                                                <span class="kakao_start">
                                                    <p class="kakao_start_p">카카오로 3초 만에 시작하기</p>
                                                </span>
                                                <div class="hei_4flex"></div>
                                            </div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 16px;"></div>
                            <a class="kakao_right">
                                <div class="next_box">
                                    <div class="hei_2"></div>
                                    <span style="width: 20px; height: 20px; display: block;">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="kakao_right_svg">
                                            <path d="M4.5 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4ZM12 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4ZM19.5 14a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"></path>
                                        </svg>
                                    </span>
                                    <div class="hei_2"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="flex_hei"></div>
                    <div class="account">
                        <a class="account_a">
                            <div class="account_a_div">
                                <h6 class="have_account">이미 계정이 있으신가요?</h6>
                                <div style="width: 8px;"></div>
                                <h6 class="have_account_login">로그인</h6>
                            </div>
                            <div></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>