<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제안 챌린지 상세보기</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/board/challenge/challenge.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="icon" href="/image/logo/favicon.png">
</head>

<body>
    <div class="__next">
        <div id="wrapper">
            <div class="wrapper">
                <!-- header -->
                <th:block th:replace="~{main/header :: header}"></th:block>

                <div class="wrapper-container">
                    <div>
                        <div>
                            <div class="image-container">
                                <div class="image-container-layout">
                                    <div class="image-container-layout-box">
                                        <div class="image-container-wrapper">
                                            <div class="image-container-wrapper-box" gutter="6">
                                                <div class="image-main-container" width="58.8" height="519px">
                                                    <div class="image-main-container-box">
                                                        <picture class="image-container-picture">
                                                            <img srcset="https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/375xauto.png 375w,https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/750xauto.png 750w,https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/960xauto.png 960w,https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/1440xauto.png 1440w,https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/2048xauto.png 2048w,https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/2880xauto.png 2880w,https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/autoxauto.png 5120w"
                                                                sizes="(min-width: 1024px) 700px, 100vw"
                                                                src="https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112">
                                                        </picture>
                                                    </div>
                                                </div>
                                                <div class="image-sub-container" direction="column" gutter="6">
                                                    <div class="image-sub-container-wrap-1" height="50%">
                                                        <div class="image-sub-container-wrap-1-box">
                                                            <picture class="image-container-picture">
                                                                <img srcset="https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/375xauto.png 375w,https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/750xauto.png 750w,https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/960xauto.png 960w,https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/1440xauto.png 1440w,https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/2048xauto.png 2048w,https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/2880xauto.png 2880w,https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/autoxauto.png 5120w"
                                                                    sizes="(min-width: 1024px) 700px, 100vw"
                                                                    src="https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                    <div class="image-sub-container-wrap-2" gutter="6">
                                                        <div class="image-sub-container-wrap-2-box" width="50%">
                                                            <div class="image-sub-container-wrap-2-box-layout">
                                                                <div class="image-sub-box">
                                                                    <picture class="image-container-picture">
                                                                        <img srcset="https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/375xauto.png 375w,https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/750xauto.png 750w,https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/960xauto.png 960w,https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/1440xauto.png 1440w,https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/2048xauto.png 2048w,https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/2880xauto.png 2880w,https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/autoxauto.png 5120w"
                                                                            sizes="(min-width: 1024px) 700px, 100vw"
                                                                            src="https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="image-sub-container-wrap-2-box" width="50%">
                                                            <div class="image-sub-container-wrap-2-box-layout">
                                                                <picture class="image-container-picture">
                                                                    <img srcset="https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/375xauto.png 375w,https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/750xauto.png 750w,https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/960xauto.png 960w,https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/1440xauto.png 1440w,https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/2048xauto.png 2048w,https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/2880xauto.png 2880w,https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/autoxauto.png 5120w"
                                                                        sizes="(min-width: 1024px) 700px, 100vw"
                                                                        src="https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1">
                                                                </picture>
                                                            </div>
                                                            <div class="sub-image-container-plus" font-weight="700"
                                                                color="#FFF">+ 1개 <br> 이미지</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-container">
                            <div class="main-container-wrapper">
                                <div class="main-container-wrapper-layout">
                                    <section class="main-information-box">
                                        <h2 class="">챌린지 정보</h2>
                                        <dl class="main-information-box-wrap">
                                            <dt class="box-information-title">챌린지 분류</dt>
                                            <dd class="box-information-content">개인 챌린지</dd>
                                            <dt class="box-information-title">챌린지 기간</dt>
                                            <dd class="box-information-content">미정</dd>
                                        </dl>
                                    </section>
                                    <div class="container-wrapper">
                                        <div>
                                            <div class="container-wrapper-main">
                                                <div class="container-wrapper-main-box">
                                                    <div class="user-container-box user">
                                                        <div class="user-container-box-1">
                                                            <h3 class="user-box-1 user-1-box box-1-user" md="Headline3"
                                                                font-weight="nomal">
                                                                <!-- 챌린지 이름 -->
                                                                <strong>아침에 일어나서 이불개기 챌린지</strong>
                                                            </h3>
                                                        </div>
                                                        <div class="user-container-box-2">
                                                            <!-- <span class="box-2-span box-2-span-2">
                                                                <picture class="image-container-picture user-picture">
                                                                    <img sizes=" 100vw" srcset="https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/375xauto 375w,https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/750xauto 750w,https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/960xauto 960w,https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/1440xauto 1440w,https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/2048xauto 2048w,https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/2880xauto 2880w,https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/autoxauto 5120w" src="https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f">
                                                                </picture>
                                                            </span> -->
                                                            <div class="content-image">
                                                                <span class="content-image-span">
                                                                    <div class="heart-box">
                                                                        <button class="heart-layout"
                                                                            style="position: relative;">
                                                                            <span class="auto-flex heart_icon heart-up"
                                                                                style="position: absolute; display: inline-block; width: 100px;">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    width="24" height="24" fill="none"
                                                                                    viewBox="0 0 24 24"
                                                                                    style="position:absolute; left: 0;">
                                                                                    <path fill-rule="evenodd"
                                                                                        d="M20.5 9c0-2-1.5-3.9-3.7-3.9-2.3 0-3.8 1.63-4.8 3.33-1-1.7-2.5-3.33-4.8-3.33C5 5.1 3.5 6.867 3.5 9c0 4.62 4.949 7.667 8.5 9.623 3.551-1.956 8.5-5.003 8.5-9.623zm-19-.176C1.5 5.607 3.962 3 7 3c2.7 0 4 1 5 2.2C13 4 14.3 3 17 3c3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                        fill="#FFF"></path>
                                                                                </svg>
                                                                            </span>
                                                                            <span class="auto-flex heart_icon heart-active no-heart"
                                                                                style="position: absolute; display: inline-block; width: 100px;">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    width="24" height="24" fill="none"
                                                                                    viewBox="0 0 24 24"
                                                                                    class="heart_svg"
                                                                                    style="position:absolute; left: 0;">
                                                                                    <path fill-rule="evenodd"
                                                                                        d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                        fill="#fd3049"></path>
                                                                                </svg>
                                                                            </span>
                                                                            <span style="position: absolute; font-size: 19px; right: 5px; top: 9px; position:absolute">좋아요</span>
                                                                        </button>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="user-achievement">
                                                        <div class="user-achievement-box">
                                                            <span class="user-achievement-box-1 user-achievement-box-2">
                                                                <a href="" target="_blank" icon-position="0" color="default" class="user-achivement-a">
                                                                    <span class="user-achivement-box-span">
                                                                        <img src="/image/board/ic-youtube.png" alt="" class="achivement-img">
                                                                        <span class="user-achivement-box-span-span">콕스Illust</span>
                                                                    </span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div class="user-achievement-box">
                                                            <span class="user-achievement-box-1 user-achievement-box-2">
                                                                <a href="" target="_blank" icon-position="0" color="default" class="user-achivement-a">
                                                                    <span class="user-achivement-box-span">
                                                                        <img src="/image/board/ic-twitter.png" alt="" class="achivement-img">
                                                                        <span class="user-achivement-box-span-span">콕스Illust</span>
                                                                    </span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div class="user-achievement-box">
                                                            <span class="user-achievement-box-1 user-achievement-box-2">
                                                                <a href="" target="_blank" icon-position="0" color="default" class="user-achivement-a">
                                                                    <span class="user-achivement-box-span">
                                                                        <img src="/image/board/ic-instagram.png" alt="" class="achivement-img">
                                                                        <span class="user-achivement-box-span-span">콕스Illust</span>
                                                                    </span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <div class="text-container">
                                                    <div class="text-container-box">
                                                        <div class="text-container-box-layout" size="384">
                                                            <div class="text-container-box-layout-box">
                                                                <div class="text-container-box-layout-box-text">
                                                                    <p>안녕하세요. 콕스Illust 유튜브 채널을 운영하고 있는 일러스트레이터 콕스입니다. 이
                                                                        강의는 현재의 내가 그림을 본격적으로 시작하기 전 과거의 나에게 단 하나의 USB에
                                                                        정보를 담아 전달할 수 있다면. 이라는 생각으로 제작했습니다. 7년간 게임회사에서
                                                                        일러스트레이터, 캐릭터 원화가의 경력과 약 10년간 미술학원, CG 학원, 대학교에서의
                                                                        강의 경험을 바탕으로 그림 초보자가 독학을 해서 수익이 나기 위한 방법에 대해서 핵심만
                                                                        담아 영상을 만들었습니다.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="main-box-line"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 댓글 -->
                                    <div>
                                        <div class="reply-container">
                                            <div class="reply-container-wrap" data-test-id="fold-community-original">
                                                <div class="reply-container-wrap-box">
                                                    <br>
                                                    <div class="reply-container-box">
                                                        <div class="reply-container-box-layout">
                                                            <div class="reply-box-container">
                                                                <!-- 여기부터 -->
                                                                <div class="reply-text-box">
                                                                    <div class="reply-text-box-user">
                                                                        <section class="reply-user-box">
                                                                            <div class="reply-user-box-image" size="40">
                                                                                <span
                                                                                    class="reply-user-box-image-sapn-1  reply-user-box-image-sapn-2">
                                                                                    <picture class="reply-user-picture">
                                                                                        <img src="/image/board/default-user.png"
                                                                                            sizes="100vw" alt="">
                                                                                    </picture>
                                                                                </span>
                                                                            </div>
                                                                            <div class="reply-user-box-info">
                                                                                <strong
                                                                                    class="reply-user-box-info-name">강한친구곽두철</strong>
                                                                                <div class="reply-user-box-info-date">
                                                                                    2023. 04. 21</div>
                                                                            </div>
                                                                            <div class="trophy-box">
                                                                                <img
                                                                                    src="/image/mypage/trophy_1.png">
                                                                            </div>
                                                                        </section>
                                                                        <div class="modify-button-box">
                                                                            <button type="button"
                                                                                class="btn reply-cancel-button">취소</button>
                                                                            <button type="button"
                                                                                class="btn modify-button">수정</button>
                                                                            <button type="button"
                                                                                class="btn delete-button">삭제</button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reply-text-box-text">
                                                                        <div class="reply-text-container" top="16"
                                                                            right="0" bottom="8" left="0">
                                                                            <div class="reply-text-container-box-1 reply-text-container-box"
                                                                                md="Body2">
                                                                                <div
                                                                                    class="reply-text-container-box-layout">
                                                                                    <div class="reply-text-container-box-layout-text"
                                                                                        size="200">
                                                                                        <div
                                                                                            class="real-reply-text-box">
                                                                                            <p
                                                                                                class="reply-content-text">
                                                                                                안녕하세요 페이스북 홍보는 아직도
                                                                                                추천하시나요? 지금 페이스북 이용자가 많이
                                                                                                줄었다고 들어서 궁금합니다 ㅎㅎ</p>
                                                                                        </div>
                                                                                        <div class="modify-content-box">
                                                                                            <div
                                                                                                class="modify-content-layout">
                                                                                                <input type="text"
                                                                                                    placeholder="댓글을 입력해주세요."
                                                                                                    class="reply-modify-content">
                                                                                                <button type="button"
                                                                                                    class="confirm-button">완료</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <!-- 여기부터 -->
                                                                <div class="reply-text-box">
                                                                    <div class="reply-text-box-user">
                                                                        <section class="reply-user-box">
                                                                            <div class="reply-user-box-image" size="40">
                                                                                <span
                                                                                    class="reply-user-box-image-sapn-1  reply-user-box-image-sapn-2">
                                                                                    <picture class="reply-user-picture">
                                                                                        <img src="/image/board/default-user.png"
                                                                                            sizes="100vw" alt="">
                                                                                    </picture>
                                                                                </span>
                                                                            </div>
                                                                            <div class="reply-user-box-info">
                                                                                <strong
                                                                                    class="reply-user-box-info-name">강한친구곽두철</strong>
                                                                                <div class="reply-user-box-info-date">
                                                                                    2023. 04. 21</div>
                                                                            </div>
                                                                            <div class="trophy-box">
                                                                                <img
                                                                                    src="/image/mypage/trophy_2.png">
                                                                            </div>
                                                                        </section>
                                                                        <div class="modify-button-box">
                                                                            <button type="button"
                                                                                class="btn reply-cancel-button">취소</button>
                                                                            <button type="button"
                                                                                class="btn modify-button">수정</button>
                                                                            <button type="button"
                                                                                class="btn delete-button">삭제</button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reply-text-box-text">
                                                                        <div class="reply-text-container" top="16"
                                                                            right="0" bottom="8" left="0">
                                                                            <div class="reply-text-container-box-1 reply-text-container-box"
                                                                                md="Body2">
                                                                                <div
                                                                                    class="reply-text-container-box-layout">
                                                                                    <div class="reply-text-container-box-layout-text"
                                                                                        size="200">
                                                                                        <div
                                                                                            class="real-reply-text-box">
                                                                                            <p
                                                                                                class="reply-content-text">
                                                                                                안녕하세요</p>
                                                                                        </div>
                                                                                        <div class="modify-content-box">
                                                                                            <div
                                                                                                class="modify-content-layout">
                                                                                                <input type="text"
                                                                                                    placeholder="댓글을 입력해주세요."
                                                                                                    class="reply-modify-content">
                                                                                                <button type="button"
                                                                                                    class="confirm-button">완료</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                                <!-- 여기부터 -->
                                                                <div class="reply-text-box">
                                                                    <div class="reply-text-box-user">
                                                                        <section class="reply-user-box">
                                                                            <div class="reply-user-box-image" size="40">
                                                                                <span
                                                                                    class="reply-user-box-image-sapn-1  reply-user-box-image-sapn-2">
                                                                                    <picture class="reply-user-picture">
                                                                                        <img src="/image/board/default-user.png"
                                                                                            sizes="100vw" alt="">
                                                                                    </picture>
                                                                                </span>
                                                                            </div>
                                                                            <div class="reply-user-box-info">
                                                                                <strong
                                                                                    class="reply-user-box-info-name">강한친구곽두철</strong>
                                                                                <div class="reply-user-box-info-date">
                                                                                    2023. 04. 21</div>
                                                                            </div>
                                                                            <div class="trophy-box">
                                                                                <img
                                                                                    src="/image/mypage/trophy_3.png">
                                                                            </div>
                                                                        </section>
                                                                        <div class="modify-button-box">
                                                                            <button type="button"
                                                                                class="btn reply-cancel-button">취소</button>
                                                                            <button type="button"
                                                                                class="btn modify-button">수정</button>
                                                                            <button type="button"
                                                                                class="btn delete-button">삭제</button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="reply-text-box-text">
                                                                        <div class="reply-text-container" top="16"
                                                                            right="0" bottom="8" left="0">
                                                                            <div class="reply-text-container-box-1 reply-text-container-box"
                                                                                md="Body2">
                                                                                <div
                                                                                    class="reply-text-container-box-layout">
                                                                                    <div class="reply-text-container-box-layout-text"
                                                                                        size="200">
                                                                                        <div
                                                                                            class="real-reply-text-box">
                                                                                            <p
                                                                                                class="reply-content-text">
                                                                                                안녕하세요 페이스북 홍보는 아직도
                                                                                                추천하시나요? 지금 페이스북 이용자가 많이
                                                                                                줄었다고 들어서 궁금합니다 ㅎㅎ</p>
                                                                                        </div>
                                                                                        <div class="modify-content-box">
                                                                                            <div
                                                                                                class="modify-content-layout">
                                                                                                <input type="text"
                                                                                                    placeholder="댓글을 입력해주세요."
                                                                                                    class="reply-modify-content">
                                                                                                <button type="button"
                                                                                                    class="confirm-button">완료</button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <!--  -->
                                                            </div>
                                                        </div>
                                                        <div class="reply-container-box-layout">
                                                            <div>
                                                                <form action="" class="reply-form">
                                                                    <div class="reply-form-container">
                                                                        <div class="reply-form-container-box">
                                                                            <textarea name="content" id="" cols="30"
                                                                                rows="1" placeholder="댓글을 입력해주세요."
                                                                                class="reply-content"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <button
                                                                        class="reply-from-button-1 reply-from-button-2"
                                                                        type="submit" kind="textGray">
                                                                        <div class="reply-from-button-box">
                                                                            <span class="reply-from-button-box-span">
                                                                                <svg width="24" height="24" fill="none"
                                                                                    viewBox="0 0 24 24">
                                                                                    <path fill-rule="evenodd"
                                                                                        d="M6 11h4a1 1 0 110 2H6v6l13-7L6 5v6zm.948 9.761C5.616 21.478 4 20.513 4 19V5c0-1.513 1.616-2.478 2.948-1.761l13 7c1.402.755 1.402 2.767 0 3.522l-13 7z"
                                                                                        fill="#e5e5e5"></path>
                                                                                </svg>
                                                                            </span>
                                                                        </div>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <button class="the-bogi" icon-position="0" color="default"
                                                            fill="true">
                                                            <span class="the-bogi-span">더 보기</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                <footer id="footer"></footer>
            </div>
        </div>
    </div>

    <!-- 이미지 확대 -->
    <div class="image-expansion-display" style="display: none;">
        <div class="image-expansion" zindex="3000" overlaycolor="rgba(0, 0, 0, 0.72)">
            <div class="image-expansion-container">
                <button icon-position="0" color="white"
                    class="image-expansion-container-cancel cancel-button cancel-button-layout">
                    <div position="0" buttonsize="lg" class="cancel-button-box">
                        <svg width="24" height="24" fill="none" viewBox="0 0 24 24">
                            <path
                                d="M18.5 4L12 10.5 5.5 4 4 5.5l6.5 6.5L4 18.5 5.5 20l6.5-6.5 6.5 6.5 1.5-1.5-6.5-6.5L20 5.5 18.5 4z"
                                fill="#FFF"></path>
                        </svg>
                    </div>
                    <span class="cancel-button-span">
                        <span>닫기</span>
                    </span>
                </button>
                <div class="image-expansion-container-wrapper">
                    <div class="image-expansion-count">
                        <div class="count-first">01</div>
                        <div class="count-second"></div>
                        10
                    </div>
                    <div class="image-expansion-wrapper">
                        <div class="image-expansion-wrapper-main">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide swiper-slide-active" style="width: 896px;">
                                    <span class="swiper-slide-span" ratio="0.75">
                                        <picture ratio="0.75" class="swiper-slide-picture image-container-picture">
                                            <img sizes=" 100vw"
                                                srcset="https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/375xauto 375w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/750xauto 750w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/960xauto 960w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/1440xauto 1440w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/2048xauto 2048w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/2880xauto 2880w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/autoxauto 5120w"
                                                src="https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff">
                                        </picture>
                                    </span>
                                </div>
                                <div class="swiper-slide swiper-slide-next" style="width: 896px;">
                                    <span class="swiper-slide-span" ratio="0.75">
                                        <picture ratio="0.75" class="swiper-slide-picture image-container-picture">
                                            <img sizes=" 100vw"
                                                srcset="https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/375xauto 375w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/750xauto 750w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/960xauto 960w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/1440xauto 1440w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/2048xauto 2048w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/2880xauto 2880w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/autoxauto 5120w"
                                                src="https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff">
                                        </picture>
                                    </span>
                                </div>
                                <div class="swiper-slide" style="width: 896px;">
                                    <span class="swiper-slide-span" ratio="0.75">
                                    </span>
                                </div>
                                <div class="swiper-slide" style="width: 896px;">
                                    <span class="swiper-slide-span" ratio="0.75">
                                    </span>
                                </div>
                                <div class="swiper-slide" style="width: 896px;">
                                    <span class="swiper-slide-span" ratio="0.75">
                                    </span>
                                </div>
                                <div class="swiper-slide" style="width: 896px;">
                                    <span class="swiper-slide-span" ratio="0.75">
                                    </span>
                                </div>
                                <div class="swiper-slide" style="width: 896px;">
                                    <span class="swiper-slide-span" ratio="0.75">
                                    </span>
                                </div>
                                <div class="swiper-slide" style="width: 896px;">
                                    <span class="swiper-slide-span" ratio="0.75">
                                    </span>
                                </div>
                                <div class="swiper-slide" style="width: 896px;">
                                    <span class="swiper-slide-span" ratio="0.75">
                                    </span>
                                </div>
                                <div class="swiper-slide swiper-slide-prev" style="width: 896px;">
                                    <span class="swiper-slide-span" ratio="0.75">
                                    </span>
                                </div>
                            </div>
                            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                                <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                                <span class="swiper-pagination-bullet"></span>
                                <span class="swiper-pagination-bullet"></span>
                                <span class="swiper-pagination-bullet"></span>
                                <span class="swiper-pagination-bullet"></span>
                                <span class="swiper-pagination-bullet"></span>
                                <span class="swiper-pagination-bullet"></span>
                                <span class="swiper-pagination-bullet"></span>
                                <span class="swiper-pagination-bullet"></span>
                                <span class="swiper-pagination-bullet"></span>
                            </div>
                        </div>
                        <button class="image-expansion-wrapper-prev" direction="left">
                            <svg width="48" height="48" fill="none" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M15.5 5.5l-6 6.5 6 6.5L14 20l-7.5-8L14 4l1.5 1.5z"
                                    fill="#FFF"></path>
                            </svg>
                        </button>
                        <button class="image-expansion-wrapper-next" direction="right">
                            <svg width="48" height="48" fill="none" viewBox="0 0 24 24">
                                <path fill-rule="evenodd" d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z"
                                    fill="#FFF"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>

    /* 참여하기 버튼 */
    let challengeBtn = document.querySelector('.challenge-button-check')

    // challengeBtn.onclick = function () {
    //     challengeBtn.style.backgroundColor = '#d7d7d7';
    //     challengeBtn.innerHTML = "좋아요 완료"
    // }


    /* 이미지 상세보기 모달 */
    let imageModal = document.querySelector('.image-expansion-display');
    let mainImage = document.querySelector('.image-container-wrapper-box');

    mainImage.onclick = function () {
        console.log("123123");
        imageModal.style.display = 'block';
    };

    let cancelBtn = document.querySelector('.image-expansion-container-cancel');

    cancelBtn.onclick = function () {
        imageModal.style.display = 'none';
    }

    /* 댓글 */
    const $replyModifyButton = $(".modify-button");
    const $replyModifyInputBox = $(".modify-content-box");
    const $replyModifyInput = $(".reply-modify-content");
    const $replyCancelButton = $(".reply-cancel-button");
    const $replyContentBox = $(".real-reply-text-box");

    const $reply = $(".reply-content-text");

    $replyModifyButton.each((i, e) => {

        $(e).click(() => {
            let reply = $($reply[i]).text();

            $($replyModifyInput[i]).val(reply);
            $($replyCancelButton[i]).show();
            $(e).hide();

            $($replyContentBox[i]).hide();
            $($replyModifyInputBox[i]).show();
        });
    });

    $replyCancelButton.each((i, e) => {

        $(e).click(() => {
            let reply = $($reply[i]).text();


            $($replyModifyButton[i]).show();
            $($replyCancelButton[i]).hide();
            $($replyContentBox[i]).show();
            $($replyModifyInputBox[i]).hide();
        });
    });

</script>
<script>
    const $heartButton = $(".heart-layout");
    const $noHeart = $(".no-heart");
    const $heartUp = $(".heart-up");

    $heartButton.each((i, e) => {

        $(e).click(() => {
            if ($($heartUp[i]).hasClass("heart-active")) {
                $($heartUp[i]).hide();
                $($heartUp[i]).removeClass("heart-active");
                $($noHeart[i]).show();
                $($noHeart[i]).addClass("heart-active");
            } else {
                $($heartUp[i]).show();
                $($heartUp[i]).addClass('heart-active');
                $($noHeart[i]).hide();
                $($noHeart[i]).removeClass("heart-active");
            }
        });
    });

    const $page = $(".paging-border-none");

    $page.each((i, e) => {
        $(e).click(() => {
            $page.removeClass("paging-active");
            $(e).addClass("paging-active");
        });
    });
</script>

</html>