<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제안게시판 목록</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="icon" href="/image/logo/favicon.png">
    <link rel="stylesheet" href="/css/board/proposal/modify-list.css">
</head>

<body>
<div>
    <th:block th:replace="~{main/header :: header}"></th:block>

    <div class="list-wrap">
        <div class="list-container">
            <div style="position: relative;">
                <div class="list-title-box">
                    <div class="list-title-layout">
                        <div style="display: flex; justify-content: space-between">
                            <h2 class="list-title">제안 게시판 목록</h2>
                            <a href="/board/suggest/write">
                                <div class="write-button-box">
                                    <div class="write-button-button-layout">
                                        <p>제안하기</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="list-sub-title">하고싶은 챌린지를 제안해보세요.</div>
                    </div>
                </div>
                <div class="list-content-box">
                    <section class="list-content-wrap">
                        <div class="popularity-button-box">
                            <button type="button"
                                    class="btn personal active">개인 챌린지
                            </button>
                            <button type="button" class="btn group">그룹
                                챌린지
                            </button>
                        </div>
                        <div style="margin-bottom: 30px;">
                            <div style="height:auto; overflow:auto">
                                <div style="overflow:hidden">
                                    <ul class="content-ul">
                                        <!--리스트-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="paging-box">
                            <div class="paging-layout">
                                    <!-- 페이지 들어가는 곳-->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{main/footer :: footer}"></th:block>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let userDetail = [[${userDetail}]];
    let memberId;
    if (userDetail) {
        memberId = userDetail.id;
    }
</script>
<script src="/js/board/suggest/list.js"></script>
<script src="/js/board/suggest/like-service.js"></script>
<script src="/js/board/suggest/like-button.js"></script>
<script src="/js/board/suggest/page-button.js"></script>
</html>