<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제안게시판 목록</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="icon" href="/image/logo/favicon.png">
    <link rel="stylesheet" href="/css/board/proposal/modify-list.css">
</head>

<body>
    <div>
        <th:block th:replace="~{main/header :: header}"></th:block>

        <div class="list-wrap">
            <div class="list-container">
                <div style="position: relative;">
                    <div class="list-title-box">
                        <div class="list-title-layout">
                            <h2 class="list-title">제안 게시판 목록</h2>
                            <div class="list-sub-title">하고싶은 챌린지를 제안해보세요.</div>
                        </div>
                    </div>
                    <div class="list-content-box">
                        <section class="list-content-wrap">
                            <div class="popularity-button-box">
                                <button class="btn recent active">개인</button>
                                <button class="btn popular">그룹</button>
                            </div>
                            <div>
                                <div style="height:auto; overflow:auto">
                                    <div style="overflow:hidden">
                                        <ul class="content-ul">
                                            <!-- 여기서 부터 -->
                                            <li class="content-li">
                                                <div class="content-flex">
                                                    <a href="javascript:void(0)">
                                                        <div class="content-box">
                                                            <div class="content-image-box">
                                                                <span class="content-image-layout">
                                                                    <picture>
                                                                        <img
                                                                            src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png">
                                                                    </picture>
                                                                    <div class="heart-box">
                                                                        <button class="heart-layout">
                                                                            <span class="auto-flex no-heart">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    width="24" height="24" fill="none"
                                                                                    viewBox="0 0 24 24">
                                                                                    <path fill-rule="evenodd"
                                                                                        d="M20.5 9c0-2-1.5-3.9-3.7-3.9-2.3 0-3.8 1.63-4.8 3.33-1-1.7-2.5-3.33-4.8-3.33C5 5.1 3.5 6.867 3.5 9c0 4.62 4.949 7.667 8.5 9.623 3.551-1.956 8.5-5.003 8.5-9.623zm-19-.176C1.5 5.607 3.962 3 7 3c2.7 0 4 1 5 2.2C13 4 14.3 3 17 3c3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                        fill="#FFF"></path>
                                                                                </svg>
                                                                            </span>
                                                                            <span class="auto-flex heart-up" style="display:none">
                                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                                    width="24" height="24" fill="none"
                                                                                    viewBox="0 0 24 24">
                                                                                    <path fill-rule="evenodd"
                                                                                        d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                        fill="#fd3049"></path>
                                                                                </svg>
                                                                            </span>
                                                                        </button>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="content-title">
                                                                게임업계에 관심 있다면?
                                                            </div>
                                                            <div class="content2">
                                                                상시 이벤트
                                                            </div>
                                                            <div class="liked-box">
                                                                <div class="flex">
                                                                    <div class="liked-layout">
                                                                        <div class="icon-box">
                                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                                width="12" height="12" fill="none"
                                                                                viewBox="0 0 24 24">
                                                                                <path fill-rule="evenodd"
                                                                                    d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                    fill="#d7d7d7"></path>
                                                                            </svg>
                                                                        </div>
                                                                        <p class="like-count">5771</p>
                                                                    </div>
                                                                    <div class="liked-layout">
                                                                        <div class="icon-box">
                                                                            <img src="/image/board/reply-icon.png" class="reply-icon">
                                                                        </div>
                                                                        <p class="reply-count">97</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>
                                            <!--  -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:replace="~{main/footer :: footer}"></th:block>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let dto = [[${suggestDTO}]];
    console.log(dto);
</script>
<script>
    const $heartButton = $(".heart-layout");
const $noHeart = $(".no-heart");
const $heartUp = $(".heart-up");

$heartButton.each((i, e) => {

    $(e).click(() => {
        if($($noHeart[i]).hasClass("heart-active")){
            $($heartUp[i]).hide();
            $($noHeart[i]).show();
            $($noHeart[i]).removeClass("heart-active");
        }else {
            $($noHeart[i]).addClass("heart-active");
            $($heartUp[i]).show();
            $($noHeart[i]).hide();
        }
    });
});

$(".btn").each((i, e) => {

    $(e).click(() => {
        if(!$(e).hasClass("active")){
            $(".btn").removeClass("active");
            $(e).addClass("active");
        }else {
            $(e).removeClass("active");
        }
    });
});
</script>
</html>