<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>제안게시판</title>
    <link rel="stylesheet" href="../../../css/common.css">
</head>

<body>
    <div class="body_wrapper">
        <header id="header"></header>

        <section class="list_wrapper">
            <header class="list_filter">
                <section class="sort_buttons_wrapper">
                    <section>
                        <button></button>
                        <button></button>
                    </section>
                    <button></button>
                </section>
            </header>
            <article class="list_content">
                
            </article>
        </section>
        <footer></footer>
    </div>
</body>

</html>