<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>다이어리 목록</title>
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="icon" href="/image/logo/favicon.png">
    <link rel="stylesheet" href="/css/board/diary/list.css">
</head>
<body>
<div>
    <th:block th:replace="~{main/header :: header}"></th:block>
    <div class="list-wrap">
        <div class="list-container">
            <div style="position: relative;">
                <div class="list-title-box">
                    <div class="list-title-layout">
                        <h2 class="list-title">공유 다이어리 목록</h2>
                        <div class="list-sub-title">자신의 다이어리를 공유해보세요.</div>
                    </div>
                </div>
                <div class="list-content-box">
                    <section class="list-content-wrap">
                        <div class="popularity-button-box">
                            <button class="btn recent active">최신순</button>
                            <button class="btn popular">인기순</button>
                        </div>
                        <div>
                            <div style="height:auto; overflow:auto">
                                <div style="overflow:hidden">
                                    <ul class="content-ul">

                                        <!-- 여기서 부터 -->
                                        <!--                                                                                     <li class="content-li">-->
                                        <!--                                                                                        <div class="content-flex">-->
                                        <!--                                                                                            <a href="javascript:void(0)">-->
                                        <!--                                                                                                <div class="content-box">-->
                                        <!--                                                                                                    <div class="content-image-box">-->
                                        <!--                                                                                                        <span class="content-image-layout">-->
                                        <!--                                                                                                            <picture>-->
                                        <!--                                                                                                                <img-->
                                        <!--                                                                                                                    src="https://cdn.class101.net/images/5a4b6adc-99f9-4dcc-85ff-833a86beb131/375xauto.webp">-->
                                        <!--                                                                                                            </picture>-->
                                        <!--                                                                                                        </span>-->
                                        <!--                                                                                                    </div>-->
                                        <!--                                                                                                    <div class="content-hover">-->
                                        <!--                                                                                                        <button class="heart-layout">-->
                                        <!--                                                                                                            <span class="auto-flex no-heart">-->
                                        <!--                                                                                                                <svg xmlns="http://www.w3.org/2000/svg"-->
                                        <!--                                                                                                                    width="24" height="24" fill="none"-->
                                        <!--                                                                                                                    viewBox="0 0 24 24">-->
                                        <!--                                                                                                                    <path fill-rule="evenodd"-->
                                        <!--                                                                                                                        d="M20.5 9c0-2-1.5-3.9-3.7-3.9-2.3 0-3.8 1.63-4.8 3.33-1-1.7-2.5-3.33-4.8-3.33C5 5.1 3.5 6.867 3.5 9c0 4.62 4.949 7.667 8.5 9.623 3.551-1.956 8.5-5.003 8.5-9.623zm-19-.176C1.5 5.607 3.962 3 7 3c2.7 0 4 1 5 2.2C13 4 14.3 3 17 3c3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"-->
                                        <!--                                                                                                                        fill="#FFF"></path>-->
                                        <!--                                                                                                                </svg>-->
                                        <!--                                                                                                            </span>-->
                                        <!--                                                                                                            <span class="auto-flex heart-up" style="display:none">-->
                                        <!--                                                                                                                <svg xmlns="http://www.w3.org/2000/svg"-->
                                        <!--                                                                                                                    width="24" height="24" fill="none"-->
                                        <!--                                                                                                                    viewBox="0 0 24 24">-->
                                        <!--                                                                                                                    <path fill-rule="evenodd"-->
                                        <!--                                                                                                                        d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"-->
                                        <!--                                                                                                                        fill="#fd3049"></path>-->
                                        <!--                                                                                                                </svg>-->
                                        <!--                                                                                                            </span>-->
                                        <!--                                                                                                        </button>-->
                                        <!--                                                                                                        <div class="hover-box">-->
                                        <!--                                                                                                            <div class="content-title-box">-->
                                        <!--                                                                                                                [메이커] 저희는 와디즈 메이커 입니다. 메이커 5인의 성공스토리-->
                                        <!--                                                                                                            </div>-->
                                        <!--                                                                                                            <div class="liked-box">-->
                                        <!--                                                                                                                <div class="flex">-->
                                        <!--                                                                                                                    <div class="liked-layout">-->
                                        <!--                                                                                                                        <div class="icon-box">-->
                                        <!--                                                                                                                            <svg xmlns="http://www.w3.org/2000/svg"-->
                                        <!--                                                                                                                                width="12" height="12" fill="none"-->
                                        <!--                                                                                                                                viewBox="0 0 24 24">-->
                                        <!--                                                                                                                                <path fill-rule="evenodd"-->
                                        <!--                                                                                                                                    d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"-->
                                        <!--                                                                                                                                    fill="#d7d7d7"></path>-->
                                        <!--                                                                                                                            </svg>-->
                                        <!--                                                                                                                        </div>-->
                                        <!--                                                                                                                        <p class="like-count">5771</p>-->
                                        <!--                                                                                                                    </div>-->
                                        <!--                                                                                                                    <div class="liked-layout">-->
                                        <!--                                                                                                                        <div class="icon-box">-->
                                        <!--                                                                                                                            <svg xmlns="http://www.w3.org/2000/svg"-->
                                        <!--                                                                                                                                width="12" height="12" fill="none"-->
                                        <!--                                                                                                                                viewBox="0 0 24 24">-->
                                        <!--                                                                                                                                <path fill-rule="evenodd"-->
                                        <!--                                                                                                                                    d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z"-->
                                        <!--                                                                                                                                    fill="#d7d7d7"></path>-->
                                        <!--                                                                                                                            </svg>-->
                                        <!--                                                                                                                        </div>-->
                                        <!--                                                                                                                        <p class="reply-count">97</p>-->
                                        <!--                                                                                                                    </div>-->
                                        <!--                                                                                                                </div>-->
                                        <!--                                                                                                            </div>-->
                                        <!--                                                                                                        </div>-->
                                        <!--                                                                                                    </div>-->
                                        <!--                                                                                                </div>-->
                                        <!--                                                                                            </a>-->
                                        <!--                                                                                        </div>-->
                                        <!--                                                                                    </li>-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
    <th:block th:replace="~{main/footer :: footer}"></th:block>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let userDetail = [[${userDetail}]];
    let memberId;
    if (userDetail) {
        memberId = userDetail.id;
    }
</script>
<script>
    const $ul = $(".content-ul");
    let page = 0;
    let sort = "recent";
    list(page, sort);

    function list(page, sort) {

        $.ajax({
            url: '/board/diary/list-content',
            type: 'get',
            data: {page: page, sort: sort},
            success: function (list) {
                $ul.append(listText(list));
            }
        });

    }

    function newList(page, sort) {
        $.ajax({
            url: '/board/diary/list-content',
            type: 'get',
            data: {page: page, sort: sort},
            success: function (list) {
                $ul.html(listText(list));
            }
        });
    }

    //    --------------
    function listText(list) {

        let diaryDTOS = list.content;
        let text = ``;
        diaryDTOS.forEach((diaryDTO, i) => {
            text += `
                                             <li class="content-li" id="${i}">
                                                <div class="content-flex">
                                                    <a href="javascript:void(0)">
                                                        <div class="content-box">
                                                            <div class="content-image-box">
                                                                <span class="content-image-layout">
                                                                    <picture>
                                                                    `;
            if (diaryDTO.fileDTOS.length == 0) {
                text += `<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/480px-No_image_available.svg.png" class="no-image">`;
            } else {
                for (let j = 0; j < diaryDTO.fileDTOS.length; j++) {
                    if (diaryDTO.fileDTOS[j].fileType === "REPRESENTATIVE") {
                        text += `<img class="list-image"  src="/file/display?fileName=${diaryDTO.fileDTOS[j].filePath}/${diaryDTO.fileDTOS[j].fileUuid}_${diaryDTO.fileDTOS[j].fileOriginalName}">`;
                    }
                }
            }
            text += `</picture>
                                                                </span>
                                                            </div>
                                                            <div class="content-hover">
                                                                <button class="heart-layout">
                                                                    <span class="auto-flex no-heart">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            width="24" height="24" fill="none"
                                                                            viewBox="0 0 24 24">
                                                                            <path fill-rule="evenodd"
                                                                                d="M20.5 9c0-2-1.5-3.9-3.7-3.9-2.3 0-3.8 1.63-4.8 3.33-1-1.7-2.5-3.33-4.8-3.33C5 5.1 3.5 6.867 3.5 9c0 4.62 4.949 7.667 8.5 9.623 3.551-1.956 8.5-5.003 8.5-9.623zm-19-.176C1.5 5.607 3.962 3 7 3c2.7 0 4 1 5 2.2C13 4 14.3 3 17 3c3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                fill="#FFF"></path>
                                                                        </svg>
                                                                    </span>
                                                                    <span class="auto-flex heart-up" style="display:none">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            width="24" height="24" fill="none"
                                                                            viewBox="0 0 24 24">
                                                                            <path fill-rule="evenodd"
                                                                                d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                fill="#fd3049"></path>
                                                                        </svg>
                                                                    </span>
                                                                </button>
                                                                <div class="hover-box">
                                                                    <div class="content-title-box">${diaryDTO.boardTitle}</div>
                                                                    <div class="liked-box">
                                                                        <div class="flex">
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12" fill="none"
                                                                                        viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M1.5 8.824C1.5 5.607 3.962 3 7 3c2.5 0 4 1.5 5 3 1-1.5 2.5-3 5-3 3.038 0 5.5 2.607 5.5 5.824C22.5 14.827 16.684 18.52 12 21 7.316 18.52 1.5 14.827 1.5 8.824z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="like-count">${diaryDTO.likeCount}</p>
                                                                            </div>
                                                                            <div class="liked-layout">
                                                                                <div class="icon-box">
                                                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                                                        width="12" height="12" fill="none"
                                                                                        viewBox="0 0 24 24">
                                                                                        <path fill-rule="evenodd"
                                                                                            d="M2 10.68c0-.691.503-1.251 1.135-1.251h2.273V22H3.135C2.508 22 2 21.427 2 20.749V10.68zm11.361-2.508h6.366c1.255 0 2.272 1.126 2.272 2.514 0 .151-.012.301-.037.45l-1.616 9.832C20.25 21.566 19.779 22 19.23 22H7.681V9.429L11.089 0c1.704 0 2.84 1.257 2.84 3.143 0 1.257-.189 2.933-.568 5.029z"
                                                                                            fill="#d7d7d7"></path>
                                                                                    </svg>
                                                                                </div>
                                                                                <p class="reply-count">${diaryDTO.replyCount}</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </li>

            `;
        });
        return text;
    }

</script>

<script>
    const $heartButton = $(".heart-layout");
    const $noHeart = $(".no-heart");
    const $heartUp = $(".heart-up");

    $heartButton.each((i, e) => {

        $(e).click(() => {
            if ($($noHeart[i]).hasClass("heart-active")) {
                $($heartUp[i]).hide();
                $($noHeart[i]).show();
                $($noHeart[i]).removeClass("heart-active");
            } else {
                $($noHeart[i]).addClass("heart-active");
                $($heartUp[i]).show();
                $($noHeart[i]).hide();
            }
        });
    });

    $(".btn").each((i, e) => {

        $(e).click(() => {
            if (!$(e).hasClass("active")) {
                $(".btn").removeClass("active");
                $(e).addClass("active");
            } else {
                $(e).removeClass("active");
            }
        });
    });
</script>
<script>
    $ul.on("mouseover", "li.content-li", function (e) {
        let ul = $(e.currentTarget).parent();
        let i = ul.find("li").index(e.currentTarget);

        $($(".content-hover")[i]).css("bottom", "1px");
        $($(".hover-box")[i]).css("transition", "all 0.2s ease-in-out 0s");
        $($(".hover-box")[i]).css("transform", "translateY(260px)");
        $($(".heart-layout")[i]).show();
    });

    $ul.on("mouseout", "li.content-li", function (e) {
        let ul = $(e.currentTarget).parent();
        let i = ul.find("li").index(e.currentTarget);

        $($(".content-hover")[i]).css("bottom", "-260px");
        $($(".hover-box")[i]).css("transition", "all 0.2s ease-in-out 0s");
        $($(".hover-box")[i]).css("transform", "translateY(0px)");
        $($(".heart-layout")[i]).hide();
    });

    $(".recent").click(() => {
        page = 0;
        sort = "recent";
        newList(page, sort);
    });

    $(".popular").click(() => {
        page = 0;
        sort = "popular";
        newList(page, sort);
    });

    $(window).scroll(
        function() {
            if ($(window).scrollTop() == $(document).height() - $(window).height()) {
                page++;
                list(page, sort);
            }
        }
    );

</script>
</html>