<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="wrapper">
        <nav class="" id="sidebar">
            <header id="logo"></header>
            <div class="list_wrapper">
                <div class="list_content">
                    <label for="" class="list_label">
                        <input type="button" value="" class="is-hidden" name="">
                    </label>
                </div>
                <div class="list_content">
                    <label for="" class="list_label">
                        <input type="button" value="" class="is-hidden" name="">
                    </label>
                </div>
                <div class="list_content">
                    <label for="" class="list_label">
                        <input type="button" value="" class="is-hidden" name="">
                    </label>
                </div>
                <div class="list_content">
                    <label for="" class="list_label">
                        <input type="button" value="" class="is-hidden" name="">
                    </label>
                </div>
                <div class="list_content">
                    <label for="" class="list_label">
                        <input type="button" value="" class="is-hidden" name="">
                    </label>
                </div>
                <div class="list_content">
                    <label for="" class="list_label">
                        <input type="button" value="" class="is-hidden" name="">
                    </label>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>