<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/admin/admin_fragment.css">
    <link rel="stylesheet" href="/static/css/admin/admin_common.css">
</head>
<body>
    <div class="wrapper">
        <nav class="" id="sidebar">
            <header id="logo"></header>
            <div class="list_wrapper">
                <div class="list_content">
                    <label for="" class="list_label">
                        <input type="button" value="" class="is-hidden" name="">회원 관리
                    </label>
                </div>
                <div class="list_content">
                    <label for="" class="list_label">
                        <input type="button" value="" class="is-hidden" name="">제안 게시판 관리
                    </label>
                </div>
                <div class="list_content">
                    <label for="" class="list_label">
                        <input type="button" value="" class="is-hidden" name="">챌린지 게시판 관리
                    </label>
                </div>
                <div class="list_content">
                    <label for="" class="list_label">
                        <input type="button" value="" class="is-hidden" name="">문의글 관리
                    </label>
                </div>
                <div class="list_content">
                    <label for="" class="list_label">
                        <input type="button" value="" class="is-hidden" name="">공지사항 관리
                    </label>
                </div>
                <div class="list_content">
                    <label for="" class="list_label">
                        <input type="button" value="" class="is-hidden" name="">배너 관리
                    </label>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>