<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의 게시판 목록</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/board/inquire/inquire-list.css">
    <link rel="icon" href="/static/image/logo/favicon.png">
    <link rel="stylesheet" href="/static/css/main/header.css">
    <link rel="stylesheet" href="/static/css/main/footer.css">
</head>
<body>
    <div style="position: relative; z-index: 0;">
        <main>
            <div class="main">
                <!-- <div class="login">
                    <div class="header">
                        <div class="login"> -->
                            <div id="header"></div>
                            </div>
                            <!-- <div class="header_middle"></div>
                        </div> -->
                    </div>
                    <div class="row">
                        <div class="div_notice">
                            <div class="login">
                                <div class="notice_box">
                                    <h4 class="notice_h4">문의 게시판</h4>
                                    <div style="height: 24px;"></div>
                                    <div class="login">
                                        <div class="notice_inbox">
                                            <div class="login"><!--  -->
                                                <div class="login"><!-- 공지사항 목록 -->
                                                    <div class="login_margin">
                                                        <a class="login_margin_a">
                                                            <div class="notice_list">
                                                                <p class="notice_list_p">매월 새로운 준비물, 지금 바로 101 서랍에 참여하세요!</p>
                                                                <div class="align">
                                                                    <!-- <p class="important">미답변</p> -->
                                                                    <img src="/static/image/board/V_icon.png" alt="" class="inquire-icon">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="important_div"></div>
                                                    <div class="login_margin">
                                                        <a class="login_margin_a">
                                                            <div class="notice_list">
                                                                <p class="notice_list_p">매월 새로운 준비물, 지금 바로 101 서랍에 참여하세요!</p>
                                                                <div class="align">
                                                                    <!-- <p class="important-answer">답변 완료</p> -->
                                                                    <img src="/static/image/board/X_icon.png" alt="" class="inquire-icon">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="important_div"></div>
                                                    <div class="login_margin">
                                                        <a class="login_margin_a">
                                                            <div class="notice_list">
                                                                <p class="notice_list_p">매월 새로운 준비물, 지금 바로 101 서랍에 참여하세요!</p>
                                                                <div class="align">
                                                                    <!-- <p class="important-answer">답변 완료</p> -->
                                                                    <img src="/static/image/board/V_icon.png" alt="" class="inquire-icon">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="important_div"></div>
                                                    <div class="login_margin">
                                                        <a class="login_margin_a">
                                                            <div class="notice_list">
                                                                <p class="notice_list_p">매월 새로운 준비물, 지금 바로 101 서랍에 참여하세요!</p>
                                                                <div class="align">
                                                                    <!-- <p class="important">미답변</p> -->
                                                                    <img src="/static/image/board/V_icon.png" alt="" class="inquire-icon">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="important_div"></div>
                                                    <div class="login_margin">
                                                        <a class="login_margin_a">
                                                            <div class="notice_list">
                                                                <p class="notice_list_p">매월 새로운 준비물, 지금 바로 101 서랍에 참여하세요!</p>
                                                                <div class="align">
                                                                    <!-- <p class="important">미답변</p> -->
                                                                    <img src="/static/image/board/V_icon.png" alt="" class="inquire-icon">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="important_div"></div>
                                                    <div class="login_margin">
                                                        <a class="login_margin_a">
                                                            <div class="notice_list">
                                                                <p class="notice_list_p">매월 새로운 준비물, 지금 바로 101 서랍에 참여하세요!</p>
                                                                <div class="align">
                                                                    <!-- <p class="important">미답변</p> -->
                                                                    <img src="/static/image/board/V_icon.png" alt="" class="inquire-icon">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="important_div"></div>
                                                    <div class="login_margin">
                                                        <a class="login_margin_a">
                                                            <div class="notice_list">
                                                                <p class="notice_list_p">매월 새로운 준비물, 지금 바로 101 서랍에 참여하세요!</p>
                                                                <div class="align">
                                                                    <!-- <p class="important">미답변</p> -->
                                                                    <img src="/static/image/board/X_icon.png" alt="" class="inquire-icon">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="important_div"></div>
                                                    <div class="login_margin">
                                                        <a class="login_margin_a">
                                                            <div class="notice_list">
                                                                <p class="notice_list_p">매월 새로운 준비물, 지금 바로 101 서랍에 참여하세요!</p>
                                                                <div class="align">
                                                                    <!-- <p class="important">미답변</p> -->
                                                                    <img src="/static/image/board/X_icon.png" alt="" class="inquire-icon">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="important_div"></div>
                                                    <div class="login_margin">
                                                        <a class="login_margin_a">
                                                            <div class="notice_list">
                                                                <p class="notice_list_p">매월 새로운 준비물, 지금 바로 101 서랍에 참여하세요!</p>
                                                                <div class="align">
                                                                    <!-- <p class="important">미답변</p> -->
                                                                    <img src="/static/image/board/X_icon.png" alt="" class="inquire-icon">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="important_div"></div>
                                                    <div class="login_margin">
                                                        <a class="login_margin_a">
                                                            <div class="notice_list">
                                                                <p class="notice_list_p">매월 새로운 준비물, 지금 바로 101 서랍에 참여하세요!</p>
                                                                <div class="align">
                                                                    <!-- <p class="important">미답변</p> -->
                                                                    <img src="/static/image/board/X_icon.png" alt="" class="inquire-icon">
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="important_div"></div>
                                                    <!-- 공지사항 집어넣는곳 -->
                                                </div>
                                            </div>
                                        </div>
                                        <div style="height: 24px;"></div>
                                        <div class="align">
                                            <nav class="center_row">
                                                <button class="left_arrow">
                                                    <span class="left_arrow_span">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="left_arrow_svg">
                                                            <path d="M15.1 2.55 16.5 4c.1.1.1.25 0 .35L8.85 12l7.65 7.65c.1.1.1.25 0 .35l-1.4 1.4c-.1.1-.25.1-.35 0L5.5 12.15c-.1-.1-.1-.25 0-.35l9.25-9.25c.1-.05.25-.05.35 0Z"></path>
                                                        </svg>
                                                    </span>
                                                </button>
                                                <div style="width: 16px; display: flex;"></div>
                                                <div class="row">
                                                    <button class="first_button second_button">
                                                        <span class="button_number">1</span>
                                                    </button>
                                                    <div style="width: 2px;"></div>
                                                    <button class="second_button">
                                                        <span class="button_number">2</span>
                                                    </button>
                                                    <div style="width: 2px;"></div>
                                                    <button class="second_button">
                                                        <span class="button_number">3</span>
                                                    </button>
                                                    <div style="width: 2px;"></div>
                                                    <button class="second_button">
                                                        <span class="button_number">4</span>
                                                    </button>
                                                    <div style="width: 2px;"></div>
                                                    <button class="second_button">
                                                        <span class="button_number">5</span>
                                                    </button>
                                                </div>
                                                <div style="width: 16px; display: flex;"></div>
                                                <button class="right_arrow">
                                                    <span class="wid_hei">
                                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="right_arrow_svg">
                                                            <path d="M8.905 21.45 7.505 20c-.1-.1-.1-.25 0-.35l7.65-7.65-7.65-7.65c-.1-.1-.1-.25 0-.35l1.4-1.4c.1-.1.25-.1.35-.05l9.25 9.3c.1.1.1.25 0 .35l-9.25 9.25c-.1.05-.25.05-.35 0Z" class="css-0"></path>
                                                        </svg>
                                                    </span>
                                                </button>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="height: 72px;"></div>
                        <!-- 푸터 넣는곳 -->
                    </div>
                </div>
            </div>
            <footer id="footer"></footer>
        </main>
    </div>
</body>
<script>

    let pages = document.querySelectorAll('.second_button');
    pages.forEach(page =>{
        page.addEventListener('click', function(){
            pages.forEach(p =>{
                p.classList.remove('first_button');
            })
            page.classList.add('first_button');
        })
    })


</script>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script>
    $(document).ready(() => {
        $("#header").load("../../main/header.html");
        $("#footer").load("../../main/footer.html");
    });
</script>
</html>