<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문의하기</title>
    <link rel="stylesheet" href="/css/summernote/summernote-lite.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/main/header.css">
    <link rel="stylesheet" href="/css/main/footer.css">
    <link rel="stylesheet" href="/css/board/proposal/common.css">
    <link rel="stylesheet" href="/css/board/proposal/write.css">
    <link rel="icon" href="/image/logo/favicon.png">
</head>

<body>
    <div class="body_wrapper">
        <th:block th:replace="~{main/header :: header}"></th:block>
        <section class="list_wrapper">
            <div class="body-wrap">
                <div class="body-wrap-box">
                    <div class="board-name">
                        <div class="board-name-line"></div>
                        <div class="board_name-box">
                            <a href="" target="_blank">
                                <h2>문의 게시판</h2>
                            </a>
                        </div>
                    </div>
                    <div class="body-main">
                        <div class="body-main-box">
                            <div class="body-mian-box-in">
                                <div class="body-mian-box-in-box is-no-scroll">
                                    <div class="body-mian-box-in-box-in">
                                        <div class="real-wrap">
                                            <div class="real-wrap-box">
                                                <div class="real-wrap-box-box">
                                                    <div class="pasing-wrapper">
                                                       <a th:href="@{/board/inquire/list}" >
                                                        <button icon-position="0" color="white" fill="false"
                                                            class="pasing-button-1 pasing-no-select">
                                                            <span class="pasing-button-span"><svg
                                                                    xmlns="http://www.w3.org/2000/svg" width="24"
                                                                    height="24" fill="none" viewBox="0 0 24 24">
                                                                    <path
                                                                        d="M18.5 4L12 10.5 5.5 4 4 5.5l6.5 6.5L4 18.5 5.5 20l6.5-6.5 6.5 6.5 1.5-1.5-6.5-6.5L20 5.5 18.5 4z"
                                                                        fill="#cacaca"></path>
                                                                </svg></span>
                                                        </button>
                                                       </a>
                                                    </div>
                                                    <div class="box-header">
                                                        <h3>문의 작성하기 </h3>
                                                    </div>
                                                    <div class="box-main">
                                                        <div class="box-main-wrap">
                                                            <form th:action="@{/board/inquire/write}" method="post">
                                                                <div class="box-main-wrpa-list">
                                                                    <p></p>
                                                                    <!-- <div class="box-line file_insert_wrapper is-flex">
                                                                        <label class="file_insert_label">
                                                                            <input type="file" style="display:none;"
                                                                                class="file" multiple>
                                                                            <div class="file-image-box">
                                                                                <p>사진 첨부</p>
                                                                            </div>
                                                                        </label>
                                                                    </div> -->
                                                                    <label>
                                                                        <div class="box-main-title">
                                                                            <input type="text" name="inquireTitle"
                                                                                class="main-title"
                                                                                placeholder="제목을 입력해주세요." th:value="${inquireDTO.inquireTitle}">
                                                                        </div>
                                                                    </label>
                                                                    <div class="box-line"></div>
                                                                    <!-- <form method="post">
                                                                        <textarea id="summernote"
                                                                            name="editordata"></textarea>
                                                                    </form> -->
                                                                    <div class="box-main-body">
                                                                        <span class="box-main-body-span"></span>
                                                                        <div class="editor-wrap">
                                                                            <textarea name="inquireContent" cols="30" rows="10"
                                                                                class="proposal_content is-no-scroll"
                                                                                placeholder="내용을 입력해주세요." th:text="${inquireDTO.inquireContent}"></textarea>
                                                                                <section class="img_wrapper_box">
                                                                                    <div class="img_ul_wrapper">
                                                                                        <ul class="img_ul">
                                                                                        </ul>
                                                                                    </div>
                                                                                </section>
                                                                            <div class="body-main-box-in-box-2">
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="box-line"></div>
                                                                    <div class="editor-button-line">
                                                                        <div class="button-line"></div>
                                                                        <button type="submit" class="save-button">
                                                                            <div class="save-button-box">
                                                                                <div class="save-button-box-div"></div>
                                                                                <span class="save-button-span">저장하기</span>
                                                                                <div class="save-button-box-div"></div>
                                                                            </div>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body-line"></div>
                    <footer></footer>
                </div>
            </div>
        </section>
        <th:block th:replace="~{main/footer :: footer}"></th:block>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script th:inline="javascript">
    let member = [[${session.member}]];
    let memberDTO = [[${memberDTO}]];
    let memberFile;
    if(memberDTO){
        memberFile = memberDTO.fileDTO;
    }
</script>
<script src="/js/main/header.js"></script>
<script>
    // const $alertModal = $(".alert-modal-display");

    // 이미지 파일
    let inputFiles = [];
    let $imgUl = $($('ul.img_ul')[0]);
    let $deleteLabels = $('.delete_button_wrapper svg');

    $(".file").change((e) => {
        let errorMsg = "확장자는 이미지 확장자만 가능합니다.";
        let index = 0;
        let files = e.target.files;
        let filesArr = Array.prototype.slice.call(files);

        inputFiles = [];

        filesArr.forEach(file => {
            if (!file.type.match("image.*")) {
                alertModal(errorMsg);
                return;
            }
            inputFiles.push(file);

            var reader = new FileReader();
            reader.onload = (e) => {
                if (index >= 3) {
                    return;
                }
                let text = `
                        <li class="img_list" id="li${index}">
                            <div class="img_box_wrapper">
                                <header class="delete_button_wrapper">
                                    <label id="label${index}">
                                        <button icon-position="0" color="white" fill="false"
                                            class="pasing-button-1 pasing-no-select" id="button${index}">
                                            <span class="pasing-button-span">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    width="24" height="24" fill="none"
                                                    viewBox="0 0 24 24">
                                                    <path
                                                        d="M18.5 4L12 10.5 5.5 4 4 5.5l6.5 6.5L4 18.5 5.5 20l6.5-6.5 6.5 6.5 1.5-1.5-6.5-6.5L20 5.5 18.5 4z"
                                                        fill="#cacaca"></path>
                                                </svg>
                                            </span>
                                        </button>
                                    </label>
                                </header>
                                <article class="img_wrapper">
                                    <div class="img_div">
                                        <img src="` + e.target.result + `" alt=""
                                            class="inserted_img">
                                    </div>
                                </article>
                            </div>
                        </li>
                `;
                $imgUl.append(text);
                index++;
            }
            reader.readAsDataURL(file);
        });
    });

    // 이미지 제거
    $deleteLabels.on("click", (e) => {
        console.log("x버튼 눌림")
        let index = $(e.target).attr('id');
        $('#li' + index).remove();
    });
</script>
</html>