<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지- 문의 게시판 상세보기</title>
    <link rel="stylesheet" href="/css/admin/sidemenu.css">
    <link rel="stylesheet" href="/css/admin/admin_board_detail.css">
    <link rel="stylesheet" href="/css/admin/admin_inquire_detail.css">
    <link rel="stylesheet" href="/css/board/inquire/inquire.css">
    <link rel="icon" href="/image/logo/favicon.png">
</head>
<style>
    .important{
        border-radius: 0px;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-color: rgb(229, 229, 229);
        box-shadow: none;
    }
    .content {
        border-radius: 0px;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-color: rgb(229, 229, 229);
        box-shadow: none;
    }
</style>

<body>
    <div>
        <div class="info-title-box info-title-box-flex">
            <div class="logo-box-layout">
                <div class="logo-box">
                    <img src="/image/logo/logo.png">
                </div>
                <div class="logo-title">
                    <span>Jar</span>
                </div>
            </div>
            <div>
                <div class="select-name">
                    <span>문의 게시판 관리</span>
                </div>
            </div>
        </div>
        <div class="wrap">

            <!-- 사이드 바 -->
            <div th:replace="~{admin/side_bar :: sidebar}"></div>

            <div class="container">
                <div class="container-margin">
                    <!-- 헤더 -->
                    <div class="prev-button-layout">
                        <div>
                            <a th:href="@{/admin/board/inquire/list}">
                                <img src="/image/admin/prev_icon.png" class="prev-icon">
                                <span class="prev-title">리스트로 돌아가기</span>
                            </a>
                        </div>
                    </div>

                    <!-- 내용 섹션 -->
                    <section class="board-info-box-layout">
                        <div class="board-info-box">
                            <div class="board-info-title-box">
                                <span>문의글 상세보기</span>
                            </div>
                            <hr>
                            <div class="info-table">
                                <div class="board_title">
                                    <span class="span-bold">제목 :</span>
                                    <!-- 제목  -->
                                    <span th:text="${inquireDTO.inquireTitle}">제목</span>
                                </div>
                                <div class="board_info board_writer">
                                    <span class="span-bold">작성자 :</span>
                                    <!-- 작성자 명  -->
                                    <span th:text="${inquireDTO.memberDTO.memberNickname}">닉네임</span>
                                </div>
                                <!-- <div class="info-member">
									<span class="span-bold">좋아요 :</span>
									<span>3</span>
								</div> -->
                                <div class="board_info board_register_date">
                                    <span class="span-bold">작성 날짜 :</span>
                                    <!-- 작성 날짜  -->
                                    <span th:text="${#temporals.format(inquireDTO.createdDate, 'yyyy/MM/dd')}">2023.04.23 11:01</span>
                                </div>
                                <hr>
                                <div class="board_content" th:text="${inquireDTO.inquireContent}">
                                    <!-- 게시판 내용 -->
                                    문의글 내용
                                </div>
                                <!--답변 부분-->
                                <th:block th:if="${!#strings.isEmpty(inquireDTO.answerDTO)}">
                                <div class="notice_wrap_div">
                                    <div class="notice_box">
                                        <div class="login">
                                            <div style="height: 6px;"></div>
                                            <div class="important">
                                                <div class="important_div" th:if="${inquireDTO.answerType != null}">
                                                    <div class="login_row">
                                                        <div style="width: 6px;"></div>
                                                    </div>
                                                    <p class="year_month_day" th:text="${#temporals.format(inquireDTO.createdDate, 'yyyy/MM/dd')}">2023. 4. 3.</p>
                                                </div>
                                            </div>
                                            <div class="content">
                                                <div>
                                                    <p class="content_p" th:text="${inquireDTO.answerDTO.answerContent}">답변 내용</p>
                                                </div>
                                            </div>
                                            <div style="height: 6px;"></div>
                                        </div>
                                    </div>
                                </div>
                                </th:block>
                                <th:block th:unless="${!#strings.isEmpty(inquireDTO.answerDTO)}">
                                    <div class="notice_wrap_div">
                                        <div class="notice_box">
                                            <div class="login">
                                                <div style="display: flex; justify-content: center; align-content: center;">
                                                    <p>아직 답변이 되지않았습니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                                <hr>
                                <div class="answer_button_wrapper modify_button_wrapper">
                                    <a th:href="@{/admin/board/inquire/answer(inquireId=${inquireDTO.id})}">답변하기</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script src="/js/admin/sidemenu.js"></script>

</html>