<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>챌린지 상세보기</title>
    <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/board/challenge/challenge.css">
    <link rel="icon" href="/static/image/logo/logo.png">
</head>
<body>
    <div class="__next">
        <div id="wrapper">
            <div class="wrapper">
                <!-- header -->
                <section></section>
                <div class="wrapper-container">
                    <div>
                        <div>
                            <div class="image-container">
                                <div class="image-container-layout">
                                    <div class="image-container-layout-box">
                                        <div class="image-container-wrapper">
                                            <div class="image-container-wrapper-box" gutter="6">
                                                <div class="image-main-container" width="58.8" height="519px">
                                                    <div class="image-main-container-box">
                                                        <picture class="image-container-picture">
                                                            <img srcset="https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/375xauto.png 375w,https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/750xauto.png 750w,https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/960xauto.png 960w,https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/1440xauto.png 1440w,https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/2048xauto.png 2048w,https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/2880xauto.png 2880w,https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112/autoxauto.png 5120w" sizes="(min-width: 1024px) 700px, 100vw" src="https://cdn.class101.net/images/80a349f4-cd0e-4ef7-ae18-14c0d8161112">
                                                        </picture>
                                                    </div>
                                                </div>
                                                <div class="image-sub-container" direction="column" gutter="6">
                                                    <div class="image-sub-container-wrap-1" height="50%">
                                                        <div class="image-sub-container-wrap-1-box">
                                                            <picture class="image-container-picture">
                                                                <img srcset="https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/375xauto.png 375w,https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/750xauto.png 750w,https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/960xauto.png 960w,https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/1440xauto.png 1440w,https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/2048xauto.png 2048w,https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/2880xauto.png 2880w,https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51/autoxauto.png 5120w" sizes="(min-width: 1024px) 700px, 100vw" src="https://cdn.class101.net/images/e16f5209-bf9a-49c4-b429-bfa8792bfb51">
                                                            </picture>
                                                        </div>
                                                    </div>
                                                    <div class="image-sub-container-wrap-2" gutter="6">
                                                        <div class="image-sub-container-wrap-2-box" width="50%">
                                                            <div class="image-sub-container-wrap-2-box-layout">
                                                                <div class="image-sub-box">
                                                                    <picture class="image-container-picture">
                                                                        <img srcset="https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/375xauto.png 375w,https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/750xauto.png 750w,https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/960xauto.png 960w,https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/1440xauto.png 1440w,https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/2048xauto.png 2048w,https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/2880xauto.png 2880w,https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b/autoxauto.png 5120w" sizes="(min-width: 1024px) 700px, 100vw" src="https://cdn.class101.net/images/f0174cd5-20aa-4f44-98e0-11c63e77457b">
                                                                    </picture>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="image-sub-container-wrap-2-box" width="50%">
                                                            <div class="image-sub-container-wrap-2-box-layout">
                                                                <picture class="image-container-picture">
                                                                    <img srcset="https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/375xauto.png 375w,https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/750xauto.png 750w,https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/960xauto.png 960w,https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/1440xauto.png 1440w,https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/2048xauto.png 2048w,https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/2880xauto.png 2880w,https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1/autoxauto.png 5120w" sizes="(min-width: 1024px) 700px, 100vw" src="https://cdn.class101.net/images/427cc92b-0752-4194-9e86-b1fc36082db1">
                                                                </picture>
                                                            </div>
                                                            <div class="sub-image-container-plus" font-weight="700" color="#FFF">+ 1개 <br> 이미지</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="main-container">
                            <div class="main-container-wrapper">
                                <div class="main-container-wrapper-layout">
                                    <section class="main-information-box">
                                        <h2 class="">챌린지 정보</h2>
                                        <dl class="main-information-box-wrap">
                                            <dt class="box-information-title">챌린지 분류</dt>
                                            <dd class="box-information-content">개인 챌린지</dd>
                                            <dt class="box-information-title">챌린지 기간</dt>
                                            <dd class="box-information-content">2023-04-23 ~ 2023-04-30</dd>
                                        </dl>
                                    </section>
                                    <div class="container-wrapper">
                                        <div>
                                            <div class="container-wrapper-main">
                                                <div class="container-wrapper-main-box">
                                                    <div class="user-container-box user">
                                                        <div class="user-container-box-1">
                                                            <h3 class="user-box-1 user-1-box box-1-user" md="Headline3" font-weight="nomal">
                                                                <!-- 챌린지 이름 -->
                                                                <strong>아침에 일어나서 이불개기 챌린지</strong>
                                                            </h3>
                                                        </div>
                                                        <div class="user-container-box-2" size="64">
                                                            <!-- <span class="box-2-span box-2-span-2">
                                                                <picture class="image-container-picture user-picture">
                                                                    <img sizes=" 100vw" srcset="https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/375xauto 375w,https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/750xauto 750w,https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/960xauto 960w,https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/1440xauto 1440w,https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/2048xauto 2048w,https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/2880xauto 2880w,https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f/autoxauto 5120w" src="https://cdn.class101.net/images/d1c47b18-f0b7-436e-a7c3-17f45db9110f">
                                                                </picture>
                                                            </span> -->
                                                            <button class="challenge-button-check" icon-position="0" color="default" fill="true">
                                                                <span>참여하기</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!-- <div class="user-achievement">
                                                        <div class="user-achievement-box">
                                                            <span class="user-achievement-box-1 user-achievement-box-2">
                                                                <a href="" target="_blank" icon-position="0" color="default" class="user-achivement-a">
                                                                    <span class="user-achivement-box-span">
                                                                        <img src="/static/image/board/ic-youtube.png" alt="" class="achivement-img">
                                                                        <span class="user-achivement-box-span-span">콕스Illust</span>
                                                                    </span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div class="user-achievement-box">
                                                            <span class="user-achievement-box-1 user-achievement-box-2">
                                                                <a href="" target="_blank" icon-position="0" color="default" class="user-achivement-a">
                                                                    <span class="user-achivement-box-span">
                                                                        <img src="/static/image/board/ic-twitter.png" alt="" class="achivement-img">
                                                                        <span class="user-achivement-box-span-span">콕스Illust</span>
                                                                    </span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                        <div class="user-achievement-box">
                                                            <span class="user-achievement-box-1 user-achievement-box-2">
                                                                <a href="" target="_blank" icon-position="0" color="default" class="user-achivement-a">
                                                                    <span class="user-achivement-box-span">
                                                                        <img src="/static/image/board/ic-instagram.png" alt="" class="achivement-img">
                                                                        <span class="user-achivement-box-span-span">콕스Illust</span>
                                                                    </span>
                                                                </a>
                                                            </span>
                                                        </div>
                                                    </div> -->
                                                </div>
                                                <div class="text-container">
                                                    <div class="text-container-box">
                                                        <div class="text-container-box-layout" size="384">
                                                            <div class="text-container-box-layout-box">
                                                                <div class="text-container-box-layout-box-text">
                                                                    <p>안녕하세요. 콕스Illust 유튜브 채널을 운영하고 있는 일러스트레이터 콕스입니다. 이 강의는 현재의 내가 그림을 본격적으로 시작하기 전 과거의 나에게 단 하나의 USB에 정보를 담아 전달할 수 있다면. 이라는 생각으로 제작했습니다. 7년간 게임회사에서 일러스트레이터, 캐릭터 원화가의 경력과 약 10년간 미술학원, CG 학원, 대학교에서의 강의 경험을 바탕으로 그림 초보자가 독학을 해서 수익이 나기 위한 방법에 대해서 핵심만 담아 영상을 만들었습니다.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="main-box-line"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 댓글 -->
                                    <div>
                                        <div class="reply-container">
                                            <div class="reply-container-wrap" data-test-id="fold-community-original">
                                                <div class="reply-container-wrap-box">
                                                    <br>
                                                    <div class="reply-container-box">
                                                        <div class="reply-container-box-layout">
                                                            <div class="reply-box-container">
                                                                <div class="reply-text-box">
                                                                    <div class="reply-text-box-user">
                                                                        <section class="reply-user-box">
                                                                            <div class="reply-user-box-image" size="40">
                                                                                <span class="reply-user-box-image-sapn-1  reply-user-box-image-sapn-2">
                                                                                    <picture class="reply-user-picture">
                                                                                        <img src="/static/image/board/default-user.png" sizes="100vw" alt="">
                                                                                    </picture>
                                                                                </span>
                                                                            </div>
                                                                            <div class="reply-user-box-info">
                                                                                <strong class="reply-user-box-info-name">강한친구곽두철</strong>
                                                                                <div class="reply-user-box-info-date">2023. 04. 21</div>
                                                                            </div>
                                                                        </section>
                                                                        <div></div>
                                                                    </div>
                                                                    <div class="reply-text-box-text">
                                                                        <div class="reply-text-container" top="16" right="0" bottom="8" left="0">
                                                                            <div class="reply-text-container-box-1 reply-text-container-box" md="Body2">
                                                                                <div class="reply-text-container-box-layout">
                                                                                    <div class="reply-text-container-box-layout-text" size="200">
                                                                                        <div class="real-reply-text-box">
                                                                                            안녕하세요 페이스북 홍보는 아직도 추천하시나요? 자굼 페이스북 이용자가 많이 줄었다고 들어서 궁급합니다 ㅎㅎ</div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="reply-container-box-layout">
                                                            <div>
                                                                <form action="" class="reply-form">
                                                                    <div class="reply-form-container">
                                                                        <div class="reply-form-container-box">
                                                                            <textarea name="content" id="" cols="30" rows="1" placeholder="댓글을 입력해주세요." class="reply-content"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <button class="reply-from-button-1 reply-from-button-2" type="submit" kind="textGray">
                                                                        <div class="reply-from-button-box">
                                                                            <span class="reply-from-button-box-span">
                                                                                <svg width="24" height="24" fill="none" viewBox="0 0 24 24"><path fill-rule="evenodd" d="M6 11h4a1 1 0 110 2H6v6l13-7L6 5v6zm.948 9.761C5.616 21.478 4 20.513 4 19V5c0-1.513 1.616-2.478 2.948-1.761l13 7c1.402.755 1.402 2.767 0 3.522l-13 7z" fill="#e5e5e5"></path></svg>
                                                                            </span>
                                                                        </div>
                                                                    </button>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <button class="the-bogi" icon-position="0" color="default" fill="true">
                                                            <span class="the-bogi-span">더 보기</span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- footer -->
                <footer></footer>
            </div>
        </div>
    </div>

    <!-- 이미지 확대 -->
    <div class="image-expansion" zindex="3000" overlaycolor="rgba(0, 0, 0, 0.72)">
        <div class="image-expansion-container">
            <button icon-position="0" color="white" class="image-expansion-container-cancel cancel-button cancel-button-layout">
                <div position="0" buttonsize="lg" class="cancel-button-box">
                    <svg width="24" height="24" fill="none" viewBox="0 0 24 24"><path d="M18.5 4L12 10.5 5.5 4 4 5.5l6.5 6.5L4 18.5 5.5 20l6.5-6.5 6.5 6.5 1.5-1.5-6.5-6.5L20 5.5 18.5 4z" fill="#FFF"></path></svg>
                </div>
                <span class="cancel-button-span">
                    <span>닫기</span>
                </span>
            </button>
            <div class="image-expansion-container-wrapper">
                <div class="image-expansion-count">
                    <div class="count-first">01</div>
                    <div class="count-second"></div>
                    10
                </div>
                <div class="image-expansion-wrapper">
                    <div class="image-expansion-wrapper-main">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide swiper-slide-active" style="width: 896px;">
                                <span class="swiper-slide-span" ratio="0.75">
                                    <picture ratio="0.75" class="swiper-slide-picture image-container-picture">
                                        <img sizes=" 100vw" srcset="https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/375xauto 375w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/750xauto 750w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/960xauto 960w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/1440xauto 1440w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/2048xauto 2048w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/2880xauto 2880w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/autoxauto 5120w" src="https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff">
                                    </picture>
                                </span>
                            </div>
                            <div class="swiper-slide swiper-slide-next" style="width: 896px;">
                                <span class="swiper-slide-span" ratio="0.75">
                                    <picture ratio="0.75" class="swiper-slide-picture image-container-picture">
                                        <img sizes=" 100vw" srcset="https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/375xauto 375w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/750xauto 750w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/960xauto 960w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/1440xauto 1440w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/2048xauto 2048w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/2880xauto 2880w,https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff/autoxauto 5120w" src="https://cdn.class101.net/images/d125bc77-a03a-41fb-9ea6-b04db24f3aff">
                                    </picture>
                                </span>
                            </div>
                            <div class="swiper-slide" style="width: 896px;">
                                <span class="swiper-slide-span" ratio="0.75">
                                </span>
                            </div>
                            <div class="swiper-slide" style="width: 896px;">
                                <span class="swiper-slide-span" ratio="0.75">
                                </span>
                            </div>
                            <div class="swiper-slide" style="width: 896px;">
                                <span class="swiper-slide-span" ratio="0.75">
                                </span>
                            </div>
                            <div class="swiper-slide" style="width: 896px;">
                                <span class="swiper-slide-span" ratio="0.75">
                                </span>
                            </div>
                            <div class="swiper-slide" style="width: 896px;">
                                <span class="swiper-slide-span" ratio="0.75">
                                </span>
                            </div>
                            <div class="swiper-slide" style="width: 896px;">
                                <span class="swiper-slide-span" ratio="0.75">
                                </span>
                            </div>
                            <div class="swiper-slide" style="width: 896px;">
                                <span class="swiper-slide-span" ratio="0.75">
                                </span>
                            </div>
                            <div class="swiper-slide swiper-slide-prev" style="width: 896px;">
                                <span class="swiper-slide-span" ratio="0.75">
                                </span>
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets">
                            <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
                            <span class="swiper-pagination-bullet"></span>
                            <span class="swiper-pagination-bullet"></span>
                            <span class="swiper-pagination-bullet"></span>
                            <span class="swiper-pagination-bullet"></span>
                            <span class="swiper-pagination-bullet"></span>
                            <span class="swiper-pagination-bullet"></span>
                            <span class="swiper-pagination-bullet"></span>
                            <span class="swiper-pagination-bullet"></span>
                            <span class="swiper-pagination-bullet"></span>
                        </div>
                    </div>
                    <button class="image-expansion-wrapper-prev" direction="left">
                        <svg width="48" height="48" fill="none" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M15.5 5.5l-6 6.5 6 6.5L14 20l-7.5-8L14 4l1.5 1.5z" fill="#FFF"></path>
                        </svg>
                    </button>
                    <button class="image-expansion-wrapper-next" direction="right">
                        <svg width="48" height="48" fill="none" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M8.5 18.5l6-6.5-6-6.5L10 4l7.5 8-7.5 8-1.5-1.5z" fill="#FFF"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>